body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	font: 0.85em Tahoma, Arial, Helvetica, sans-serif; 
	color: #000000; 
	line-height: 18px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	margin:0;
	text-align: left;
}

a, a:visited, a:active {
	color:#B74718;
}

p {
	font: 1em Tahoma, Arial, Helvetica, sans-serif; 
	color: #000000; 
	line-height: 18px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-align: left;
	margin: 0 0 15px 0;
}

em {
	color:#B74718;
}

h1 {
	font: 1em Tahoma, Arial, Helvetica, sans-serif; 
	font-weight: normal;
	font-size: 36px;
	color: #B74718;
	margin: 35px 0 15px 0;
	padding: 0;
}

h2 {
	font-size: 18px;
	font-weight: normal;
	padding: 0;
	margin: 10 0 20px 0;
	color: #B74718;
}

h2 a:link, h2 a:active, h2 a:visited {
	color: #B74718;
}

h2 a:hover {
	text-decoration: underline;
}

h3 {
	font-size: 18px;
	font-weight: normal;
	padding: 0;
	margin: 0 0 2px 0;
	color: #B74718;
}

h4 {
	font-size: 14px;
	font-weight: normal;
	padding: 0;
	margin: 0;
	color: #B74718;
}

h4 a:link, h4 a:active, h4 a:visited {
	color: #B74718;
	text-decoration: none;
}

h4 a:hover {
	text-decoration: underline;
}


ol,ul {
	list-style:none
}

blockquote,q {
	quotes:none
}

blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none
}

.usermessage
{
	background:#DAEFDA;
	border:solid 1px #777788;
	padding:10px;
}

.userwarning
{
	background:#ffbb00;
	border:solid 1px #777788;
	padding:10px;
}

/*  LAYOUT  */

#content {
	text-align: left;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}

#header {
	width: 100%;
	height:100px;
	padding-top: 1px;
	background-color: #2d2113;
	color:#cccccc;
}

#menu {
	width: 930px;
	margin-left: auto;
	margin-right: auto;
}

#welcomemessage {
	text-align: left;
	font-size: 20px;
	line-height:25px;
	color: #B74718;
	margin-top:0px;
}

#mainmenu {
	text-align: left;
	font-size: 16px;
	line-height:25px;
	color: #B74718;
	margin-top:10px;
}

#mainmenu a {
	background-color:#FFFFFC;
	padding:2px 7px;
	text-decoration: none;
}

#logo {
	margin-top:0px;
}

#footer {
	height: 25px;
	z-index: 100;
	width: 930px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	background-color: #2d2113;
	color: #cccccc;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px 0px 0px;
}

#footer a {
	color: #fff;
	text-decoration: underline;
	padding: 0;
	margin: 0;
}

/* PAGE SPECIFIC */

#authorimage {
	border: 1px solid #2d2113;
}

#cardoftheday {
	float:left;
}

#pokenheadline {
	font-weight:bold;
	color: #B74718;
	margin-top:5px;
	margin-bottom:0px;
}

#pokendate {
	color: #B74718;
	margin-top:0px;
	margin-bottom:10px;
	font-size:10pt;
}

#pokencard {
	float:left;
	width: 330px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;
}

#slogan {
	margin-top:35px;
	text-align:center;
}

#frontpageexpl {
	margin-top:5px;
	margin-bottom:20px;
}	

#loginbox {
	margin-top:15px;
	margin-bottom:15px;
}

#formlabel {
	margin-top: 10px;;
}

#search {
	margin-top:55px;
}
	
#searchfield {
	height:20px;
}
	
#terms {
	margin-top: 10px;
	font-size: 15px;
	line-height: 1.3em;
	color: #ccc;
}

#search {
	margin-top: 0px;
}

#smalltext {
	font-size:8pt;
}


/* FORMS */

#formtext {
	border:solid 1px #777788;
	padding: 3px;
	width:250px;
    font-family: Osaka,verdana,Sans-Serif;
    font-size: 12pt;
}

.disabledformtext {
	color:#000000;
	border:solid 1px #777788;
	padding: 3px;
	width:280px;
    font-family: Osaka,verdana,Sans-Serif;
    font-size: 12pt;
}

.formbutton {
	border:solid 1px #777788;
    font-family: Osaka,verdana,Sans-Serif;
    font-size: 12pt;
	height:30px;
	margin-top:15px;
}

.formerror
{
	background:#ffbb00;
	border:solid 1px #777788;
	padding:10px;
}

.formerrormsg
{
	color:#880000;
	font-size: 8pt;
}

