<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/admin.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Zeitgeist Administrator</title>
<!-- InstanceEndEditable -->

<link rel="stylesheet" type="text/css" href="@@{templatepath}@@/css/admin.css" />
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>

<div class="maincontent">
<div class="headmenu">
    <!-- TemplateBeginBlock name="pagetitle" -->
        <h1><img src="@@{templatepath}@@/nuvola/32x32/apps/kcontrol.png" alt="" /> Zeitgeist Administrator - @@{pagetitle}@@</h1>
    <!-- TemplateEndBlock -->
    
    <!-- TemplateBeginBlock name="mainmenu" -->
        <div class="menuleiste">
        
        <div class="menuicon"><a href="@@{[main.editapplication]}@@" alt=""><img src="@@{templatepath}@@/nuvola/22x22/actions/view_choose.png" alt="" align="left" border="0" /></a>
        <span class="menuitem"><a href="@@{[main.editapplication]}@@" alt="">Setup application</a></span></div>
        <div class="menuicon"><a href="@@{[main.editapplication]}@@" alt=""><img src="@@{templatepath}@@/nuvola/22x22/apps/kuser.png" alt="" align="left" border="0" /></a>
        <span class="menuitem"><a href="@@{[main.editusers]}@@" alt="">Manage application users</a></span></div>
        <div class="menuicon" style="float:right;"><a href="@@{[main.editapplication]}@@" alt=""><img src="@@{templatepath}@@/nuvola/22x22/apps/kcmdf.png" alt="" align="left" border="0" /></a>
        <span class="menuitem"><a href="@@{[main.editadmintool]}@@" alt="">Configure ZG Administrator</a></span></div>
        
        <div style="clear:both"></div>
        </div> 
    <!-- TemplateEndBlock -->
</div>

    <!-- TemplateBeginBlock name="usererrors" -->
        <p class="error">@@{usererror}@@</p>
    <!-- TemplateEndBlock -->
    
    <!-- TemplateBeginBlock name="userwarnings" -->
        <p class="warning">@@{userwarning}@@</p>
    <!-- TemplateEndBlock -->

<!-- InstanceBeginEditable name="body" -->

<p>Hallo!</p>
<p>@@{roottest}@@</p>

<!-- InstanceEndEditable -->

</div>

</body>
<!-- InstanceEnd --></html>
