<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/admin.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Zeitgeist Administrator</title>
<!-- InstanceEndEditable -->

<link rel="stylesheet" type="text/css" href="@@{templatepath}@@/css/admin.css" />
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>

<div class="maincontent">
<div class="headmenu">
        <h1><img src="@@{templatepath}@@/nuvola/32x32/apps/kcontrol.png" alt="" align="left" style="margin-right:10px;" /> ZGA <i>zeitgeist administration tool</i></h1>
    
    <!-- TemplateBeginBlock name="mainmenu" -->
        <div class="menuleiste">
        
        <div class="menuicon"><a href="@@{[setup.index]}@@" alt=""><img src="@@{templatepath}@@/nuvola/22x22/actions/gohome.png" alt="" align="left" border="0" /></a>
        <span class="menuitem"><a href="@@{[main.index]}@@" alt="">ZGA Index</a></span></div>
        <div class="menuicon"><a href="@@{[setup.index]}@@" alt=""><img src="@@{templatepath}@@/nuvola/22x22/apps/kcmkwm.png" alt="" align="left" border="0" /></a>
        <span class="menuitem"><a href="@@{[setup.index]}@@" alt="">Setup application</a></span></div>
        <div class="menuicon"><a href="@@{[users.index]}@@" alt=""><img src="@@{templatepath}@@/nuvola/22x22/apps/kuser.png" alt="" align="left" border="0" /></a>
        <span class="menuitem"><a href="@@{[users.index]}@@" alt="">Manage application users</a></span></div>
        <div class="menuicon"><a href="@@{[configure.index]}@@" alt=""><img src="@@{templatepath}@@/nuvola/22x22/apps/kcmdf.png" alt="" align="left" border="0" /></a>
        <span class="menuitem"><a href="@@{[configure.index]}@@" alt="">Configure ZGA</a></span></div>
        <div class="menuicon" style="float:right;"><a href="@@{[main.logout]}@@" alt=""><img src="@@{templatepath}@@/nuvola/22x22/actions/exit.png" alt="" align="left" border="0" /></a>
        <span class="menuitem"><a href="@@{[main.logout]}@@" alt="">Logout</a></span></div>
        
        <div style="clear:both"></div>
        </div> 
    <!-- TemplateEndBlock -->
</div>

<!-- InstanceBeginEditable name="pagetitle" -->

<h2>Setup Application</h2>
<p>This section helps you setting up your application, for example adding actions and modules to the database etc.</p>

<!-- InstanceEndEditable -->

    <!-- TemplateBeginBlock name="usermessage" -->
        <h3 class="usermessage"><img src="@@{templatepath}@@/nuvola/16x16/actions/ok.png" alt="" align="left" style="margin-right:5px;" /> @@{usermessage}@@</h3>
    <!-- TemplateEndBlock -->

    <!-- TemplateBeginBlock name="userwarnings" -->
        <h3 class="userwarning"><img src="@@{templatepath}@@/nuvola/16x16/actions/messagebox_info.png" alt="" align="left" style="margin-right:5px;" /> @@{userwarning}@@</h3>
    <!-- TemplateEndBlock -->

    <!-- TemplateBeginBlock name="usererrors" -->
        <h3 class="usererror"><img src="@@{templatepath}@@/nuvola/16x16/actions/no.png" alt="" align="left" style="margin-right:5px;" /> @@{usererror}@@</h3>
    <!-- TemplateEndBlock -->
    
<!-- InstanceBeginEditable name="body" -->

<div class="textboxhalf">
<table border="0" cellpadding="0" cellspacing="5">
	<tr>
		<td width="90">
			<p><img src="@@{templatepath}@@/nuvola/64x64/apps/kalzium.png" alt="Manage modules" border="0" /></p>
		</td>
		<td>
			<h2><a href="@@{[setup.managemodules]}@@" alt="">Manage modules</a></h2>
            <p>Manage the modules that are available for your application.</p>
		</td>
	</tr>
</table>
</div>

<div class="textboxhalf">
<table border="0" cellpadding="0" cellspacing="5">
	<tr>
		<td width="90">
			<p><img src="@@{templatepath}@@/nuvola/64x64/apps/flashkard.png" alt="Manage actions" border="0" /></p>
		</td>
		<td>
			<h2><a href="@@{[setup.manageactions]}@@" alt="">Manage actions</a></h2>
            <p>Manage the actions within the modules that are available for your application.</p>
		</td>
	</tr>
</table>
</div>

<div class="textboxhalf">
<table border="0" cellpadding="0" cellspacing="5">
	<tr>
		<td width="90">
			<p><img src="@@{templatepath}@@/nuvola/64x64/mimetypes/vcard.png" alt="Manage userroles" border="0" /></p>
		</td>
		<td>
			<h2><a href="@@{[setup.manageuserroles]}@@" alt="">Manage userroles</a></h2>
            <p>Manage the userroles that should be available for your application.</p>
		</td>
	</tr>
</table>
</div>

<div class="textboxhalf">
<table border="0" cellpadding="0" cellspacing="5">
	<tr>
		<td width="90">
			<p><img src="@@{templatepath}@@/nuvola/64x64/mimetypes/wordprocessing.png" alt="Manage userdata" border="0" /></p>
		</td>
		<td>
			<h2><a href="@@{[setup.manageusedata]}@@" alt="">Manage userdata</a></h2>
            <p>Manage what userdata should be used in your application.</p>
		</td>
	</tr>
</table>
</div>

<div style="clear:both"></div>

<!-- InstanceEndEditable -->

</div>

</body>
<!-- InstanceEnd --></html>
