<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/admin.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Zeitgeist Administrator</title>
<!-- InstanceEndEditable -->

<link rel="stylesheet" type="text/css" href="@@{templatepath}@@/css/admin.css" />
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>

<div class="maincontent">
<div class="headmenu">
        <h1><img src="@@{templatepath}@@/nuvola/32x32/apps/kcontrol.png" alt="" align="left" style="margin-right:10px;" /> ZGA <i>zeitgeist administration tool</i></h1>
    
    <!-- TemplateBeginBlock name="mainmenu" -->
        <div class="menuleiste">
        
        <div class="menuicon"><a href="@@{[setup.index]}@@" alt=""><img src="@@{templatepath}@@/nuvola/22x22/actions/gohome.png" alt="" align="left" border="0" /></a>
        <span class="menuitem"><a href="@@{[main.index]}@@" alt="">ZGA Index</a></span></div>
        <div class="menuicon"><a href="@@{[setup.index]}@@" alt=""><img src="@@{templatepath}@@/nuvola/22x22/apps/kcmkwm.png" alt="" align="left" border="0" /></a>
        <span class="menuitem"><a href="@@{[setup.index]}@@" alt="">Setup application</a></span></div>
        <div class="menuicon"><a href="@@{[users.index]}@@" alt=""><img src="@@{templatepath}@@/nuvola/22x22/apps/kuser.png" alt="" align="left" border="0" /></a>
        <span class="menuitem"><a href="@@{[users.index]}@@" alt="">Manage application users</a></span></div>
        <div class="menuicon"><a href="@@{[configure.index]}@@" alt=""><img src="@@{templatepath}@@/nuvola/22x22/apps/kcmdf.png" alt="" align="left" border="0" /></a>
        <span class="menuitem"><a href="@@{[configure.index]}@@" alt="">Configure ZGA</a></span></div>
        <div class="menuicon" style="float:right;"><a href="@@{[main.logout]}@@" alt=""><img src="@@{templatepath}@@/nuvola/22x22/actions/exit.png" alt="" align="left" border="0" /></a>
        <span class="menuitem"><a href="@@{[main.logout]}@@" alt="">Logout</a></span></div>
        
        <div style="clear:both"></div>
        </div> 
    <!-- TemplateEndBlock -->
</div>

<!-- InstanceBeginEditable name="pagetitle" -->

<!-- InstanceEndEditable -->

    <!-- TemplateBeginBlock name="usermessage" -->
        <h3 class="usermessage"><img src="@@{templatepath}@@/nuvola/16x16/actions/ok.png" alt="" align="left" style="margin-right:5px;" /> @@{usermessage}@@</h3>
    <!-- TemplateEndBlock -->

    <!-- TemplateBeginBlock name="userwarnings" -->
        <h3 class="userwarning"><img src="@@{templatepath}@@/nuvola/16x16/actions/messagebox_info.png" alt="" align="left" style="margin-right:5px;" /> @@{userwarning}@@</h3>
    <!-- TemplateEndBlock -->

    <!-- TemplateBeginBlock name="usererrors" -->
        <h3 class="usererror"><img src="@@{templatepath}@@/nuvola/16x16/actions/no.png" alt="" align="left" style="margin-right:5px;" /> @@{usererror}@@</h3>
    <!-- TemplateEndBlock -->
    
<!-- InstanceBeginEditable name="body" -->

<div class="textbox">
<h2><img src="@@{templatepath}@@/nuvola/22x22/actions/pencil.png" alt="" align="left" style="margin-right:10px;" /> Edit action</h2>

    <form method="post" action="@@{[setup.editaction]}@@" name="editaction" enctype="multipart/form-data; charset=utf-8">
        <input type="hidden" value="@@{action_id}@@" name="action_id" />
        <table border="0" cellpadding="0" cellspacing="0" style="margin-bottom:10px;">
            <tr>
                <td align="right" valign="top" nowrap width="110"><p>Action name*</p></td>
                <td align="left" valign="middle" nowrap><input type="text" maxlength="30" name="action_name" value="@@{action_name}@@" class="formtext" /></td>
            </tr>
            <tr>
                <td align="right" valign="top" nowrap><p>Description*</p></td>
                <td align="left" valign="middle" nowrap><textarea rows="5" name="action_description" class="formtext">@@{action_description}@@</textarea></td></td>
            </tr>
            <tr>
                <td align="right" valign="top" nowrap><p>Module</p></td>
                <td align="left" valign="middle" nowrap>
                <select name="action_module" size="1">
                <!-- TemplateBeginBlock name="moduleloop" -->
					<option value="@@{modulevalue}@@" @@{modulecheck}@@>@@{moduletext}@@</option>
				<!-- TemplateEndBlock -->
                </select>
            </tr>
            <tr>
                <td align="right" valign="top" nowrap><p>Action requires userright</p></td>
                <td align="left" valign="middle" nowrap><input type="checkbox" name="action_requiresuserright" style="border:solid 1px #444455;" @@{action_requiresuserright}@@ /></td>
            </tr>
            <tr>
                <td align="left" nowrap>&nbsp;</td>
                <td align="right" valign="middle" nowrap><input type="submit" name="submit" value="Save changes" class="formbutton" /></td>
            </tr>
        </table>
    </form>

</div>

<div class="textbox">
	<h3><img src="@@{templatepath}@@/nuvola/22x22/actions/2leftarrow.png" alt="" align="left" style="margin-right:10px;" /> <a href="@@{[setup.manageactions]}@@" alt="Back to action overview">Back to action overview</a> (changes will not be saved)</h3>
</div>

<!-- InstanceEndEditable -->

</div>

</body>
<!-- InstanceEnd --></html>
