<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/admin.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Zeitgeist Administrator</title>
<!-- InstanceEndEditable -->

<link rel="stylesheet" type="text/css" href="@@{templatepath}@@/css/admin.css" />

<script language="javascript" type="text/javascript">

	var bShowShortcuts = false;
	shortcutUp = new Image();
	shortcutUp.src = "@@{templatepath}@@/nuvola/22x22/actions/1uparrow.png";
	shortcutDown = new Image();
	shortcutDown.src = "@@{templatepath}@@/nuvola/22x22/actions/tool_dock.png";

	function showTooltip(text, event)
	{
		document.getElementById('Tooltip').innerHTML = text;

		var topPixel = event.clientY + 10;
		var leftPixel = event.clientX + 10;

		document.getElementById('Tooltip').style.top = topPixel + "px";
		document.getElementById('Tooltip').style.left = leftPixel + "px";
		document.getElementById('Tooltip').style.display = "block";
	}

	function hideTooltip()
	{
		document.getElementById('Tooltip').innerHTML = "";

		document.getElementById('Tooltip').style.top = "0px";
		document.getElementById('Tooltip').style.left = "0px";
		document.getElementById('Tooltip').style.display = "none";
	}
	
	function showShortcuts()
	{
		if (bShowShortcuts == false)
		{
			bShowShortcuts = true;
			document.getElementById('Shortcuts').style.display = "block";
			document.images["shortcutIcon"].src = shortcutUp.src;
		}
		else
		{
			bShowShortcuts = false;
			document.getElementById('Shortcuts').style.display = "none";
			document.images["shortcutIcon"].src = shortcutDown.src;
		}
	}

</script>
	
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>

<div id="Tooltip" class="tooltip" style="display: none;"></div>
<div class="maincontent">
<div class="headmenu">
		<h1><img src="@@{templatepath}@@/nuvola/32x32/apps/kcontrol.png" alt="" align="left" style="margin-right:10px;" /> ZGA <i>zeitgeist administration tool</i></h1>
	
	<!-- TemplateBeginBlock name="mainmenu" -->
		<div class="menuleiste">
		
		<div class="menuicon"><a href="@@{[main.index]}@@" alt=""><span onmousemove="showTooltip('ZGA Index', event)" onmouseout="hideTooltip()">
        <img src="@@{templatepath}@@/nuvola/22x22/actions/gohome.png" alt="" align="left" border="0" /></span></a></div>
		<div class="menuicon"><a href="@@{[setup.index]}@@" alt=""><span onmousemove="showTooltip('Setup application', event)" onmouseout="hideTooltip()">
        <img src="@@{templatepath}@@/nuvola/22x22/apps/kcmkwm.png" alt="" align="left" border="0" /></span></a></div>
		<div class="menuicon"><a href="@@{[users.index]}@@" alt=""><span onmousemove="showTooltip('Manage application users', event)" onmouseout="hideTooltip()">
        <img src="@@{templatepath}@@/nuvola/22x22/apps/kuser.png" alt="" align="left" border="0" /></span></a></div>
		<div class="menuicon"><a href="@@{[analyze.index]}@@" alt=""><span onmousemove="showTooltip('Analyze application traffic', event)" onmouseout="hideTooltip()">
        <img src="@@{templatepath}@@/nuvola/22x22/apps/kchart.png" alt="" align="left" border="0" /></span></a></div>
		<div class="menuicon"><a href="@@{[configure.index]}@@" alt=""><span onmousemove="showTooltip('Configure ZGA', event)" onmouseout="hideTooltip()">
        <img src="@@{templatepath}@@/nuvola/22x22/apps/kcmdf.png" alt="" align="left" border="0" /></span></a></div>
		<div class="menuicon" style="float:right;"><a href="@@{[main.logout]}@@" alt=""><span onmousemove="showTooltip('Logout', event)" onmouseout="hideTooltip()">
        <img src="@@{templatepath}@@/nuvola/22x22/actions/exit.png" alt="" align="left" border="0" /></span></a></div>
		<div class="menuicon" style="float:right;"><a href="javascript:showShortcuts();" alt=""><span onmousemove="showTooltip('Show/hide shortcuts', event)" onmouseout="hideTooltip()">
        <img src="@@{templatepath}@@/nuvola/22x22/actions/tool_dock.png" alt="" name="shortcutIcon" align="left" border="0" /></span></a></div>
		
		<div style="clear:both"></div>
		</div>
	<!-- TemplateEndBlock -->
</div>

<div class="textbox" id="Shortcuts" style="margin-top:-15px; padding:5px; display:none;">
	<div class="menuicon"><a href="@@{[setup.managemodules]}@@" alt=""><span onmousemove="showTooltip('Manage modules', event)" onmouseout="hideTooltip()">
	<img src="@@{templatepath}@@/nuvola/22x22/apps/kalzium.png" alt="" border="0" /></span></a></div>
	<div class="menuicon" style="margin-left:-5px; margin-right:15px;"><a href="@@{[setup.addmodule]}@@" alt=""><span onmousemove="showTooltip('Add new module', event)" onmouseout="hideTooltip()">
	<img src="@@{templatepath}@@/nuvola/16x16/actions/edit_add.png" alt="" border="0" /></span></a></div>

	<div class="menuicon"><a href="@@{[setup.manageactions]}@@" alt=""><span onmousemove="showTooltip('Manage actions', event)" onmouseout="hideTooltip()">
	<img src="@@{templatepath}@@/nuvola/22x22/apps/flashkard.png" alt="" align="left" border="0" /></span></a></div>
	<div class="menuicon" style="margin-left:-5px; margin-right:15px;"><a href="@@{[setup.addaction]}@@" alt=""><span onmousemove="showTooltip('Add new action', event)" onmouseout="hideTooltip()">
	<img src="@@{templatepath}@@/nuvola/16x16/actions/edit_add.png" alt="" border="0" /></span></a></div>

	<div class="menuicon"><a href="@@{[setup.manageuserroles]}@@" alt=""><span onmousemove="showTooltip('Manage userroles', event)" onmouseout="hideTooltip()">
	<img src="@@{templatepath}@@/nuvola/22x22/mimetypes/vcard.png" alt="" align="left" border="0" /></span></a></div>
	<div class="menuicon" style="margin-left:-5px; margin-right:15px;"><a href="@@{[setup.adduserrole]}@@" alt=""><span onmousemove="showTooltip('Add new userrole', event)" onmouseout="hideTooltip()">
	<img src="@@{templatepath}@@/nuvola/16x16/actions/edit_add.png" alt="" border="0" /></span></a></div>

	<div class="menuicon"><a href="@@{[setup.manageusedata]}@@" alt=""><span onmousemove="showTooltip('Manage userdata', event)" onmouseout="hideTooltip()">
	<img src="@@{templatepath}@@/nuvola/22x22/mimetypes/wordprocessing.png" alt="" align="left" border="0" /></span></a></div>

	<div class="menuicon"><a href="@@{[users.index]}@@" alt=""><span onmousemove="showTooltip('Manage users', event)" onmouseout="hideTooltip()">
	<img src="@@{templatepath}@@/nuvola/22x22/apps/kuser.png" alt="" align="left" border="0" /></span></a></div>
	<div class="menuicon" style="margin-left:-5px; margin-right:15px;"><a href="@@{[users.adduser]}@@" alt=""><span onmousemove="showTooltip('Add new user', event)" onmouseout="hideTooltip()">
	<img src="@@{templatepath}@@/nuvola/16x16/actions/edit_add.png" alt="" border="0" /></span></a></div>

	<div style="clear:both"></div>
</div>

<!-- InstanceBeginEditable name="pagetitle" -->

<!-- InstanceEndEditable -->

	<!-- TemplateBeginBlock name="usermessage" -->
		<h3 class="usermessage"><img src="@@{templatepath}@@/nuvola/16x16/actions/ok.png" alt="" align="left" style="margin-right:5px;" /> @@{usermessage}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="userwarnings" -->
		<h3 class="userwarning"><img src="@@{templatepath}@@/nuvola/16x16/actions/messagebox_info.png" alt="" align="left" style="margin-right:5px;" /> @@{userwarning}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="usererrors" -->
		<h3 class="usererror"><img src="@@{templatepath}@@/nuvola/16x16/actions/no.png" alt="" align="left" style="margin-right:5px;" /> @@{usererror}@@</h3>
	<!-- TemplateEndBlock -->
	
<!-- InstanceBeginEditable name="body" -->

<div class="textbox">
<h2><img src="@@{templatepath}@@/nuvola/22x22/actions/view_bottom.png" alt="" align="left" style="margin-right:10px;" /> Add new module</h2>

    <form method="post" action="@@{[setup.addmodule]}@@" name="addmodule" enctype="multipart/form-data; charset=utf-8">
        <table border="0" cellpadding="0" cellspacing="0" style="margin-bottom:10px;">
            <tr>
                <td align="right" valign="top" nowrap width="110"><p>Module name*</p></td>
                <td align="left" valign="middle" nowrap><input type="text" maxlength="30" name="module_name" value="@@{module_name}@@" class="formtext" /></td>
            </tr>
            <tr>
                <td align="right" valign="top" nowrap><p>Description*</p></td>
                <td align="left" valign="middle" nowrap><textarea rows="5" name="module_description" class="formtext">@@{module_description}@@</textarea></td></td>
            </tr>
            <tr>
                <td align="right" valign="top" nowrap><p>Module active</p></td>
                <td align="left" valign="middle" nowrap><input type="checkbox" name="module_active" style="border:solid 1px #444455;" @@{module_active}@@ /></td>
            </tr>
            <tr>
                <td align="left" nowrap>&nbsp;</td>
                <td align="right" valign="middle" nowrap><input type="submit" name="submit" value="Add module" class="formbutton" /></td>
            </tr>
        </table>
    </form>

</div>

<div class="textbox">
	<h3><img src="@@{templatepath}@@/nuvola/22x22/actions/2leftarrow.png" alt="" align="left" style="margin-right:10px;" /> <a href="@@{[setup.managemodules]}@@" alt="Back to module overview">Back to module overview</a> (module data will not be saved)</h3>
</div>

<!-- InstanceEndEditable -->

</div>

</body>
<!-- InstanceEnd --></html>
