<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/pokendesign.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Pokendesign - Willkommen auf Pokendesign</title>
<!-- InstanceEndEditable -->

<script src="http://missionpoken.de/mint/?js" type="text/javascript"></script>
<link rel="icon" type="image/png" href="favicon.png" />
      
<link rel="stylesheet" type="text/css" href="@@{templatepath}@@/css/pokendesign.css" />

<script language="javascript" type="text/javascript">

</script>
	
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>

	<div id="header">
    <div id="menu">
    	<table border="0">
        <tr><td>
		<img alt="Poken" id="logo" src="@@{templatepath}@@/images/missionpoken-weiss.png" />
        </td><td>
	
		<!-- TemplateBeginBlock name="userunknown" -->
				<div id="welcomemessage">Willkommen auf Pokendesign!</div>
                <div id="mainmenu">
   				<a href="@@{[main.index]}@@">Home</a>
				<a href="@@{[main.overview]}@@">Karten entdecken</a>
				<a href="@@{[main.login]}@@">Karte hinzufügen</a>
				<a href="@@{[main.login]}@@">Du bist nicht eingeloggt</a>
                </div>
		<!-- TemplateEndBlock -->
	
		<!-- TemplateBeginBlock name="userloggedin" -->
				<div id="welcomemessage">Hallo @@{username}@@, schön dich wieder zu sehen!</div>
                <div id="mainmenu">
   				<a href="@@{[main.index]}@@">Home</a>
				<a href="@@{[main.overview]}@@">Karten entdecken</a>
				<a href="@@{[cards.index]}@@">Deine Karten</a>
				<a href="@@{[cards.addcard]}@@">Karte hinzufügen</a>
				<a href="@@{[main.editprofile]}@@">Dein Profil</a>
				<a href="@@{[main.logout]}@@">Ausloggen</a>
                </div>
		<!-- TemplateEndBlock -->
        
        </td>
        </tr></table>
    </div>
	</div>

	<!-- TemplateBeginBlock name="usermessage" -->
		<h3 class="usermessage">@@{usermessage}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="userwarnings" -->
		<h3 class="userwarning">@@{userwarning}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="usererrors" -->
		<h3 class="userwarning">@@{usererror}@@</h3>
	<!-- TemplateEndBlock -->

	<div id="content">
	<!-- InstanceBeginEditable name="body" -->
		
			<div id="cardoftheday">
				<a href="@@{[main.showdetail]}@@&id=@@{cardid}@@">
                	<img src="@@{basepath}@@/uploads/@@{randomcard}@@" border="0" />
                </a>

                <p style="margin-bottom:0px;"><span id="pokenheadline">"@@{cardname}@@"</span> von <a href="@@{[main.showauthor]}@@&id=@@{cardauthorid}@@">@@{cardauthorname}@@</a></p>
                <!-- TemplateBeginBlock name="notfaved" -->
                    <p id="pokendate"><img alt="" src="@@{templatepath}@@/images/services_small.png" /> @@{favs}@@ Leute mögen diese Visitenkarte. <a href="@@{[main.addfav]}@@&id=@@{cardid}@@">Ich finde sie gut!</a></p>
                <!-- TemplateEndBlock -->
                
                <!-- TemplateBeginBlock name="faved" -->
                    <p id="pokendate"><img alt="" src="@@{templatepath}@@/images/services_small.png" /> @@{favs}@@ Leute mögen diese Visitenkarte.</p>
                <!-- TemplateEndBlock -->                    

			</div>

			<div id="slogan">
				<h1 style="margin-top:0px; margin-bottom:45px;">Hilf uns die Poken-Welt<br />bunter zu machen!</h1>

				<form method="post" action="@@{[main.search]}@@" name="search">
					<h2 id="search">Suche
					<input type="text" size="35" maxlength="20" name="q" id="formtext" />
					<input type="submit" name="Suche" value="Suche" class="formbutton" />
					</h2>
				</form>
			</div>
			
			<div style="clear:both"></div>

			<div id="frontpageexpl">
				<p>Pokendesign ist eine Plattform für Poken-Visitenkarten (falls du nicht weißt, was ein Poken ist: <a href="http://missionpoken.de/faq/" target="_blank">Hier wird dir geholfen</a>). Du kannst Hintergründe für Visitenkarten suchen, für gut befinden und selbst welche hochladen, damit andere sie finden können. Also: mach mit - <em>hilf uns die Poken-Welt bunter zu machen!</em></p>
			</div>
			

<!-- InstanceEndEditable -->

	</div>
	
	<div id="footer">
		Ein Service von <a id="service" href="http://missionpoken.de/">missionpoken.de</a> und <a id="service" href="http://pokenpokes.de/">pokenpokes.de</a> - 
		<a id="impressum" href="http://missionpoken.de/impressum/">Impressum</a> - 
		<a id="datenschutz" href="http://missionpoken.de/datenschutzerklaerung/">Datenschutzerklärung</a> - 
		<a id="agb" href="http://missionpoken.de/agb-und-wiederrufsbelehrung-von-missionpokende/">AGB und Widerrufsbelehrung</a>
	</div>

</body>
<!-- InstanceEnd --></html>
