<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/help.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Taskkun - @@{documenttitle}@@</title>
<!-- InstanceEndEditable -->

<link rel="stylesheet" type="text/css" href="@@{templatepath}@@/css/taskkun.css" />

<script language="javascript" type="text/javascript">

	function showTooltip(text, event)
	{
		document.getElementById('Tooltip').innerHTML = text;

		var topPixel = event.clientY + 10;
		var leftPixel = event.clientX + 10;

		x = (document.all) ? window.event.x + document.body.scrollLeft + 180: event.pageX;
		y = (document.all) ? window.event.y : event.pageY;
		document.getElementById('Tooltip').style.left = (x + 20) + "px";
		document.getElementById('Tooltip').style.top = (y + 20) + "px";
		document.getElementById('Tooltip').style.display = "block";
	}

	function hideTooltip()
	{
		document.getElementById('Tooltip').innerHTML = "";

		document.getElementById('Tooltip').style.top = "0px";
		document.getElementById('Tooltip').style.left = "0px";
		document.getElementById('Tooltip').style.display = "none";
	}

</script>
	
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>

<div id="Tooltip" class="tooltip" style="display:none; text-align:left;"></div>

<div class="headmenu">
	<!-- TemplateBeginBlock name="logoutbutton" -->
	<div class="menuicon" style="float:right; margin-top:5px;">
	
	<a href="@@{[help.index]}@@"><span onmousemove="showTooltip('Hilfe', event);" onmouseout="hideTooltip();">
	<img src="@@{templatepath}@@/nuvola/48x48/apps/filetypes.png" alt="" border="0" /></span></a>	

	</div>
	<!-- TemplateEndBlock -->
</div>

<div class="maincontent">

	<div class="headerbox">
			
		<table cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td valign="top">
					<h2 class="help">Go Taskkun</h2>
					<ul>
						<li class="help"><a href="@@{[help.index]}@@&topic=introduction" class="help">Einführung</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=quickstart" class="help">Schnellstart</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=beta" class="help">Hinweise zur Beta</a></li>
					</ul>
				</td>
				<td valign="top">
					<h2 class="help">Konfiguration</h2>
					<ul class="sortlink">
						<li class="help"><a href="@@{[help.index]}@@&topic=configexamples" class="help">Beispielhafte Konfigurationen</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=groups" class="help">Gruppen anlegen/verwalten</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=workflows" class="help">Aufgabenabläufe anlegen/verwalten</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=users" class="help">Benutzer anlegen/verwalten</a></li>
					</ul>
				</td>
				<td valign="top">
					<h2 class="help">Bedienung</h2>
					<ul class="sortlink">
						<li class="help"><a href="@@{[help.index]}@@&topic=userroles" class="help">Benutzerrollen</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=adhoc" class="help">Ad-Hoc Aufgaben</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=search" class="help">Aufgaben suchen</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=reports" class="help">Reports verwenden</a></li>
					</ul>
				</td>
				<td valign="top">
					<h2 class="help">Hinweise</h2>
					<ul class="sortlink">
						<li class="help"><a href="@@{[help.index]}@@&topic=versions" class="help">Versionen & Updates</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=impress" class="help">Über Menschenwerk</a></li>
					</ul>
				</td>
			</tr>
		</table>
	
	</div>

<!-- InstanceBeginEditable name="pagetitle" -->
<!-- InstanceEndEditable -->

	<!-- TemplateBeginBlock name="usermessage" -->
		<h3 class="usermessage"><img src="@@{templatepath}@@/nuvola/16x16/actions/ok.png" alt="" align="left" style="margin-right:5px;" /> @@{usermessage}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="userwarnings" -->
		<h3 class="userwarning"><img src="@@{templatepath}@@/nuvola/16x16/actions/messagebox_info.png" alt="" align="left" style="margin-right:5px;" /> @@{userwarning}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="usererrors" -->
		<h3 class="usererror"><img src="@@{templatepath}@@/nuvola/16x16/actions/no.png" alt="" align="left" style="margin-right:5px;" /> @@{usererror}@@</h3>
	<!-- TemplateEndBlock -->
	
<!-- InstanceBeginEditable name="body" -->

<div class="textbox">

	<table collspacing="0" cellpaddin="0" border="0">
		<tr>
			<td valign="top">
				<h2>Benutzer anlegen und verwalten</h2>
				<p>Als Administrator können Sie die Benutzer verwalten, die Ihrem Projektteam angehören. Sie können neue Benutzer anlegen, bestehende Benutzer und deren Attribute verwalten oder Benutzer deaktivieren bzw. löschen.</p>
			
				<p>Mehr Informationen über Administratoren erhalten Sie in dem Kapitel "Benutzerrollen".</p>
			</td>
			<td>
				<p><img src="@@{templatepath}@@/nuvola/128x128/apps/kdmconfig.png" alt="" border="0" /></p>
			</td>
		</tr>
	</table>

	<h3>Benutzerübersicht</h3>
	<p>In der Benutzerübersicht erhalten Sie eine Liste mit allen angelegten Benutzern Ihres Projektteams. Zu jedem Benutzer wird seine Benutzerolle und die Anzahl seiner aktiven, übernommenen Aufgaben angezeigt.</p>

	<p>Die Übersichtsliste kann nach Gruppenzugehörigkeit und Benutzerrolle gefiltert werden. Bitte beachten Sie, dass jeweils nur ein Filter gleichzeitig aktiv sein kann.</p>

	<table collspacing="0" cellpaddin="0" border="0">
		<tr>
			<td valign="top">
				<h3>Neue Benutzer anlegen</h3>
				<p>Über der Benuzerliste befindet sich der Punkt: <em>"Neuen Benutzer hinzufügen"</em>. Mit diesem können Sie einen neuen Benutzer zu Ihrem Projektteam hinzufügen.</p>
			
				<p>Die Informationen zu dem neuen Benutzer sind in 3 Blöcke geteilt:</p>
			
				<h3>Benutzerdaten</h3>
				<p>Hier können allgemeine Informationen zu dem Benutzer eingetragen werden. Die angegebene E-Mail-Adresse des Benutzers wird zur Anmeldund des Benutzers genutzt. Bitte beachten Sie, dass jede E-Mail nur einmal im System verwendet werden kann. Dies gilt übergreifend für alle Projektteams.</p>
			
				<p>Vorname und Name des Benutzers werden jeweils bei Informationen bezüglich Aufgaben und bei den Reports angezeigt.</p>
			
				<p>Weitere Angaben, wie Straße, Hausnummer etc. sind freiwillig und sind zum Beispiel sinnvoll bei verteilten Projektteams.</p>
			
				<h3>Benutzereigenschaften</h3>
				<p>Benutzerrolle spezifiziert die Rolle, die der neue Benutzer im System einnehmen wird. Mehr Informationen bezüglich Nutzerrollen erhalten Sie in dem Kapitel <em>"Benutzerrollen"</em>.</p>
			
				<p>Gruppen spezifiziert die Projektgruppen, in denen der neue Benutzer eingebunden wird. Mehr Informationen zu Gruppen finden Sie in dem Kapitel <em>"Gruppen"</em>.</p>
			
				<h3>Passwort</h3>
				<p>Das initiale Passwort für den neu angelegten Benutzer. Der Benutzer kann dies anschließend selbst in seinen Einstellungen ändern.</p>
			
				<h3>Bestehende Benutzer bearbeiten</h3>
				<p>In der Benutzerübersicht befindet sich rechts zu jedem Benutzer das Icon <em>"Benutzer bearbeiten"</em>. Hier können sie jeden Aspekt des Benutzers bearbeiten. Bitte beachten Sie, dass Änderungen an der Zugehörigkeit des Benutzers zu Benutzerrollen oder Benutzergruppen Probleme verursachen können, wenn der Benutzer gerade aktiv im System arbeitet. Es ist empfehlenswert, dass sich der betroffene Benutzer aus- und wieder einloggt.</p>
			</td>
			<td>
				<p style="text-align:center;"><img src="@@{templatepath}@@/images/help_users2.jpg" alt="" style="border:solid 1px #000000;" /></p>
			</td>
		</tr>
	</table>

	
	<table collspacing="0" cellpaddin="0" border="0">
		<tr>
			<td>
				<p style="text-align:center;"><img src="@@{templatepath}@@/images/help_users3.jpg" alt="" style="border:solid 1px #000000;" /></p>
			</td>
			<td valign="top">
				<h3>Benutzer löschen</h3>
				<p>In der Benutzerübersicht ist für jeden Benutzer ganz rechts ein Icon <em>"Benutzer löschen"</em> vorhanden. Damit können Sie Benutzer und deren Beiträge vollständig aus dem System entfernen.</p>

				<p><em>Bitte beachten Sie, dass mit dem Löschen eines Benutzers auch alle Aufgabenbeschreibungen und Tätigkeiten des Benutzers gelöscht werden.</em> Der Benutzer wird nicht mehr in Reports geführt. Abgeschlossene Aufgaben werden also in so fern verfälscht, als dass die Tätigkeiten des Benutzers gelöscht werden.</p>

				<p>Es werden alle "Spuren" des Benutzers aus dem System entfernt. Falls Sie die Aufgabenbeschreibungen und Tätigkeiten zur Dokumentation aufbewahren wollen, deaktivieren Sie den Benutzer statt dessen.</p>
			</td>
		</tr>
	</table>

	<table collspacing="0" cellpaddin="0" border="0">
		<tr>
			<td valign="top">
				<h3>Benutzer deaktivieren</h3>
				<p>Links neben dem Benutzernamen zeigt eine Ampel den Status des Benutzer an: grün für aktiv, rot für deaktiviert. Mit einem Klick auf die Statusanzeige können Sie den Status des Benutzers ändern.</p>
				<p>Ein deaktivierter Benutzer kann sich nicht mehr in Taskkun einloggen. Seine Aufgaben, Aufgabenbeschreibungen, und festgehaltene Tätigkeiten bleiben jedoch erhalten.</p>
			</td>
			<td>
				<p style="text-align:center;"><img src="@@{templatepath}@@/images/help_users4.jpg" alt="" style="border:solid 1px #000000;" /></p>
			</td>
		</tr>
	</table>

</div>

<!-- InstanceEndEditable -->

</div>
<div class="copyright">@@{versioninfo}@@</div>

</body>
<!-- InstanceEnd --></html>
