@charset "UTF-8";
.smallHorTabs .TabbedPanelsContentGroup {
	background:url(../images/tab-vert-bg.gif) top left no-repeat;
	width:318px;
	height:254px;
}
.mediumHorTabs .TabbedPanelsContentGroup {
	background:url(../images/tab-vert-user-bg.gif) top left no-repeat;
	width:318px;
	height:344px;
}


.TabbedPanels {
	margin: 0 0 0 0;
	padding: 0px;
	float: left;
	clear: none;
	width: 338px; /* IE Hack to force proper layout when preceded by a paragraph. (hasLayout Bug)*/
}
.TabbedPanelsTabGroup {
	margin:0;
	padding: 0px;
}
.TabbedPanelsTab {
	position: relative;
	float: left;
	list-style: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
	background:url(../images/tab3.gif) top right no-repeat;
	height:23px;
	margin: 0 -15px -1px 0;
	padding: 0 30px 0 0;
	color:#FFFFFF;
	position:relative;
	line-height:23px;
}
.TabbedPanelsTab:focus {
	outline:none;
}
.TabbedPanelsTab  b {
	background:url(../images/tab3.gif) top left no-repeat;
	height:23px;
	width:30px;
	display:block;
	float:left;
}

.TabbedPanelsTabHover {
	background:url(../images/tab3.gif) right center  no-repeat;
}
.TabbedPanelsTabHover b{
	background:url(../images/tab3.gif) left center  no-repeat;
}

.TabbedPanelsTabSelected {
	background:url(../images/tab3.gif) bottom right no-repeat;
	z-index:800;
}
.TabbedPanelsTabSelected b{
	background:url(../images/tab3.gif) bottom left no-repeat;
}
#tab1{
	margin-left:-1px;
}

.TabbedPanelsTab a {
	color: black;
	text-decoration: none;
}

.TabbedPanelsContentGroup {
	clear: both;
	margin: 0 0 0 0;
	padding:10px;
}

.TabbedPanelsContent {
	padding: 0px;
	overflow:auto;
}

.TabbedPanelsContentVisible {
}
