<html>
<head>
	<title>Welcome to Tic Tac Tutorial</title>
</head>

<body>

	<h1>Welcome to Tic Tac Tutorial</h1>

    <!-- TemplateBeginBlock name="creationError" -->
            <p><b>An error has occured. Please try again or contact an administrator..</b></p>
    <!-- TemplateEndBlock -->

    <p>Please enter your desired username and password here to create your user:</p>

    <form method="post" action="@@{[user.create]}@@" name="create">
        <table border="0">
            <tr>
                <td align="right" nowrap width="110"><p>Username</p></td>
                <td align="left" valign="middle" nowrap><input type="text" size="35" maxlength="20" name="username" style="width:250px;" /></td>
            </tr>
            <tr>
                <td align="right" nowrap><p>Password</p></td>
                <td align="left" valign="middle" nowrap><input type="password" size="35" maxlength="32" name="password" style="width:250px;" /></td>
            </tr>
            <tr>
                <td align="left" nowrap>&nbsp;</td>
                <td align="right" valign="middle" nowrap><input type="submit" name="create" value="Create User" /></td>
            </tr>
        </table>
    </form>

	<p><a href="@@{[main.index]}@@">Home</a></p>

</body>
</html>