<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>LineRacer - Das Strategierennen</title>
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<link href="css/typo.css" rel="stylesheet" type="text/css" />
<script src="SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="SpryAssets/TabbedPanels-ver.css" rel="stylesheet" type="text/css" />
<link href="SpryAssets/TabbedPanels-hor.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="canvas">
    <div id="header">
      <div class="loginarea">
        <div class="playerdata">
        	<img src="#"  alt="Playerbild" class="avatar"  />
        	<b>Playername</b><br />
            Punkte: 873467pt<br />
            Gesamtwertung: Platz 34
        </div>
        <div class="options">
        	<a href="#" class="btn01"><span>Mein Profil</span></a>
            <a href="#" class="btn01"><span>Abmelden</span></a>
        </div>
      </div>
      <a href="#"><img src="images/logo-lineracer.png" alt="LineRacer - Das Strategierennen" id="logo" /></a>
      <ul class="maintabnav">
        <li><a href="#" class="m1 selected"><b></b><em>Boxengasse</em></a></li>
        <li><a href="#" class="m2"><b></b><em>Lobby</em></a></li>
        <li><a href="#" class="m3"><b></b><em>Statistik-Center</em></a></li>
        <li><a href="#" class="m4"><b></b><em>Shop</em></a></li>
      </ul>
    </div>
    <div id="content">
      <div class="fullscreenbox">
      </div>
      
      
      <div id="footer"></div>
    </div>
</div>
</body>
</html>
