<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/LR-LoggedIn.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>LineRacer - Lobby</title>
<!-- InstanceEndEditable -->

<script type="text/javascript" src="@@{templatepath}@@//js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="@@{templatepath}@@//js/ui.core.js"></script>
<script type="text/javascript" src="@@{templatepath}@@//js/ui.tabs.js"></script>
<link href="@@{templatepath}@@//css/layout.css" rel="stylesheet" type="text/css" />
<link href="@@{templatepath}@@//css/typo.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">

function login()
{
  document.loginform.submit();
}

</script> 

<!-- InstanceParam name="Startseite" type="boolean" value="false" -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><!-- InstanceParam name="TabBoxengasse" type="text" value="m1" --><!-- InstanceParam name="TabLobby" type="text" value="m2 selected" --><!-- InstanceParam name="TabStatistikCenter" type="text" value="m3" --><!-- InstanceParam name="TabShop" type="text" value="m4" -->
</head>
<body>
<div id="canvas">
<div id="header">

      <div class="loginarea">

		<!-- TemplateBeginBlock name="loginbox" -->
		<form method="post" action="@@{[main.login]}@@" name="loginform" id="loginform">
        	<label>Username</label><input type="text" name="username" class="txtbig" />
            <label>Passwort</label><input type="text" name="password" class="txtbig" />
			<input type="hidden" name="login" value="Login" />
            <a href="javascript:login()" class="btn01 right"><span>Login</span></a>
        </form>
		<!-- TemplateEndBlock -->

		<!-- TemplateBeginBlock name="demoplayerbox" -->
            <a href="@@{[game.enddemo]}@@" class="btn01 right"><span>Testspiel beenden</span></a>
		<!-- TemplateEndBlock -->

		<!-- TemplateBeginBlock name="logoutbox" -->
		<div class="playerdata">
        	<img src="@@{templatepath}@@/images/dummy-avatar.gif"  alt="Playerbild" class="avatar"  />
        	<b>@@{playername}@@</b><br />
            Punkte: @@{racepoints}@@<br />
            Gesamtwertung: Platz @@{playerposition}@@
        </div>
        
        <div class="options">
        	<a href="@@{[profile.index]}@@" class="btn01 right"><span>Dein Profil</span></a>
            <a href="@@{[main.logout]}@@" class="btn01 right"><span>Abmelden</span></a>
        </div>
		<!-- TemplateEndBlock -->

      </div>

	<div class="usermessagearea">
    
	<!-- TemplateBeginBlock name="lobbybox" -->
		<div class="textbox" style="width:400px;">
			<p><img src="@@{templatepath}@@/images/messagebox_info.png" alt="" align="left" style="margin-right:5px;margin-left:5px;" /> Du wartest bereits auf ein Rennen: <a href="@@{[lobby.showgameroom]}@@">zur Rennvorbereitung</a></p>
		</div>
	<!-- TemplateEndBlock -->	
       
	<!-- TemplateBeginBlock name="gamebox" -->
		<div class="textbox" style="width:400px;">
			<p><img src="@@{templatepath}@@/images/messagebox_info.png" alt="" align="left" style="margin-right:5px;margin-left:5px;" /> Du fährst gerade ein Rennen: <a href="@@{[game.index]}@@">zum Rennen</a></p>
		</div>
	<!-- TemplateEndBlock -->
        
	<!-- TemplateBeginBlock name="usermessages" -->
		<div class="usermessage"><p><img src="@@{templatepath}@@/images/ok.png" alt="" align="left" style="margin-right:5px;margin-left:5px;" /> @@{usermessage}@@</p></div>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="userwarnings" -->
		<div class="userwarning"><p><img src="@@{templatepath}@@/images/messagebox_info.png" alt="" align="left" style="margin-right:5px;margin-left:5px;" /> @@{userwarning}@@</p></div>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="usererrors" -->
		<div class="usererror"><p><img src="@@{templatepath}@@/images/no.png" alt="" align="left" style="margin-right:5px;margin-left:5px;" /> @@{usererror}@@</p></div>
	<!-- TemplateEndBlock -->
	</div>

      <a href="@@{basepath}@@"><img src="@@{templatepath}@@/images/logo-lineracer.png" alt="LineRacer - Das Strategierennen" id="logo" /></a>
      
      <ul class="maintabnav">
        <li><a href="@@{[main.index]}@@" class="m1"><b></b><em>Boxengasse</em></a></li>
        <li><a href="@@{[lobby.index]}@@" class="m2 selected"><b></b><em>Lobby</em></a></li>
        <li><a href="@@{[statistics.index]}@@" class="m3"><b></b><em>Statistik-Center</em></a></li>
        <li><a href="@@{[shop.index]}@@" class="m4"><b></b><em>Shop</em></a></li>
      </ul>

    <div id="content">
      
      
      
      <div class="fullscreenbox">
        <!-- InstanceBeginEditable name="FullscreenContent" -->
				<h1>Lobby</h1>
		
				<table border="0" cellpadding="0" cellspacing="1" class="datatable">
				<tr>
					<th>ID</th>
					<th>Aktuelle Spieler</th>
					<th>Max Spieler</th>
					<th>Strecke</th>
					<th>Streckenbeschreibung</th>
					<th>Teilnehmen</th>
				</tr>

				<!-- TemplateBeginBlock name="lobby_row" -->
					<tr>
						<td class="light">@@{lobby_id}@@</td>
						<td class="dark">@@{lobby_currentplayers}@@</td>
						<td class="light">@@{lobby_maxplayers}@@</td>
						<td class="dark">@@{circuit_name}@@</td>
						<td class="light">@@{circuit_description}@@</td>
						<td class="dark"><p><a href="@@{[lobby.joingameroom]}@@&lobbyid=@@{lobby_id}@@" alt="Spiel beitreten">beitreten</a></p></td>
					</tr>
				<!-- TemplateEndBlock -->		
				</table>

				<p><a href="@@{[lobby.creategameroom]}@@">Neues Spiel erstellen</a></p>
		
		<!-- InstanceEndEditable -->      </div>
      
        
      <div id="footer"></div>
    </div>
</div>
</body>
<!-- InstanceEnd --></html>
