<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lineracer.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Lineracer</title>
<!-- InstanceEndEditable -->

<link rel="stylesheet" type="text/css" href="@@{templatepath}@@/css/lineracer.css" />

<script language="javascript" type="text/javascript">


</script>

<!-- InstanceBeginEditable name="head" -->

	<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/includes/Spry/SpryData.js"></script>
	<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/includes/Spry/xpath.js"></script>
	<script language="Javascript" type="text/javascript" src="@@{templatepath}@@/includes/Spry/SpryNestedXMLDataSet.js"></script>
	<script language="Javascript" type="text/javascript" src="@@{templatepath}@@/js/SpryExtensions.js"></script>

	<script type="text/javascript">

		var dsLobbydata = new Spry.Data.XMLDataSet("@@{[dataserver.getlobbydata]}@@", "container/element");
		dsLobbydata.setColumnType("lobby_id", "number");

	</script>

<!-- InstanceEndEditable -->
</head>

<body>

	<!-- TemplateBeginBlock name="usermessage" -->
		<h3 class="usermessage"><img src="@@{templatepath}@@/nuvola/16x16/actions/ok.png" alt="" align="left" style="margin-right:5px;" /> @@{usermessage}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="userwarnings" -->
		<h3 class="userwarning"><img src="@@{templatepath}@@/nuvola/16x16/actions/messagebox_info.png" alt="" align="left" style="margin-right:5px;" /> @@{userwarning}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="usererrors" -->
		<h3 class="usererror"><img src="@@{templatepath}@@/nuvola/16x16/actions/no.png" alt="" align="left" style="margin-right:5px;" /> @@{usererror}@@</h3>
	<!-- TemplateEndBlock -->

	<h1>Lineracer</h1>

	<!-- TemplateBeginBlock name="loginbox" -->
		<div style="border:1px solid #000000; margin-left:10px; width:400px;">
			<form method="post" action="@@{[main.login]}@@" name="login">

				<table border="0" cellpadding="0" cellspacing="0" style="margin-bottom:10px;">
					<tr>
						<td align="right" nowrap width="110"><p>Username</p></td>
						<td align="left" valign="middle" nowrap><input type="text" size="35" maxlength="20" name="username" class="formtext" style="width:250px;" /></td>
					</tr>
					<tr>
						<td align="right" nowrap><p>Password</p></td>
						<td align="left" valign="middle" nowrap><input type="password" size="35" maxlength="32" name="password" class="formtext" style="width:250px;" /></td>

					</tr>
					<tr>
						<td align="left" nowrap>&nbsp;</td>
						<td align="right" valign="middle" nowrap><input type="submit" name="login" value="Login" class="formbutton" /></td>
					</tr>
				</table>
			</form>
		</div>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="logoutbox" -->
		<div style="border:1px solid #000000; margin-left:10px; width:400px;">
			<p>Hallo, du bist eingeloggt<br />
			<a href="@@{[main.logout]}@@">Ausloggen</a></p>
		</div>
	<!-- TemplateEndBlock -->

<!-- InstanceBeginEditable name="body" -->

<p>Main Index</p>

<p><a href="@@{[pregame.creategame]}@@">Neues Spiel erstellen</a></p>

<p>Aktuelle Spiele:</p>
<div class="textbox">
	<div spry:region="dsLobbydata">
    <div spry:state="loading"><p style="text-align:center;"><img src="@@{templatepath}@@/images/loading.gif" alt="" /></p></div>

	<div spry:state="ready">
	    <table border="0" cellspacing="0" cellpadding="0" width=100%">
	        <tr class="tablehead">
				<th><p><a onclick="dsLobbydata.sort('lobby_id');">ID</a></p></th>
				<th><p>Spieler 1</p></th>
				<th><p>Spieler 2</p></th>
				<th><p>Spieler 3</p></th>
				<th><p>Spieler 4</p></th>
				<th><p><a onclick="dsLobbydata.sort('lobby_maxplayers');">max Spieler</a></p></th>
				<th><p><a onclick="dsLobbydata.sort('lobby_circuit');">Strecke</a></p></th>
				<th><p>Aktion</p></th>
	        </tr>
	        <tr class="{ds_EvenOddRow}" spry:repeat="dsLobbydata">
				<td><p>{dsLobbydata::lobby_id}</p></td>
				<td><p>{dsLobbydata::lobby_creator}</p></td>
				<td>
					<div spry:choose="spry:choose">
						<div spry:when="'{dsLobbydata::lobby_player2}' == ''"><p>-</p></div>
						<div spry:default="spry:default">
							<p>{dsLobbydata::lobby_player2}</p>
						</div>
					</div>
				</td>
				<td>
					<div spry:choose="spry:choose">
						<div spry:when="'{dsLobbydata::lobby_player3}' == ''"><p>-</p></div>
						<div spry:default="spry:default">
							<p>{dsLobbydata::lobby_player3}</p>
						</div>
					</div>
				</td>
				<td>
					<div spry:choose="spry:choose">
						<div spry:when="'{dsLobbydata::lobby_player4}' == ''"><p>-</p></div>
						<div spry:default="spry:default">
							<p>{dsLobbydata::lobby_player4}</p>
						</div>
					</div>
				</td>
				<td><p>{dsLobbydata::lobby_maxplayers}</p></td>
				<td><p>{dsLobbydata::circuit_name}</p></td>
				<td width="90"><p>
				<a href="@@{[pregame.joingame]}@@&lobbyid={dsLobbydata::lobby_id}" alt="Spiel beitreten">beitreten</a>
                </p></td>
	        </tr>
	    </table>
    </div>
	</div>
</div>

<p><a href="@@{[main.index]}@@">Zurück</a></p>

<!-- InstanceEndEditable -->

</body>
<!-- InstanceEnd --></html>
