<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/LR-LoggedIn.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>LineRacer - Boxengasse</title>
<!-- InstanceEndEditable -->

<script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="js/ui.core.js"></script>
<script type="text/javascript" src="js/ui.tabs.js"></script>
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<link href="css/typo.css" rel="stylesheet" type="text/css" />

<!-- InstanceParam name="Startseite" type="boolean" value="true" -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><!-- InstanceParam name="TabBoxengasse" type="text" value="m1 selected" --><!-- InstanceParam name="TabLobby" type="text" value="m2" --><!-- InstanceParam name="TabStatistikCenter" type="text" value="m3" --><!-- InstanceParam name="TabShop" type="text" value="m4" -->
</head>
<body>
<div id="canvas">
<div id="header">
      <div class="loginarea">
        
        
        <div class="playerdata">
        	<img src="images/dummy-avatar.gif"  alt="Playerbild" class="avatar"  />
        	<b>Playername</b><br />
            Punkte: 873467pt<br />
            Gesamtwertung: Platz 34
        </div>
        <div class="options">
        	<a href="#" class="btn01 right"><span>Mein Profil</span></a>
            <a href="TPL-Startseite.html" class="btn01 right"><span>Abmelden</span></a>        </div>
		
      </div>
      <a href="#"><img src="images/logo-lineracer.png" alt="LineRacer - Das Strategierennen" id="logo" /></a>
      
      <ul class="maintabnav">
        <li><a href="TPL-Boxengasse.html" class="m1 selected"><b></b><em>Boxengasse</em></a></li>
        <li><a href="TPL-Lobby.html" class="m2"><b></b><em>Lobby</em></a></li>
        <li><a href="TPL-StatistikCenter.html" class="m3"><b></b><em>Statistik-Center</em></a></li>
        <li><a href="TPL-Shop.html" class="m4"><b></b><em>Shop</em></a></li>
      </ul>
      
    <div id="content">
      
      
      <div class="flasharea-user"><!-- InstanceBeginEditable name="Flashbanner" --><img src="images/noflash-user.gif" alt="LineRacer - News für User" /><!-- InstanceEndEditable --></div>
      <script type="text/javascript">
			$(function() {
				$("#htabs").tabs();
			});
			$(function() {
				$("#vtabs").tabs().addClass('ui-tabs-vertical ui-helper-clearfix');
				$("#vtabs li").removeClass('ui-corner-top').addClass('ui-corner-left');
			});
		</script>
      <div class="leftbox-user">
        <div id="vtabs" class="mediumTabs">
        	<ul class="tabs">
                <li ><a href="#vtabs-1" class="m1">Boxentalk</a></li>
                <li ><a href="#vtabs-2" class="m2">Spielbeschreibung</a></li>
                <li ><a href="#vtabs-3" class="m3">Screenshots</a></li>
                <li ><a href="#vtabs-4" class="m3">Neu anmelden</a></li>
        	</ul>
            <div class="tabcontent" id="vtabs-1">
				<!-- InstanceBeginEditable name="Content-Boxentalk" -->
           	  <h1>Boxentalk</h1>
                <div class="talkitem">
                	<span>17:25 Uhr - Mr. X schreibt:</span>
                    <p>
                    Wer hat Lust auf ein Rennen so gegen 18:30 Uhr?
                    </p>
                </div>
                <div class="talkitem">
                	<span>17:25 Uhr - Mr. X schreibt:</span>
                    <p>
                    Wer hat Lust auf ein Rennen so gegen 18:30 Uhr?
                    </p>
                </div>
                <div class="talkitem">
                	<span>17:25 Uhr - Mr. X schreibt:</span>
                    <p>
                    Wer hat Lust auf ein Rennen so gegen 18:30 Uhr?
                    </p>
                </div>
                <div class="talkitem">
                	<span>17:25 Uhr - Mr. X schreibt:</span>
                    <p>
                    Wer hat Lust auf ein Rennen so gegen 18:30 Uhr?
                    </p>
                </div>
                <!-- InstanceEndEditable -->
            </div>
            <div class="tabcontent" id="vtabs-2">
				<!-- InstanceBeginEditable name="Content-Spielbeschreibung" -->
                <h1>Spielbeschreibung</h1>
                <p><b>Strategische Rennen und geballte Multiplayer Action erwarten Dich bei LineRacer.</b></p>
                <p>LineRacer ist kein gewöhnliches Browsergame. LineRacer bietet eine einzigartige strategische Gestaltung von rundenbasierten Rennen.</p>
                <ul>
                  <li>Erarbeite Dir einen Ruf!</li>
                  <li>Behaupte Dich im Rennen gegen Mitspieler.</li>
                  <li>Überrasche deine Gegner mit Boosterkarten</li>
                  <li>Finde die perfekte Lösung für jede Strecke</li>
                </ul>
                <!-- InstanceEndEditable -->
            </div>
            <div class="tabcontent" id="vtabs-3">
				<!-- InstanceBeginEditable name="Content-Screenshots" -->
                <h1>Screenshots</h1>
                <img class="screenshot" src="images/dummy-screenshot.jpg" alt="LineRacer - InGame Screenshot"  /> 
                <img class="screenshot" src="images/dummy-screenshot.jpg" alt="LineRacer - InGame Screenshot"  /> 
                <img class="screenshot" src="images/dummy-screenshot.jpg" alt="LineRacer - InGame Screenshot"  /> 
                <img class="screenshot" src="images/dummy-screenshot.jpg" alt="LineRacer - InGame Screenshot"  /> 
                <img class="screenshot" src="images/dummy-screenshot.jpg" alt="LineRacer - InGame Screenshot"  /> 
                <img class="screenshot" src="images/dummy-screenshot.jpg" alt="LineRacer - InGame Screenshot"  /> 
                <img class="screenshot" src="images/dummy-screenshot.jpg" alt="LineRacer - InGame Screenshot"  /> 
                <img class="screenshot" src="images/dummy-screenshot.jpg" alt="LineRacer - InGame Screenshot"  /> 
                <img class="screenshot" src="images/dummy-screenshot.jpg" alt="LineRacer - InGame Screenshot"  />
                <!-- InstanceEndEditable -->
            </div>
            <div class="tabcontent" id="vtabs-4">
				<!-- InstanceBeginEditable name="Content-Neuanmelden" -->
                <h1>Neu anmelden</h1>
                <p>
                <form action="#" id="registerform">
                  <label>Username</label>
                  <input type="text" id="username" class="txtbig" />
                  <label>Passwort</label>
                  <input type="text" class="txtbig" />
                  <label>Passwort bestätigen</label>
                  <input type="text" class="txtbig" />
                  <label>E-Mail Adresse</label>
                  <input type="text" class="txtbig" />
                  <label>Geburtsdatum</label>
                  <input type="text" class="txtsmall" />
                  <input type="text" class="txtsmall" />
                  <input type="text" class="txtnormal" />
                  <label>Land</label>
                  <select class="txtbig">
                    <option>Deutschland</option>
                    <option>Österreich</option>
                    <option>Schweiz</option>
                    <option>Sonstiges</option>
                  </select>
                  <a href="#" class="btn01 right"><span>Registrieren</span></a>
                </form>
                </p>
                <!-- InstanceEndEditable -->
            </div>  
        </div>
</div>
      <div class="rightbox-user">
      <div id="htabs" class="mediumHorTabs">
        <ul class="tabs">
          <li ><a href="#htabs-1" class="m1"><b></b><em>Leaderboards</em></a></li>
          <li ><a href="#htabs-2" class="m2"><b></b><em>Fahrerlager</em></a></li>
          <li ><a href="#htabs-3" class="m3"><b></b><em>Screenshots</em></a></li>
        </ul>
        <div class="tabcontent" id="htabs-1">
<!-- InstanceBeginEditable name="Content-Leaderboard" -->
            <label>Sortieren nach :</label> <select class="txtbig"><option>Strecke</option><option>Punkte</option></select>
            <table border="0" cellpadding="0" cellspacing="1" class="datatable">
                  <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Punkte</th>
                  </tr>
                  <tr>
                    <td class="light">1</td>
                    <td class="dark">Jonny Deep</td>
                    <td class="light">32456</td>
                  </tr>
                  <tr>
                    <td class="light">1</td>
                    <td class="dark">Jonny Deep</td>
                    <td class="light">32456</td>
                  </tr>
                  <tr>
                    <td class="light">1</td>
                    <td class="dark">Jonny Deep</td>
                    <td class="light">32456</td>
                  </tr>
                  <tr>
                    <td class="light">1</td>
                    <td class="dark">Jonny Deep</td>
                    <td class="light">32456</td>
                  </tr>
                  <tr>
                    <td class="light">1</td>
                    <td class="dark">Jonny Deep</td>
                    <td class="light">32456</td>
                  </tr>
                  <tr>
                    <td class="light">1</td>
                    <td class="dark">Jonny Deep</td>
                    <td class="light">32456</td>
                  </tr>
                  <tr>
                    <td class="light">1</td>
                    <td class="dark">Jonny Deep</td>
                    <td class="light">32456</td>
                  </tr>
                  <tr>
                    <td class="light">1</td>
                    <td class="dark">Jonny Deep</td>
                    <td class="light">32456</td>
                  </tr>
                  <tr>
                    <td class="light">1</td>
                    <td class="dark">Jonny Deep</td>
                    <td class="light">32456</td>
                  </tr>
                  <tr>
                    <td class="light">1</td>
                    <td class="dark">Jonny Deep</td>
                    <td class="light">32456</td>
                  </tr>
                  <tr>
                    <td class="light">1</td>
                    <td class="dark">Jonny Deep</td>
                    <td class="light">32456</td>
                  </tr>
                  <tr>
                    <td class="light">1</td>
                    <td class="dark">Jonny Deep</td>
                    <td class="light">32456</td>
                  </tr>
                  <tr>
                    <td class="light">1</td>
                    <td class="dark">Jonny Deep</td>
                    <td class="light">32456</td>
                  </tr>
                  <tr>
                    <td class="light">1</td>
                    <td class="dark">Jonny Deep</td>
                    <td class="light">32456</td>
                  </tr>
              </table>
              <!-- InstanceEndEditable --> </div>
        <div id="htabs-2" class="tabcontent"><!-- InstanceBeginEditable name="Content-Fahrerlager" -->Content Fahrerlager<!-- InstanceEndEditable --></div>
        <div id="htabs-3" class="tabcontent">Test Tab 3</div>
      </div>
      </div>
      
      
        
      <div id="footer"></div>
    </div>
</div>
</body>
<!-- InstanceEnd --></html>
