<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/wellnesswelt.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Wellnesswelt Administrationsportal - @@{documenttitle}@@</title>

<link rel="stylesheet" type="text/css" href="@@{templatepath}@@/css/wellnesswelt.css" />
<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/js/common.js"></script>
<script language="JavaScript" src="@@{templatepath}@@/js/cross.js"></script>
<script language="JavaScript" src="@@{templatepath}@@/js/tooltips.js"></script>
	
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body onload='setBallon("TooltipID");'>

<div id="TooltipID" style="position:absolute; visibility:hidden; left:-200px; z-index: 100"></div>

<div class="headmenu">

	<!-- TemplateBeginBlock name="navigation" -->
	<div style="margin-top:35px;">
		<div style="float:left; margin:10px;"><a href="@@{[main.index]}@@"><span onmousemove="showBallon('Hauptseite');" onmouseout="hideBallon();">
		<img src="@@{templatepath}@@/nuvola/48x48/actions/gohome.png" alt="" border="0" /></span></a></div>

		<div style="float:left; margin:10px; margin-left:40px;"><a href="@@{[address.index]}@@"><span onmousemove="showBallon('Adressverwaltung');" onmouseout="hideBallon();">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kaddressbook.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px; margin-left:10px;"><a href="@@{[users.index]}@@"><span onmousemove="showBallon('Benutzerverwaltung');" onmouseout="hideBallon();">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kdmconfig.png" alt="" border="0" /></span></a></div>

		<div style="float:right; margin:10px; margin-left:10px;"><a href="@@{[main.logout]}@@"><span onmousemove="showBallon('Logout');" onmouseout="hideBallon();">
	<img src="@@{templatepath}@@/nuvola/48x48/actions/exit.png" alt="" border="0" /></span></a></div>
	</div>
	<!-- TemplateEndBlock -->

</div>

<div class="subheadmenu">
</div>

<!-- InstanceBeginEditable name="pagetitle" -->
<!-- InstanceEndEditable -->
	
<div class="maincontent">
	<!-- TemplateBeginBlock name="usermessage" -->
		<h3 class="usermessage"><img src="@@{templatepath}@@/nuvola/16x16/actions/ok.png" alt="" align="left" style="margin-right:5px;" /> @@{usermessage}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="userwarnings" -->
		<h3 class="userwarning"><img src="@@{templatepath}@@/nuvola/16x16/actions/messagebox_info.png" alt="" align="left" style="margin-right:5px;" /> @@{userwarning}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="usererrors" -->
		<h3 class="usererror"><img src="@@{templatepath}@@/nuvola/16x16/actions/no.png" alt="" align="left" style="margin-right:5px;" /> @@{usererror}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- InstanceBeginEditable name="body" -->

<div class="textbox">
	<table border="0" cellpadding="0" cellspacing="5" width="950" style="margin-left:auto; margin-right:auto; margin-top:20px; margin-bottom:15px;">
		<tr>
			<td width="180">
				<p><img src="@@{templatepath}@@/nuvola/128x128/apps/important.png" alt="Authentication required" border="0" /></p>
			</td>
			<td valign="middle">
				<h2 style="margin-bottom:0px;">Wellnesswelt Administrationsportal</h2>
				<p>Bitte geben Sie Ihre Zugangsdaten ein..</p>
	
				<form method="post" action="@@{[main.login]}@@" name="login">
					<table border="0" cellpadding="0" cellspacing="0" style="margin-bottom:10px; margin-left:15px;">
						<tr>
							<td align="right" nowrap="nowrap" width="110"><p class="formlabel">E-Mail</p></td>
							<td align="left" valign="middle" nowrap="nowrap"><input type="text" size="60" maxlength="60" name="username" class="formtext" style="width:300px;" /></td>
						</tr>
						<tr>
							<td align="right" nowrap="nowrap"><p class="formlabel">Passwort</p></td>
							<td align="left" valign="middle" nowrap="nowrap"><input type="password" size="60" maxlength="60" name="password" class="formtext" style="width:300px;" /></td>
						</tr>
						<tr>
							<td align="left" nowrap="nowrap">&nbsp;</td>
							<td align="right" valign="middle" nowrap="nowrap"><input type="submit" name="login" value="Login" class="formbutton" /></td>
						</tr>
					</table>
				</form>
			</td>
			<!--
			<td width="200" valign="top">
				<p style="text-align:right; margin-top:0px;"><a href="@@{[register.index]}@@">
				<span onmousemove="showTooltip('Neue Instanz registrieren', event);" onmouseout="hideTooltip();">
				<img src="@@{templatepath}@@/nuvola/48x48/actions/edit_add.png" alt="Neue Instanz registrieren" border="0" />
				</span></a></p>

				<p style="text-align:right;"><a href="@@{[help.index]}@@" target="_blank">
				<span onmousemove="showTooltip('Taskkun Hilfe', event);" onmouseout="hideTooltip();">
				<img src="@@{templatepath}@@/nuvola/48x48/apps/filetypes.png" alt="Taskkun Hilfe" border="0" />
				</span></a></p>

				<p style="text-align:right;"><a href="http://www.taskkun.de">
				<span onmousemove="showTooltip('Taskkun Hauptseite', event);" onmouseout="hideTooltip();">
				<img src="@@{templatepath}@@/nuvola/48x48/filesystems/folder_home.png" alt="Taskkun Hauptseite" border="0" />
				</span></a></p>

				<p style="text-align:right;"><a href="http://blog.taskkun.de" target="_blank">
				<span onmousemove="showTooltip('Taskkun Blog', event);" onmouseout="hideTooltip();">
				<img src="@@{templatepath}@@/nuvola/48x48/mimetypes/document.png" alt="Taskkun Blog" border="0" />
				</span></a></p>
			</td>
			-->
		</tr>
	</table>
</div>
	


<!-- InstanceEndEditable -->
</div>

<div class="copyright">@@{versioninfo}@@</div>

</body>
<!-- InstanceEnd --></html>
