<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/wellnesswelt.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Wellnesswelt Administrationsportal - @@{documenttitle}@@</title>

<link rel="stylesheet" type="text/css" href="@@{templatepath}@@/css/wellnesswelt.css" />
<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/js/common.js"></script>
<script language="JavaScript" src="@@{templatepath}@@/js/cross.js"></script>
<script language="JavaScript" src="@@{templatepath}@@/js/tooltips.js"></script>
	
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body onload='setBallon("TooltipID");'>

<div id="TooltipID" style="position:absolute; visibility:hidden; left:-200px; z-index: 100"></div>

<div class="headmenu">
	<!-- TemplateBeginBlock name="navigation" -->
	<div style="margin-top:35px;">
		<div style="float:left; margin:10px;"><a href="@@{[main.index]}@@"><span onmousemove="showBallon('Hauptseite');" onmouseout="hideBallon();">
		<img src="@@{templatepath}@@/nuvola/48x48/actions/gohome.png" alt="" border="0" /></span></a></div>

		<div style="float:left; margin:10px; margin-left:40px;"><a href="@@{[address.index]}@@"><span onmousemove="showBallon('Adressverwaltung');" onmouseout="hideBallon();">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kaddressbook.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px; margin-left:10px;"><a href="@@{[users.index]}@@"><span onmousemove="showBallon('Benutzerverwaltung');" onmouseout="hideBallon();">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kdmconfig.png" alt="" border="0" /></span></a></div>

		<div style="float:right; margin:10px; margin-left:10px;"><a href="@@{[main.logout]}@@"><span onmousemove="showBallon('Logout');" onmouseout="hideBallon();">
	<img src="@@{templatepath}@@/nuvola/48x48/actions/exit.png" alt="" border="0" /></span></a></div>
	</div>
	<!-- TemplateEndBlock -->
</div>

<div class="subheadmenu">
</div>

<!-- InstanceBeginEditable name="pagetitle" -->

<!-- InstanceEndEditable -->
	
<div class="maincontent">
	<!-- TemplateBeginBlock name="subnav_adress" -->
	<div style="margin-top:35px;">
		<div style="float:left; margin:10px;"><a href="@@{[main.index]}@@"><span onmousemove="showBallon('Hauptseite');" onmouseout="hideBallon();">
		<img src="@@{templatepath}@@/nuvola/48x48/actions/gohome.png" alt="" border="0" /></span></a></div>

		<div style="float:left; margin:10px; margin-left:40px;"><a href="@@{[address.index]}@@"><span onmousemove="showBallon('Adressverwaltung');" onmouseout="hideBallon();">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kaddressbook.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px; margin-left:10px;"><a href="@@{[users.index]}@@"><span onmousemove="showBallon('Benutzerverwaltung');" onmouseout="hideBallon();">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kdmconfig.png" alt="" border="0" /></span></a></div>

		<div style="float:right; margin:10px; margin-left:10px;"><a href="@@{[main.logout]}@@"><span onmousemove="showBallon('Logout');" onmouseout="hideBallon();">
	<img src="@@{templatepath}@@/nuvola/48x48/actions/exit.png" alt="" border="0" /></span></a></div>
	</div>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="usermessage" -->
		<h3 class="usermessage"><img src="@@{templatepath}@@/nuvola/16x16/actions/ok.png" alt="" align="left" style="margin-right:5px;" /> @@{usermessage}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="userwarnings" -->
		<h3 class="userwarning"><img src="@@{templatepath}@@/nuvola/16x16/actions/messagebox_info.png" alt="" align="left" style="margin-right:5px;" /> @@{userwarning}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="usererrors" -->
		<h3 class="usererror"><img src="@@{templatepath}@@/nuvola/16x16/actions/no.png" alt="" align="left" style="margin-right:5px;" /> @@{usererror}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- InstanceBeginEditable name="body" -->

<div class="textbox">
	<h2>Willkommen,</h2>
	
	<p>Sie befinden sich im Administrationsportal der Wellnesswelt.</p>
</div>
<!-- TemplateEndBlock -->

<!-- InstanceEndEditable -->
</div>

<div class="copyright">@@{versioninfo}@@</div>

</body>
<!-- InstanceEnd --></html>
