<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lineracer.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Pocketkun - Menü</title>
<!-- InstanceEndEditable -->

<link rel="stylesheet" type="text/css" href="@@{templatepath}@@/css/pocketkun.css" />

<script language="javascript" type="text/javascript">


</script>
	
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>

	<!-- TemplateBeginBlock name="usermessage" -->
		<h3 class="usermessage"><img src="@@{templatepath}@@/nuvola/16x16/actions/ok.png" alt="" align="left" style="margin-right:5px;" /> @@{usermessage}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="userwarnings" -->
		<h3 class="userwarning"><img src="@@{templatepath}@@/nuvola/16x16/actions/messagebox_info.png" alt="" align="left" style="margin-right:5px;" /> @@{userwarning}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="usererrors" -->
		<h3 class="usererror"><img src="@@{templatepath}@@/nuvola/16x16/actions/no.png" alt="" align="left" style="margin-right:5px;" /> @@{usererror}@@</h3>
	<!-- TemplateEndBlock -->

	<h1>Pocketkun</h1>
	
<!-- InstanceBeginEditable name="body" -->

		<div class="textbox" style="width:390px;">
			<h2><a href="@@{[twitter.index]}@@">Twitter</a></h2>
		</div>

		<div class="textbox" style="width:390px;">
			<h2><a href="@@{[twitpic.index]}@@">Twitpic</a></h2>
		</div>

		<div class="textbox" style="width:390px;">
			<h2><a href="@@{[flickr.index]}@@">Flickr</a></h2>
		</div>

<!-- InstanceEndEditable -->

	<!-- TemplateBeginBlock name="logoutbox" -->
		<div class="textbox" style="width:390px;">
			<p><a href="@@{[main.logout]}@@">Ausloggen</a></p>
		</div>
	<!-- TemplateEndBlock -->	

</body>
<!-- InstanceEnd --></html>
