<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/pokendesign.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Pokendesign - Cards by @@{authorname}@@</title>
<!-- InstanceEndEditable -->

<script src="http://missionpoken.de/mint/?js" type="text/javascript"></script>
<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
<link rel="icon" type="image/png" href="favicon.png" />
      
<link rel="stylesheet" type="text/css" href="@@{templatepath}@@/css/pokendesign.css" />

<script language="javascript" type="text/javascript">

</script>
	
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>

<script type="text/javascript">
    FB.init("@@{fb_apikey}@@", "xd_receiver.htm");
</script>

	<div id="header">
    <div id="menu">
    	<table border="0">
        <tr><td>
			<a href="@@{[main.index]}@@"><img alt="Poken" id="logo" src="@@{templatepath}@@/images/missionpoken-weiss.png" border="0" /></a>
        </td><td>
	
		<!-- TemplateBeginBlock name="userunknown" -->
				<div id="welcomemessage">Welcome to Pokendesign!</div>
                <div id="mainmenu">
				<a href="@@{[cards.index]}@@">Discover new cards</a>
   				<a href="@@{[cards.topten]}@@">Top Ten</a>
				<a href="@@{[main.howto]}@@">How to use cards</a>
				<a href="@@{[main.login]}@@">Add card</a>
                <fb:login-button></fb:login-button>
                </div>
		<!-- TemplateEndBlock -->
	
		<!-- TemplateBeginBlock name="userloggedin" -->
				<div id="welcomemessage">Hi @@{username}@@, nice to see you!</div>
                <div id="mainmenu">
				<a href="@@{[cards.index]}@@">Discover new cards</a>
   				<a href="@@{[cards.topten]}@@">Top Ten</a>
				<a href="@@{[main.howto]}@@">How to use cards</a>
				<a href="@@{[member.index]}@@">Your cards</a>
				<a href="@@{[member.addcard]}@@">Add card</a>
                </div>
		<!-- TemplateEndBlock -->
        
        </td>
        </tr></table>
    </div>
	</div>

	<!-- TemplateBeginBlock name="usermessage" -->
		<h3 class="usermessage">@@{usermessage}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="userwarnings" -->
		<h3 class="userwarning">@@{userwarning}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="usererrors" -->
		<h3 class="userwarning">@@{usererror}@@</h3>
	<!-- TemplateEndBlock -->

	<div id="content">
	<!-- InstanceBeginEditable name="body" -->
    
	<!-- TemplateBeginBlock name="authornolink" -->
    	<h1><img src="http://www.gravatar.com/avatar/@@{gravatar}@@.jpg?s=30" alt="" id="authorimage" /> Cards by "@@{authorname}@@"</h1>
	<!-- TemplateEndBlock -->
		
	<!-- TemplateBeginBlock name="authorwithlink" -->
    	<h1><img src="http://www.gravatar.com/avatar/@@{gravatar}@@.jpg?s=30" alt="@@{authorname}@@" id="authorimage" /> Cards by "<a href="@@{authorlink}@@" target="_blank">@@{authorname}@@</a>"</h1>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="cardlist" -->
        <div id="pokencard">
            <p id="pokenheadline">@@{cardtitle}@@</p>
            <p id="pokendate">uploaded @@{carddate}@@<br />
            <img alt="" src="@@{templatepath}@@/images/services_small.png" /> @@{favs}@@ people love this card</p>
            <a href="@@{[cards.showdetail]}@@&id=@@{cardid}@@">
            <img src="@@{basepath}@@/uploads/@@{cardfile}@@" border="0" />
            </a>
            <p>@@{carddescription}@@</p>
        </div>
	<!-- TemplateEndBlock -->
    
	<div style="clear:both"></div>
    

<!-- InstanceEndEditable -->

	</div>
	
	<div id="footer">
		A service by <a id="service" href="http://missionpoken.de/">missionpoken.de</a> und <a id="service" href="http://pokenpokes.de/">pokenpokes.de</a> - 
		<a id="impressum" href="http://missionpoken.de/impressum/">Imprint</a> - 
		<a id="datenschutz" href="http://missionpoken.de/datenschutzerklaerung/">Privacy Policy</a> - 
		<a id="agb" href="http://missionpoken.de/agb-und-wiederrufsbelehrung-von-missionpokende/">Terms and Conditions</a>
		<a id="english" href="http://www.pokendesign.com"><img alt="English" id="localeflag1" src="@@{templatepath}@@/images/uk.gif" border="0" /></a>
		<a id="german" href="http://www.pokendesign.de"><img alt="German" id="localeflag2" src="@@{templatepath}@@/images/de.gif" border="0" /></a>
	</div>

</body>
<!-- InstanceEnd --></html>
