<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/pokendesign.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Pokendesign - change card data</title>
<!-- InstanceEndEditable -->

<script src="http://missionpoken.de/mint/?js" type="text/javascript"></script>
<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
<link rel="icon" type="image/png" href="favicon.png" />
      
<link rel="stylesheet" type="text/css" href="@@{templatepath}@@/css/pokendesign.css" />

<script language="javascript" type="text/javascript">

</script>
	
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>

<script type="text/javascript">
    FB.init("@@{fb_apikey}@@", "xd_receiver.htm");
</script>

	<div id="header">
    <div id="menu">
    	<table border="0">
        <tr><td>
			<a href="@@{[main.index]}@@"><img alt="Poken" id="logo" src="@@{templatepath}@@/images/missionpoken-weiss.png" border="0" /></a>
        </td><td>
	
		<!-- TemplateBeginBlock name="userunknown" -->
				<div id="welcomemessage">Welcome to Pokendesign!</div>
                <div id="mainmenu">
				<a href="@@{[cards.index]}@@">Discover new cards</a>
   				<a href="@@{[cards.topten]}@@">Top Ten</a>
				<a href="@@{[main.howto]}@@">How to use cards</a>
				<a href="@@{[main.login]}@@">Add card</a>
                <fb:login-button></fb:login-button>
                </div>
		<!-- TemplateEndBlock -->
	
		<!-- TemplateBeginBlock name="userloggedin" -->
				<div id="welcomemessage">Hi @@{username}@@, nice to see you!</div>
                <div id="mainmenu">
				<a href="@@{[cards.index]}@@">Discover new cards</a>
   				<a href="@@{[cards.topten]}@@">Top Ten</a>
				<a href="@@{[main.howto]}@@">How to use cards</a>
				<a href="@@{[member.index]}@@">Your cards</a>
				<a href="@@{[member.addcard]}@@">Add card</a>
                </div>
		<!-- TemplateEndBlock -->
        
        </td>
        </tr></table>
    </div>
	</div>

	<!-- TemplateBeginBlock name="usermessage" -->
		<h3 class="usermessage">@@{usermessage}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="userwarnings" -->
		<h3 class="userwarning">@@{userwarning}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="usererrors" -->
		<h3 class="userwarning">@@{usererror}@@</h3>
	<!-- TemplateEndBlock -->

	<div id="content">
	<!-- InstanceBeginEditable name="body" -->

		<h1>Change card data</h1>

		<form method="post" action="@@{[member.editcard]}@@" name="editcard" enctype="multipart/form-data">
		<input type="hidden" name="editcard[card_id]" value="@@{card_id:value}@@" />

		<table cellspacing="10" border="0">
        <tr>
            <td nowrap="nowrap"><p id="formlabel">Card title*</p></td>
            <td @@{card_title:formerror}@@ width="350">
                <input maxlength="128" name="editcard[card_title]" value="@@{card_title:value}@@" id="formtext" type="text" />
                <!-- TemplateBeginBlock name="card_title:errormsg" -->
                    <br /><span class="formerrormsg">@@{card_title:errormsg}@@</span>
                <!-- TemplateEndBlock -->
            </td>
            <td rowspan="4" valign="top" align="center">
                <p style="margin-top:10px;" id="smalltext"><img src="@@{templatepath}@@/images/info.png" alt="Info" align="left" style="padding-right:10px;" />
                <strong>Only title, description and tags of a card can be changed</strong>, not the card itself. If you want to upload a new version of a card, upload it as seperate entry.</p>
                <p style="margin-top:10px;" id="smalltext"><img src="@@{templatepath}@@/images/browser.png" alt="Tags" align="right" style="padding-right:10px;" />Tags are used to categorize a card. <strong>Use as many fitting tags as possible</strong>, so that others are able to find your card. <em>Tags are comma separated</em>.
            </td>
        </tr>
        <tr>
            <td nowrap="nowrap" valign="top"><p id="formlabel">Description*</p></td>
            <td @@{card_description:formerror}@@>
				<textarea name="editcard[card_description]" id="formtext" cols="50" rows="4">@@{card_description:value}@@</textarea>
                <!-- TemplateBeginBlock name="card_description:errormsg" -->
                    <br /><span class="formerrormsg">@@{card_description:errormsg}@@</span>
                <!-- TemplateEndBlock -->
            </td>
        </tr>
        <tr>
            <td nowrap="nowrap"><p id="formlabel">Tags</p></td>
            <td @@{card_tags:formerror}@@ width="350">
                <input maxlength="256" name="editcard[card_tags]" value="@@{card_tags:value}@@" id="formtext" type="text" />
                <!-- TemplateBeginBlock name="card_tags:errormsg" -->
                    <br /><span class="formerrormsg">@@{card_tags:errormsg}@@</span>
                <!-- TemplateEndBlock -->
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
               <p><input name="submit" value="Save card" class="formbutton" type="submit" /></p>
            </td>
        </tr>
		</table>
		</form>

<!-- InstanceEndEditable -->

	</div>
	
	<div id="footer">
		A service by <a id="service" href="http://missionpoken.de/">missionpoken.de</a> und <a id="service" href="http://pokenpokes.de/">pokenpokes.de</a> - 
		<a id="impressum" href="http://missionpoken.de/impressum/">Imprint</a> - 
		<a id="datenschutz" href="http://missionpoken.de/datenschutzerklaerung/">Privacy Policy</a> - 
		<a id="agb" href="http://missionpoken.de/agb-und-wiederrufsbelehrung-von-missionpokende/">Terms and Conditions</a>
		<a id="english" href="http://www.pokendesign.com"><img alt="English" id="localeflag1" src="@@{templatepath}@@/images/uk.gif" border="0" /></a>
		<a id="german" href="http://www.pokendesign.de"><img alt="German" id="localeflag2" src="@@{templatepath}@@/images/de.gif" border="0" /></a>
	</div>

</body>
<!-- InstanceEnd --></html>
