<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/pokendesign.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Pokendesign - Edit your profile</title>
<!-- InstanceEndEditable -->

<script src="http://missionpoken.de/mint/?js" type="text/javascript"></script>
<link rel="icon" type="image/png" href="favicon.png" />
      
<link rel="stylesheet" type="text/css" href="@@{templatepath}@@/css/pokendesign.css" />

<script language="javascript" type="text/javascript">

</script>
	
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>

	<div id="header">
    <div id="menu">
    	<table border="0">
        <tr><td>
			<a href="@@{[main.index]}@@"><img alt="Poken" id="logo" src="@@{templatepath}@@/images/missionpoken-weiss.png" border="0" /></a>
        </td><td>
	
		<!-- TemplateBeginBlock name="userunknown" -->
				<div id="welcomemessage">Welcome to Pokendesign!</div>
                <div id="mainmenu">
				<a href="@@{[cards.index]}@@">Discover new cards</a>
   				<a href="@@{[cards.topten]}@@">Top Ten</a>
				<a href="@@{[main.login]}@@">Add card</a>
				<a href="@@{[main.login]}@@">You're not logged in</a>
                </div>
		<!-- TemplateEndBlock -->
	
		<!-- TemplateBeginBlock name="userloggedin" -->
				<div id="welcomemessage">Hi @@{username}@@, nice to see you!</div>
                <div id="mainmenu">
				<a href="@@{[cards.index]}@@">Discover new cards</a>
   				<a href="@@{[cards.topten]}@@">Top Ten</a>
				<a href="@@{[member.index]}@@">Your cards</a>
				<a href="@@{[member.addcard]}@@">Add card</a>
				<a href="@@{[member.editprofile]}@@">Your profile</a>
				<a href="@@{[main.logout]}@@">Log out</a>
                </div>
		<!-- TemplateEndBlock -->
        
        </td>
        </tr></table>
    </div>
	</div>

	<!-- TemplateBeginBlock name="usermessage" -->
		<h3 class="usermessage">@@{usermessage}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="userwarnings" -->
		<h3 class="userwarning">@@{userwarning}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="usererrors" -->
		<h3 class="userwarning">@@{usererror}@@</h3>
	<!-- TemplateEndBlock -->

	<div id="content">
	<!-- InstanceBeginEditable name="body" -->

		<h1>Edit your profile</h1>

		<form method="post" action="@@{[member.editprofile]}@@" name="profile" enctype="multipart/form-data">
		<table cellspacing="10" border="0">
        <tr>
            <td nowrap="nowrap" valign="top"><p id="formlabel">Your Email*</p></td>
            <td @@{user_username:formerror}@@ width="350">
                <input maxlength="128" name="profile[user_username]" value="@@{user_username:value}@@" id="formtext" type="text" />
                <!-- TemplateBeginBlock name="user_username:errormsg" -->
                    <br /><span class="formerrormsg">@@{user_username:errormsg}@@</span>
                <!-- TemplateEndBlock -->
            </td>
            <td rowspan="6" valign="top">
                <h2>We're psyched that you want to help color up the Poken world!</h2>
                <p style="margin-top:10px;" id="smalltext"><img src="http://www.gravatar.com/avatar/?s=50" alt="Gravatar" align="left" style="padding-right:10px;" />
                Your <a href="http://www.gravatar.com/">Gravatar</a> image will be used for your profile image. If you already have a Gravatar, make sure you use the according Email address. If no Gravatar is found, a default will be shown.</p>
                <p style="margin-top:10px;" id="smalltext"><img src="@@{templatepath}@@/images/mail.png" alt="Mail" align="right" style="padding-right:10px;" />
                Your <strong>Email</strong> will be used for authorization and your Gravatar only. We won't make it public nor will we use it for spam or give it to others.</p>
                <p style="margin-top:10px;" id="smalltext"><img src="@@{templatepath}@@/images/browser.png" alt="URL" align="left" style="padding-right:10px;" />
                You can add a personal <strong>URL</strong> that will be linked on your profile page.</p>
            </td>
        </tr>
        <tr>
            <td nowrap="nowrap" valign="top"><p id="formlabel">Your Username*</p></td>
            <td @@{userdata_username:formerror}@@>
                <input maxlength="128" name="profile[userdata_username]" value="@@{userdata_username:value}@@" id="formtext" type="text" />
                <!-- TemplateBeginBlock name="userdata_username:errormsg" -->
                    <br /><span class="formerrormsg">@@{userdata_username:errormsg}@@</span>
                <!-- TemplateEndBlock -->
            </td>
        </tr>
        <tr>
            <td nowrap="nowrap" valign="top"><p id="formlabel">URL</p></td>
            <td @@{userdata_url:formerror}@@>
                <input maxlength="128" name="profile[userdata_url]" value="@@{userdata_url:value}@@" id="formtext" type="text" />
                <!-- TemplateBeginBlock name="userdata_url:errormsg" -->
                    <br /><span class="formerrormsg">@@{userdata_url:errormsg}@@</span>
                <!-- TemplateEndBlock -->
            </td>
        </tr>
        <tr>
            <td nowrap="nowrap" valign="top"><p id="formlabel">New Password</p></td>
            <td @@{user_password1:formerror}@@>
                <input maxlength="128" name="profile[user_password1]" value="" id="formtext" type="password" />
                <!-- TemplateBeginBlock name="user_password1:errormsg" -->
                    <br /><span class="formerrormsg">@@{user_password1:errormsg}@@</span>
                <!-- TemplateEndBlock -->
            </td>
        </tr>
        <tr>
            <td nowrap="nowrap" valign="top"><p id="formlabel">Confirm Password</p></td>
            <td @@{user_password2:formerror}@@>
                <input maxlength="128" name="profile[user_password2]" value="" id="formtext" type="password" />
                <!-- TemplateBeginBlock name="user_password2:errormsg" -->
                    <br /><span class="formerrormsg">@@{user_password2:errormsg}@@</span>
                <!-- TemplateEndBlock -->
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
               <p><input name="submit" value="Edit Profile" class="formbutton" type="submit" /></p>
            </td>
        </tr>
		</table>
		</form>

<!-- InstanceEndEditable -->

	</div>
	
	<div id="footer">
		A service by <a id="service" href="http://missionpoken.de/">missionpoken.de</a> und <a id="service" href="http://pokenpokes.de/">pokenpokes.de</a> - 
		<a id="impressum" href="http://missionpoken.de/impressum/">Imprint</a> - 
		<a id="datenschutz" href="http://missionpoken.de/datenschutzerklaerung/">Privacy Policy</a> - 
		<a id="agb" href="http://missionpoken.de/agb-und-wiederrufsbelehrung-von-missionpokende/">Terms and Conditions</a>
		<a id="english" href="http://www.pokendesign.com"><img alt="English" id="localeflag1" src="@@{templatepath}@@/images/uk.gif" border="0" /></a>
		<a id="german" href="http://www.pokendesign.de"><img alt="German" id="localeflag2" src="@@{templatepath}@@/images/de.gif" border="0" /></a>
	</div>

</body>
<!-- InstanceEnd --></html>
