<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/zeitgeist_administrator.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Zeitgeist Administrator - Home</title>
<!-- InstanceEndEditable -->

<link rel="stylesheet" href="@@{templatepath}@@/css/main.css" type="text/css" />

<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/js/jquery-1.3.2.min.js"></script>
<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/js/jquery.tooltip.min.js"></script>
<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/js/jquery.tablesorter.js"></script>
<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/js/jquery.tablesorter.filter.js"></script>
<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/js/jquery.tablesorter.pager.js"></script>

<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/js/chili-1.7.pack.js"></script>

<script language="JavaScript" type="text/javascript">

	$(function() {
		$('#set1 *').tooltip();

		$("#block").click($.tooltip.block);
	});
	
</script>

<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>

	<!-- navigation starts here -->
	<div id="nav">
		
		<h3>Zeitgeist Administrator v2 - <a href="@@{[projects.index]}@@" id="projectlink">@@{activeproject}@@</a></h3>
	
	</div>

	<!-- header starts here -->
	<!-- TemplateBeginBlock name="mainmenu" -->
	<div id="header">	
	
        	<div id="topnavleft">
                <a href="@@{[main.index]}@@"><img src="@@{templatepath}@@/images/icons/home_128.png" id="naviconleft" alt="Home" title="Home" border="0"/></a>
                <a href="@@{[setup.index]}@@"><img src="@@{templatepath}@@/images/icons/setup_128.png" id="naviconleft" alt="Setup application" title="Setup application" border="0" /></a>
                <a href="@@{[users.index]}@@"><img src="@@{templatepath}@@/images/icons/user_128.png" id="naviconleft" alt="Manage users" title="Manage users" border="0" /></a>
                <a href="@@{[projects.index]}@@"><img src="@@{templatepath}@@/images/icons/projects_128.png" id="naviconleft" alt="Manage Zeitgeist Administrator projects" title="Manage Zeitgeist projects" border="0" /></a>
            </div>

        	<div id="topnavright">
                <a href="@@{[main.info]}@@"><img src="@@{templatepath}@@/images/icons/info_128.png" id="naviconright" alt="Info" border="0" /></a>
                <a href="@@{[main.logout]}@@"><img src="@@{templatepath}@@/images/icons/exit_128.png" id="naviconright" alt="Logout" title="Logout" border="0" /></a>
			</div>
            <div style="clear:both;"></div>

	</div>	
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="usermessages" -->
		<h3 class="usermessage"><img src="@@{templatepath}@@/images/icons/ok_32.png" alt="" align="left" style="margin-right:5px;" /> @@{usermessage}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="userwarnings" -->
		<h3 class="userwarning"><img src="@@{templatepath}@@/images/icons/warning_32.png" alt="" align="left" style="margin-right:5px;" /> @@{userwarning}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="usererrors" -->
		<h3 class="usererror"><img src="@@{templatepath}@@/images/icons/error_32.png" alt="" align="left" style="margin-right:5px;" /> @@{usererror}@@</h3>
	<!-- TemplateEndBlock -->	
				
	<!-- content-wrap starts here -->
	<div id="content-wrap">
    <div id="content">	 

		<div id="sidebar" >	
        <!-- InstanceBeginEditable name="sidebar" -->

			<h3>About the Zeitgeist Administrator</h3>			
			<p>This is the main page of the Zeitgeist Administrator v2. This tool will help you create and manage projects based on the Zeitgeist framework.</p>
			<p>Note that this is a pretty simple tool with very little failsafes. So be careful when editing or it will bring down your application!</p>
			<p>Note that you have to <a href="@@{[projects.index]}@@" id="projectlink">link and configure your Zeitgeist projects</a> before you can use them.</p>
            
		<!-- InstanceEndEditable -->
		</div>	
	
		<div id="main">		
        <!-- InstanceBeginEditable name="main" -->

			<h2>Zeitgeist Administrator</h2>
            
            <table border="0" cellpadding="0" cellspacing="5">
                <tr>
                    <td width="80">
                        <p><a href="@@{[setup.index]}@@" alt="Setup application">
							<img src="@@{templatepath}@@/images/icons/setup_64.png" alt="Setup application" border="0" />
						</a></p>
                    </td>
                    <td>
                        <h3><a href="@@{[setup.index]}@@" alt="Configure Zeitgeist application">Configure Zeitgeist application</a></h3>
                        <p>This section helps you setting up your application, for example adding actions and modules to the database etc.</p>
                    </td>
                </tr>
            </table>
            
            <table border="0" cellpadding="0" cellspacing="5">
                <tr>
                    <td width="80">
                        <p><a href="@@{[users.index]}@@" alt="Manage application users">
							<img src="@@{templatepath}@@/images/icons/user_64.png" alt="Application users" border="0" />
						</a></p>
                    </td>
                    <td>
                        <h3><a href="@@{[users.index]}@@" alt="Manage application users">Manage application users</a></h3>
                        <p>This section lets you manage the users of your application as well as manage their rights and roles.</p>
                    </td>
                </tr>
            </table>
            
            <table border="0" cellpadding="0" cellspacing="5">
                <tr>
                    <td width="80">
                        <p><a href="@@{[projects.index]}@@" alt="Manage Zeitgeist Administrator projects">
							<img src="@@{templatepath}@@/images/icons/projects_64.png" alt="Manage Zeitgeist Administrator projects" border="0" />
						</a></p>
                    </td>
                    <td>
                        <h3><a href="@@{[projects.index]}@@" alt="Manage Zeitgeist Administrator projects">Manage Zeitgeist Administrator projects</a></h3>
                        <p>Here you can manage the projects you want to access with the Zeitgeist Administrator.</p>
                    </td>
                </tr>
            </table>

		<!-- InstanceEndEditable -->
		</div>					
		
	<!-- content-wrap ends here -->		
	</div>
    </div>

	<!-- footer starts here-->	
	<div id="footer-wrap">
		
		<div id="footer-bottom">		
			<p>
			&copy; 2009 <strong><a href="http://www.menschenwerk.net">Menschenwerk.net</a></strong> | 
			Original template design: <a href="http://www.styleshout.com/">styleshout</a> | 
            Icons by: <a href="http://www.icon-king.com/projects/nuvola/">David Vignoni</a>
			</p>		
		</div>	
	
	<!-- footer ends-->		
	</div>

</body>
<!-- InstanceEnd --></html>
