@charset "utf-8";
/* CSS Document */

body {
	background:#dddddd;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	overflow-y: yes;
	overflow: -moz-scrollbars-vertical;
	text-align:center;
}


p, table {
	font-family: "Georgia",Serif;
	font-size: 12pt;
	letter-spacing:0.0pt;
	word-spacing:0.2pt;
	text-align:justify;
	margin-left:10pt;
	margin-right:10pt;
	margin-top:5pt;
	margin-bottom:10pt;
	color:#000000;
}


li {
	font-family: "Georgia",Serif;
	font-size: 12pt;
	letter-spacing:0.0pt;
	word-spacing:0.2pt;
	text-align:justify;
	margin-left:0pt;
	margin-right:0pt;
	margin-top:5pt;
	margin-bottom:0pt;
	color:#000000;
}


h1 {
	font-family: "Georgia",Serif;
	font-size:20pt;
	font-weight:bold;
	letter-spacing:0.0pt;
	word-spacing:0.5pt;
	text-align:justify;
	margin-left:10pt;
	margin-right:10pt;
	margin-top:0pt;
	margin-bottom:10pt;
	color:#555555;
}

h2 {
	font-family: "Georgia",Serif;
	font-size:16pt;
	font-weight:bold;
	letter-spacing:0.0pt;
	word-spacing:0.5pt;
	text-align:justify;
	margin-left:10pt;
	margin-right:10pt;
	margin-top:10pt;
	margin-bottom:10pt;
	color:#555555;
}

h3 {
	font-family: "Georgia",Serif;
	font-size:12pt;
	font-weight:bold;
	letter-spacing:0.0pt;
	word-spacing:0.5pt;
	text-align:justify;
	margin-left:10pt;
	margin-right:10pt;
	margin-top:10pt;
	margin-bottom:10pt;
	color:#555555;
}

strong {
	font-weight:bold;
	color:#555555;
}


table {
	margin-left:0pt;
	margin-right:0pt;
	margin-top:0pt;
	margin-bottom:0pt;
}


a:link {
	text-decoration:underline;
	letter-spacing:0.6pt;
	word-spacing:0.7pt;
	color:#555555;
}


a:visited {
	text-decoration:underline;
	letter-spacing:0.6pt;
	word-spacing:0.7pt;
	color:#555555;
}


a:active {
	text-decoration:underline;
	letter-spacing:0.6pt;
	word-spacing:0.7pt;
	color:#555555;
}


.maincontent {
	background:#ccddcc;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom:10pt;
	width: 990px;
	text-align: left;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
}


.headmenu {
	background:#fafafa;
	margin-right: auto;
	margin-left: auto;
	width: 990px;
	text-align: left;
	margin-top: 0px;
	margin-bottom:10pt;
	border-bottom: 1px solid #000000;
	padding-bottom:10px;
	padding-top:10px;
}


.menuleiste {
	border-top: 1px solid #000000;
	padding-top:10px;
	margin-left:10px;
	margin-right:10px;
}


.tablehead {
	background:#d0d0d0;
	border-bottom: 1px solid #000000;
	padding-top:10px;
	margin-left:10px;
	margin-right:10px;
}

td {
	padding-top:5px;
}

.even
{
	background-color:#e0e0e0;
}

.odd
{
	background-color:#fafafa;
}


.tooltip {
	font-family: "Georgia",Serif;
	font-size: 10pt;
	padding: 3pt;
	border: solid 1px black;
	position: absolute;
	background-color: #FFF;
}

.menuitem {
	font-size: 10pt;
	font-weight:bold;
	margin-left: 5pt;
}


.menuicon {
	float:left;
	margin-left:15px;
	margin-right:10px;
}


.textbox {
	background:#fafafa;
	border:solid 1px #000000;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	vertical-align:middle;
}


.textboxhalf {
	background:#fafafa;
	width: 400px;
	float:left;
	border:solid 1px #000000;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	vertical-align:middle;
}

.formtext
{
	border:solid 1px #777788;
	padding: 3px;
	width:280px;
    font-family: Osaka,verdana,Sans-Serif;
    font-size: 12pt;
}

.formbutton
{
	border:solid 1px #777788;
    font-family: Osaka,verdana,Sans-Serif;
    font-size: 12pt;
	height:30px;
}


.formlabel {
	font-family: "Georgia",Serif;
	font-size: 12pt;
	letter-spacing:0.0pt;
	word-spacing:0.2pt;
	text-align:justify;
	margin-left:0pt;
	margin-right:10pt;
	margin-top:10pt;
	margin-bottom:10pt;
	font-weight:bold;
	color:#555555;
}


.usermessage
{
	color:#333333;
	font-weight:bold;
	border:solid 1px #777788;
	padding:5px;
	background:#77ff77;
	font-size:10pt;
}

.userwarning
{
	color:#333333;
	font-weight:bold;
	border:solid 1px #777788;
	padding:5px;
	background:#ffbb00;
	font-size:10pt;
}

.usererror
{
	color:#999999;
	font-weight:bold;
	border:solid 1px #777788;
	padding:5px;
	background:#990000;
	font-size:10pt;
}