@charset "utf-8";
/* CSS Document */


/* page styling */
body {
	background:#ffffff;
	background-image:url(../images/background.jpg);
	background-position:top;
	background-repeat:repeat-x;
	margin:0px;
	overflow-y: yes;
	overflow: -moz-scrollbars-vertical;
	text-align:center;
}

.headmenu {
	background:#fafafa;
	background-image:url(../images/top.jpg);
	background-position:bottom;
	background-repeat:no-repeat;
	margin-right: auto;
	margin-left: auto;
	width: 990px;
	height:50px;
	text-align: left;
	margin-top: 0px;
	margin-bottom:0px;
	padding-bottom:10px;
	padding-top:10px;
}

.maincontent {
	background:#97AD8B;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom:10pt;
	width: 990px;
	text-align: left;
	border: 1px solid #000000;
	padding-top:10px;
}

.menuleiste {
	border-top: 1px solid #000000;
	padding-top:10px;
	margin-left:10px;
	margin-right:10px;
}

.menuicon {
	float:left;
	margin-left:15px;
	margin-right:10px;
}

.copyright {
	font-family: "Georgia",Serif;
	font-size: 8pt;
	margin-right: auto;
	margin-left: auto;
	margin-top: -10px;
	margin-bottom:10pt;
	width: 990px;
	text-align: right;
}

/* text */
p, table, pre {
	font-family: "Georgia",Serif;
	font-size: 12pt;
	text-align:left;
	margin-left:10pt;
	margin-right:10pt;
	margin-top:5pt;
	margin-bottom:10pt;
	color:#000000;
}	


h1 {
	font-family: "Georgia",Serif;
	font-size:20pt;
	font-weight:bold;
	text-align:justify;
	margin-left:10pt;
	margin-right:10pt;
	margin-top:0pt;
	margin-bottom:10pt;
	color:#444444;
}


h2 {
	font-family: "Georgia",Serif;
	font-size:16pt;
	font-weight:bold;
	text-align:justify;
	margin-left:10pt;
	margin-right:10pt;
	margin-top:10pt;
	margin-bottom:10pt;
	color:#444444;
}


h3 {
	font-family: "Georgia",Serif;
	font-size:12pt;
	font-weight:bold;
	text-align:justify;
	margin-left:10pt;
	margin-right:10pt;
	margin-top:10pt;
	margin-bottom:10pt;
	color:#444444;
}


strong {
	font-weight:bold;
	color:#444444;
}


li {
	font-family: "Georgia",Serif;
	font-size: 12pt;
	text-align:justify;
	margin-left:0pt;
	margin-right:0pt;
	margin-top:5pt;
	margin-bottom:0pt;
	color:#000000;
}


/* tables */
table {
	margin-left:0pt;
	margin-right:0pt;
	margin-top:0pt;
	margin-bottom:0pt;
}

table.activetasks {
	margin-left:0pt;
	margin-right:0pt;
	margin-top:0pt;
	margin-bottom:0pt;
	table-layout:fixed;
	padding:0px;
	width:100%;
}

td {
	padding-top:5px;
}

.sortlink {
	text-decoration:underline;
	color:#fafafa;
}

.tablehead {
	background:#6C704D;
	border-bottom: 1px solid #000000;
	padding-top:10px;
	margin-left:10px;
	margin-right:10px;
}

.thtext {
	color:#fafafa;
}


p.ptable {
	font-family: "Georgia",Serif;
	font-size: 12pt;
	text-align:left;
	margin-left:5pt;
	margin-right:5pt;
	margin-top:2pt;
	margin-bottom:5pt;
	color:#000000;
}


/* links */
a:link {
	text-decoration:underline;
	letter-spacing:0.6pt;
	word-spacing:0.7pt;
	color:#444444;
}

a:visited {
	text-decoration:underline;
	letter-spacing:0.6pt;
	word-spacing:0.7pt;
	color:#444444;
}

a:active {
	text-decoration:underline;
	letter-spacing:0.6pt;
	word-spacing:0.7pt;
	color:#444444;
}


/* spry definitions */
.AccordionPanelTab {
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
}

.AccordionPanelOpen .AccordionPanelTab {
	background-color: #6C704D;
	color:#fafafa;
}

.AccordionPanelOpen .AccordionPanelTab .ptable {
	background-color: #6C704D;
	color:#fafafa;
}

.AccordionPanelOpen .AccordionPanelContent {
	background-color: #d5dda2;;
}

.AccordionPanelOpen .Usertasks {
	background-color: #d5dda2;;
}

.even {
	background-color:#B5BD82;
}

.odd {
	background-color:#fafafa;
}


/* dynamic script definitions */
.tooltip {
	font-family: "Georgia",Serif;
	font-size: 10pt;
	padding: 3pt;
	border: solid 1px black;
	position: absolute;
	background-color: #FFF;
}


/* layout boxes */
.headerbox {
	background:#54704D;
	border:solid 1px #000000;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	vertical-align:middle;
}

.textbox {
	background:#fafafa;
	border:solid 1px #000000;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	vertical-align:middle;
}

div.textboxheader {
	background:#6C704D;
	padding:5px;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
}

p.textboxheader {
	font-family: "Georgia",Serif;
	font-size:12pt;
	font-weight:bold;
	color:#fafafa;
	margin-left:0px;
	font-weight:bold;
}

.textboxtask {
	background:#d5dDa2;
	border:solid 1px #000000;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:15px;
	vertical-align:middle;
}

.textboxhalf {
	background:#d5dDa2;
	width: 400px;
	border:solid 1px #000000;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:15px;
	vertical-align:middle;
}

/* forms */
.formtext {
	border:solid 1px #777788;
	padding: 3px;
	width:280px;
    font-family: Osaka,verdana,Sans-Serif;
    font-size: 12pt;
}

.disabledformtext {
	color:#000000;
	border:solid 1px #777788;
	padding: 3px;
	width:280px;
    font-family: Osaka,verdana,Sans-Serif;
    font-size: 12pt;
}

.formbutton {
	border:solid 1px #777788;
    font-family: Osaka,verdana,Sans-Serif;
    font-size: 12pt;
	height:30px;
}


.formlabel {
	font-family: "Georgia",Serif;
	font-size: 12pt;
	letter-spacing:0.0pt;
	word-spacing:0.2pt;
	text-align:justify;
	margin-left:0pt;
	margin-right:10pt;
	margin-top:10pt;
	margin-bottom:10pt;
	font-weight:bold;
	color:#444444;
}

.formerror
{
	background:#ffbb00;
	border:solid 1px #777788;
	padding:10px;
}

.formerrormsg
{
	color:#880000;
	font-size: 8pt;
}

.targetwarning {
	text-align:center;
	background:#ec921a;
	padding:5px;
}

.targeterror {
	text-align:center;
	font-weight:bold;
	background:#aa0000;
	color:#ffffff;
	padding:5px;
}

.usermessage {
	color:#333333;
	font-weight:bold;
	border:solid 1px #777788;
	padding:10px;
	background:#D9FAC8;
	font-size:10pt;
}

.userwarning {
	color:#333333;
	font-weight:bold;
	border:solid 1px #777788;
	padding:10px;
	background:#ffbb00;
	font-size:10pt;
}

.usererror {
	color:#ffffff;
	font-weight:bold;
	border:solid 1px #777788;
	padding:10px;
	background:#aa0000;
	font-size:10pt;
}