@charset "utf-8";

body {
	background:#ffffff;
	margin:0px;
	overflow-y: yes;
	overflow: -moz-scrollbars-vertical;
	text-align:center;
}


p, table, pre {
	font-family: "Georgia",Serif;
	font-size: 12pt;
	text-align:justify;
	margin-left:10pt;
	margin-right:10pt;
	margin-top:5pt;
	margin-bottom:10pt;
	color:#000000;
}


li {
	font-family: "Georgia",Serif;
	font-size: 12pt;
	text-align:justify;
	margin-left:0pt;
	margin-right:0pt;
	margin-top:5pt;
	margin-bottom:0pt;
	color:#000000;
}


h1 {
	font-family: "Georgia",Serif;
	font-size:20pt;
	font-weight:bold;
	text-align:justify;
	margin-left:10pt;
	margin-right:10pt;
	margin-top:0pt;
	margin-bottom:10pt;
	color:#444444;
}

h2 {
	font-family: "Georgia",Serif;
	font-size:16pt;
	font-weight:bold;
	text-align:justify;
	margin-left:10pt;
	margin-right:10pt;
	margin-top:10pt;
	margin-bottom:10pt;
	color:#444444;
}

h3 {
	font-family: "Georgia",Serif;
	font-size:12pt;
	font-weight:bold;
	text-align:justify;
	margin-left:10pt;
	margin-right:10pt;
	margin-top:10pt;
	margin-bottom:10pt;
	color:#444444;
}

strong {
	font-weight:bold;
	color:#444444;
}


table {
	margin-left:0pt;
	margin-right:0pt;
	margin-top:0pt;
	margin-bottom:0pt;
}


a:link {
	text-decoration:underline;
	letter-spacing:0.6pt;
	word-spacing:0.7pt;
	color:#444444;
}


a:visited {
	text-decoration:underline;
	letter-spacing:0.6pt;
	word-spacing:0.7pt;
	color:#444444;
}


a:active {
	text-decoration:underline;
	letter-spacing:0.6pt;
	word-spacing:0.7pt;
	color:#444444;
}


.maincontent {
	background:#97AD8B;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom:10pt;
	width: 990px;
	text-align: left;
	border: 1px solid #000000;
	padding-top:10px;
}


.headmenu {
	background:#fafafa;
	background-image:url(../images/top.jpg);
	background-position:bottom;
	background-repeat:no-repeat;
	margin-right: auto;
	margin-left: auto;
	width: 990px;
	height:50px;
	text-align: left;
	margin-top: 0px;
	margin-bottom:0px;
	padding-bottom:10px;
	padding-top:10px;
}


.menuleiste {
	border-top: 1px solid #000000;
	padding-top:10px;
	margin-left:10px;
	margin-right:10px;
}


.copyright {
	font-family: "Georgia",Serif;
	font-size: 8pt;
	margin-right: auto;
	margin-left: auto;
	margin-top: -10px;
	margin-bottom:10pt;
	width: 990px;
	text-align: right;
}

.tablehead {
	background:#6C704D;
	border-bottom: 1px solid #000000;
	padding-top:10px;
	margin-left:10px;
	margin-right:10px;
}

td {
	padding-top:5px;
}

.even {
	background-color:#B5BD82;
}

.odd {
	background-color:#fafafa;
}


.tooltip {
	font-family: "Georgia",Serif;
	font-size: 10pt;
	padding: 3pt;
	border: solid 1px black;
	position: absolute;
	background-color: #FFF;
}

.menuitem {
	font-size: 10pt;
	font-weight:bold;
	margin-left: 5pt;
}


.menuicon {
	float:left;
	margin-left:15px;
	margin-right:10px;
}


.headerbox {
	background:#54704D;
	border:solid 1px #000000;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	vertical-align:middle;
}


.textbox {
	background:#fafafa;
	border:solid 1px #000000;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	vertical-align:middle;
}


.textboxhalf {
	background:#d5dDa2;
	width: 350px;
	border:solid 1px #000000;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:15px;
	vertical-align:middle;
}

.textboxheader {
	font-family: "Georgia",Serif;
	font-size:12pt;
	font-weight:bold;
	color:#222222;
	background:#8C906D;
	padding:5px;
	font-weight:bold;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	border-bottom:1px solid #000000;
}

.textboxhalf.even {
	float:right;
	margin-left:0px;
	margin-right:20px;
}

.textboxhalf.odd {
	float:left;
	margin-right:0px;
	margin-left:20px;
}

.formtext {
	border:solid 1px #777788;
	padding: 3px;
	width:280px;
    font-family: Osaka,verdana,Sans-Serif;
    font-size: 12pt;
}

.formbutton {
	border:solid 1px #777788;
    font-family: Osaka,verdana,Sans-Serif;
    font-size: 12pt;
	height:30px;
}


.formlabel {
	font-family: "Georgia",Serif;
	font-size: 12pt;
	letter-spacing:0.0pt;
	word-spacing:0.2pt;
	text-align:justify;
	margin-left:0pt;
	margin-right:10pt;
	margin-top:10pt;
	margin-bottom:10pt;
	font-weight:bold;
	color:#444444;
}

.targetwarning {
	text-align:center;
	background:#ec921a;
	padding:10px;
}

.targeterror {
	text-align:center;
	font-weight:bold;
	background:#aa0000;
	color:#ffffff;
	padding:10px;
}

.usermessage {
	color:#333333;
	font-weight:bold;
	border:solid 1px #777788;
	padding:10px;
	background:#D9FAC8;
	font-size:10pt;
}

.userwarning {
	color:#333333;
	font-weight:bold;
	border:solid 1px #777788;
	padding:10px;
	background:#ffbb00;
	font-size:10pt;
}

.usererror {
	color:#ffffff;
	font-weight:bold;
	border:solid 1px #777788;
	padding:10px;
	background:#aa0000;
	font-size:10pt;
}