@charset "utf-8";
/* CSS Document */

body {
	background:#dddddd;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	overflow-y: yes;
	overflow: -moz-scrollbars-vertical;
	text-align:center;
}


p, table {
	font-family: "Georgia",Serif;
	font-size: 10pt;
	letter-spacing:0.0pt;
	word-spacing:0.2pt;
	text-align:justify;
	margin-left:10pt;
	margin-right:10pt;
	margin-top:5pt;
	margin-bottom:10pt;
	color:#000000;
}	


h1 {
	font-family: "Georgia",Serif;
	font-size:20pt;
	font-weight:bold;
	letter-spacing:0.0pt;
	word-spacing:0.5pt;
	text-align:justify;
	margin-left:10pt;
	margin-right:10pt;
	margin-top:0pt;
	margin-bottom:10pt;
	color:#555555;
}

h2 {
	font-family: "Georgia",Serif;
	font-size:16pt;
	font-weight:bold;
	letter-spacing:0.0pt;
	word-spacing:0.5pt;
	text-align:justify;
	margin-left:10pt;
	margin-right:10pt;
	margin-top:10pt;
	margin-bottom:10pt;
	color:#555555;
}

strong {
	font-weight:bold;
	color:#555555;
}


table {
	margin-left:0pt;
	margin-right:0pt;
	margin-top:0pt;
	margin-bottom:0pt; 
}


a:link {
	text-decoration:underline;
	letter-spacing:0.6pt;
	word-spacing:0.7pt;
	color:#555555;
}


a:visited {
	text-decoration:underline;
	letter-spacing:0.6pt;
	word-spacing:0.7pt;
	color:#555555;
}


a:active {
	text-decoration:underline;
	letter-spacing:0.6pt;
	word-spacing:0.7pt;
	color:#555555;
}


.maincontent {
	background:#ccddcc;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom:10pt;
	width: 990px;
	text-align: left;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
}


.headmenu {
	background:#fafafa;
	margin-right: auto;
	margin-left: auto;
	width: 990px;
	text-align: left;
	margin-top: 0px;
	margin-bottom:10pt;
	border-bottom: 1px solid #000000;
	padding-bottom:10px;
	padding-top:10px;
}
	

.menuleiste {
	border-top: 1px solid #000000;
	padding-top:10px;
	margin-left:10px;
	margin-right:10px;
}			
	

.menuitem {
	font-size: 10pt;
	font-weight:bold;
	margin-left: 5pt;
}	
				

.menuicon {
	float:left;
	margin-left:15px;
	margin-right:10px;
}


.textbox {
	background:#fafafa;
	border:solid 1px #000000;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	vertical-align:middle;
}
