<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/help.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Taskkun - @@{documenttitle}@@</title>
<!-- InstanceEndEditable -->

<link rel="stylesheet" type="text/css" href="@@{templatepath}@@/css/taskkun.css" />

<script language="javascript" type="text/javascript">

	function showTooltip(text, event)
	{
		document.getElementById('Tooltip').innerHTML = text;

		var topPixel = event.clientY + 10;
		var leftPixel = event.clientX + 10;

		x = (document.all) ? window.event.x + document.body.scrollLeft + 180: event.pageX;
		y = (document.all) ? window.event.y : event.pageY;
		document.getElementById('Tooltip').style.left = (x + 20) + "px";
		document.getElementById('Tooltip').style.top = (y + 20) + "px";
		document.getElementById('Tooltip').style.display = "block";
	}

	function hideTooltip()
	{
		document.getElementById('Tooltip').innerHTML = "";

		document.getElementById('Tooltip').style.top = "0px";
		document.getElementById('Tooltip').style.left = "0px";
		document.getElementById('Tooltip').style.display = "none";
	}

</script>
	
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>

<div id="Tooltip" class="tooltip" style="display:none; text-align:left;"></div>

<div class="headmenu">
	<!-- TemplateBeginBlock name="logoutbutton" -->
	<div class="menuicon" style="float:right; margin-top:5px;">
	
	<a href="@@{[help.index]}@@"><span onmousemove="showTooltip('Hilfe', event);" onmouseout="hideTooltip();">
	<img src="@@{templatepath}@@/nuvola/48x48/apps/filetypes.png" alt="" border="0" /></span></a>	

	</div>
	<!-- TemplateEndBlock -->
</div>

<div class="maincontent">

	<div class="headerbox">
			
		<table cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td valign="top">
					<h2 class="help">Go Taskkun</h2>
					<ul>
						<li class="help"><a href="@@{[help.index]}@@&topic=introduction" class="help">Einführung</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=quickstart" class="help">Schnellstart</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=beta" class="help">Hinweise zur Beta</a></li>
					</ul>
				</td>
				<td valign="top">
					<h2 class="help">Konfiguration</h2>
					<ul class="sortlink">
						<li class="help"><a href="@@{[help.index]}@@&topic=configexamples" class="help">Beispielhafte Konfigurationen</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=groups" class="help">Gruppen anlegen/verwalten</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=workflows" class="help">Aufgabenabläufe anlegen/verwalten</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=users" class="help">Benutzer anlegen/verwalten</a></li>
					</ul>
				</td>
				<td valign="top">
					<h2 class="help">Bedienung</h2>
					<ul class="sortlink">
						<li class="help"><a href="@@{[help.index]}@@&topic=userroles" class="help">Benutzerrollen</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=adhoc" class="help">Ad-Hoc Aufgaben</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=search" class="help">Aufgaben suchen</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=reports" class="help">Reports verwenden</a></li>
					</ul>
				</td>
				<td valign="top">
					<h2 class="help">Hinweise</h2>
					<ul class="sortlink">
						<li class="help"><a href="@@{[help.index]}@@&topic=versions" class="help">Versionen & Updates</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=impress" class="help">Über Menschenwerk</a></li>
					</ul>
				</td>
			</tr>
		</table>
	
	</div>

<!-- InstanceBeginEditable name="pagetitle" -->
<!-- InstanceEndEditable -->

	<!-- TemplateBeginBlock name="usermessage" -->
		<h3 class="usermessage"><img src="@@{templatepath}@@/nuvola/16x16/actions/ok.png" alt="" align="left" style="margin-right:5px;" /> @@{usermessage}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="userwarnings" -->
		<h3 class="userwarning"><img src="@@{templatepath}@@/nuvola/16x16/actions/messagebox_info.png" alt="" align="left" style="margin-right:5px;" /> @@{userwarning}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="usererrors" -->
		<h3 class="usererror"><img src="@@{templatepath}@@/nuvola/16x16/actions/no.png" alt="" align="left" style="margin-right:5px;" /> @@{usererror}@@</h3>
	<!-- TemplateEndBlock -->
	
<!-- InstanceBeginEditable name="body" -->

<div class="textbox">

	<table collspacing="0" cellpaddin="0" border="0">
		<tr>
			<td valign="top">
				<h2>Gruppen anlegen und verwalten</h2>
				<p>Gruppen sind die Grundlage für die Projektverwaltung in Taskkun. Die Projektaufgaben werden über die Aufgabenabläufe an Gruppen verteilt, deren Gruppenteilnehmer sie jeweils bearbeiten.</p>
			
				<p>Als Administrator können Sie die Gruppen verwalten, die Ihrem Projektteam angehören. Sie können neue Gruppen anlegen, bestehende Gruppen und deren Attribute verwalten oder Gruppen aus dem System entfernen.</p>
			
				<p>Mehr Informationen über Administratoren erhalten Sie in dem Kapitel "<a href="@@{[help.index]}@@&topic=userroles">Benutzerrollen</a>".</p>
			</td>
			<td valign="top">
				<p><img src="@@{templatepath}@@/nuvola/128x128/apps/katomic.png" alt="" border="0" /></p>
			</td>
		</tr>
	</table>

	<h3>Gruppenübersicht</h3>
	<p>In der Gruppenübersicht erhalten Sie eine Liste mit allen aktuell im System zur Verfügung stehenden Gruppen. Zu jeder Gruppe gibt es eine Beschreibung und eine Übersicht, wie viele Benutzer der jeweiligen Gruppe angehören und wie viele aktive Aufgaben zur Zeit von dieser Gruppe bearbeitet werden.</p>

	<h3>Neue Gruppe anlegen</h3>
	<p>Über der Gruppenliste befindet sich der Punkt: <em>"Neue Gruppe hinzufügen"</em>. Mit diesem können Sie eine neue Gruppe in Ihrem System erstellen.</p>

	<p>Grundsätzlich besteht eine Gruppe nur aus dem Namen und ihrer Beschreibung. Die Gruppe ist direkt nach der Erstellung im System verwendbar: sie können die Gruppe in Aufgabenabläufen einbinden und Benutzer der Gruppe zuweisen.</p>

	<h3>Bestehende Gruppen bearbeiten</h3>
	<p>Bereits bestehende Gruppen können in der Übersicht mit dem Button <em>"Gruppe bearbeiten"</em> geändert werden. Die Änderungen wirken sich direkt auf alle Aufgabenabläufe und Mitglieder der Gruppe aus.</p>

	<h3>Gruppen löschen</h3>
	<p>In der Gruppenübersicht können einzelne Gruppen mit dem Button <em>"Gruppe löschen"</em> aus dem System entfernt werden. Bitte beachten Sie, dass nur Gruppen entfernt werden können, die kein Teil eines Aufgabenablaufs und keine aktiven Aufgaben mehr besitzen. Beenden Sie zunächst alle aktiven Aufgaen und entfernen Sie anschließend die Gruppe aus allen Aufgabenabläufen.</p>

</div>

<!-- InstanceEndEditable -->

</div>
<div class="copyright">@@{versioninfo}@@</div>

</body>
<!-- InstanceEnd --></html>
