<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/help.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Taskkun - @@{documenttitle}@@</title>
<!-- InstanceEndEditable -->

<link rel="stylesheet" type="text/css" href="@@{templatepath}@@/css/taskkun.css" />

<script language="javascript" type="text/javascript">

	function showTooltip(text, event)
	{
		document.getElementById('Tooltip').innerHTML = text;

		var topPixel = event.clientY + 10;
		var leftPixel = event.clientX + 10;

		x = (document.all) ? window.event.x + document.body.scrollLeft + 180: event.pageX;
		y = (document.all) ? window.event.y : event.pageY;
		document.getElementById('Tooltip').style.left = (x + 20) + "px";
		document.getElementById('Tooltip').style.top = (y + 20) + "px";
		document.getElementById('Tooltip').style.display = "block";
	}

	function hideTooltip()
	{
		document.getElementById('Tooltip').innerHTML = "";

		document.getElementById('Tooltip').style.top = "0px";
		document.getElementById('Tooltip').style.left = "0px";
		document.getElementById('Tooltip').style.display = "none";
	}

</script>
	
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>

<div id="Tooltip" class="tooltip" style="display:none; text-align:left;"></div>

<div class="headmenu">
	<!-- TemplateBeginBlock name="logoutbutton" -->
	<div class="menuicon" style="float:right; margin-top:5px;">
	
	<a href="@@{[help.index]}@@"><span onmousemove="showTooltip('Hilfe', event)" onmouseout="hideTooltip()">
	<img src="@@{templatepath}@@/nuvola/48x48/apps/filetypes.png" alt="" border="0" /></span></a>	

	</div>
	<!-- TemplateEndBlock -->
</div>

<div class="maincontent">

<!-- TemplateBeginBlock name="navigation" -->
	<div class="headerbox">
		
		<table cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td valign="top">
					<h2 class="help">Über Taskkun</h2>
					<ul>
						<li class="help"><a href="@@{[help.index]}@@&topic=introduction" class="help">Einführung</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=quickstart" class="help">Schnellstart</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=beta" class="help">Hinweise zur Beta</a></li>
					</ul>
				</td>
				<td valign="top">
					<h2 class="help">Konfiguration</h2>
					<ul class="sortlink">
						<li class="help"><a href="@@{[help.index]}@@&topic=groups" class="help">Gruppen anlegen/verwalten</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=workflows" class="help">Aufgabenabläufe anlegen/verwalten</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=configexamples" class="help">Beispielhafte Konfigurationen</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=users" class="help">Benutzer anlegen/verwalten</a></li>
					</ul>
				</td>
				<td valign="top">
					<h2 class="help">&nbsp;</h2>
					<ul class="sortlink">
						<li class="help"><a href="@@{[help.index]}@@&topic=adhoc" class="help">Ad-Hoc Aufgaben</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=userroles" class="help">Benutzerrollen</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=search" class="help">Aufgaben suchen</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=reports" class="help">Reports verwenden</a></li>
					</ul>
				</td>
				<td valign="top">
					<h2 class="help">Über Taskkun</h2>
					<ul class="sortlink">
						<li class="help"><a href="@@{[help.index]}@@&topic=versions" class="help">Versionen & Updates</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=impress" class="help">Über Menschenwerk</a></li>
					</ul>
				</td>
			</tr>
		</table>

	</div>
<!-- TemplateEndBlock -->

<!-- InstanceBeginEditable name="pagetitle" -->
<!-- InstanceEndEditable -->

	<!-- TemplateBeginBlock name="usermessage" -->
		<h3 class="usermessage"><img src="@@{templatepath}@@/nuvola/16x16/actions/ok.png" alt="" align="left" style="margin-right:5px;" /> @@{usermessage}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="userwarnings" -->
		<h3 class="userwarning"><img src="@@{templatepath}@@/nuvola/16x16/actions/messagebox_info.png" alt="" align="left" style="margin-right:5px;" /> @@{userwarning}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="usererrors" -->
		<h3 class="usererror"><img src="@@{templatepath}@@/nuvola/16x16/actions/no.png" alt="" align="left" style="margin-right:5px;" /> @@{usererror}@@</h3>
	<!-- TemplateEndBlock -->
	
<!-- InstanceBeginEditable name="body" -->

<div class="textbox">
	<h2>Willkommen zu Taskkun,</h2>
	
	<p>der einfachen Projektmanagement-Applikation im Web.
	
	<h3>Was bietet Taskkun</h3>
	<p>Das Problem vieler Projektmanagement-Lösungen ist ihre Komplexität. Im Grunde sieht man sich einem Berg Funktionalität gegenüber, den man schlichtweg nicht braucht. Taskkun ist anders.</p>
	<p>Mit Taskkun überwacht und dokumentiert man die Ausführung eines Projekts. Nicht mehr und nicht weniger. Anforderungsmanagement, Projektplanung, Budgetierung und alle anderen Projektmanagementaufgaben sind ausgeblendet. <em>Taskkun konzentriert sich ganz auf die Bedürfnisse des Projektteams während der Entwicklung.</em></p>
	<p>Das Hauptmerkmal von Taskkun ist seine Flexibilität. Es spielt keine Rolle, nach welchen Projektansätzen das Entwicklerteam vorgeht - Taskkun lässt sich frei konfigurieren, so dass es sowohl in klassischen Wasserfall-Modellen, als auch mit agilen Methoden einsetzbar ist. <em>Anstatt dem Projektteam eine Denkeweise aufzuzwingen, passt sich Taskkun den Abläufen des Teams an.</em></p>
	<p>Der Name Taskkun spiegelt den agilen Ansatz wieder. Dem <em>Task</em>, englisch für Aufgabe, wird der japanische Namenszusatz <em>kun</em> zur Seite gestellt, der allgemein junger Mann bzw. Mensch bedeutet. Für uns bedeutet <em>kun</em> Flexibilität, Agilität und Offenheit.</p>
	<p>Zunächst ist die Closed Beta für "Friends & Family" eröffnet. Nach und nach werden wir weitere Projektteams einladen, um Taskkun zu testen.</p>
</div>

<!-- InstanceEndEditable -->

</div>
<div class="copyright">@@{versioninfo}@@</div>

</body>
<!-- InstanceEnd --></html>
