<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/help.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Taskkun - @@{documenttitle}@@</title>
<!-- InstanceEndEditable -->

<link rel="stylesheet" type="text/css" href="@@{templatepath}@@/css/taskkun.css" />

<script language="javascript" type="text/javascript">

	function showTooltip(text, event)
	{
		document.getElementById('Tooltip').innerHTML = text;

		var topPixel = event.clientY + 10;
		var leftPixel = event.clientX + 10;

		x = (document.all) ? window.event.x + document.body.scrollLeft + 180: event.pageX;
		y = (document.all) ? window.event.y : event.pageY;
		document.getElementById('Tooltip').style.left = (x + 20) + "px";
		document.getElementById('Tooltip').style.top = (y + 20) + "px";
		document.getElementById('Tooltip').style.display = "block";
	}

	function hideTooltip()
	{
		document.getElementById('Tooltip').innerHTML = "";

		document.getElementById('Tooltip').style.top = "0px";
		document.getElementById('Tooltip').style.left = "0px";
		document.getElementById('Tooltip').style.display = "none";
	}

</script>
	
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>

<div id="Tooltip" class="tooltip" style="display:none; text-align:left;"></div>

<div class="headmenu">
	<!-- TemplateBeginBlock name="logoutbutton" -->
	<div class="menuicon" style="float:right; margin-top:5px;">
	
	<a href="@@{[help.index]}@@"><span onmousemove="showTooltip('Hilfe', event)" onmouseout="hideTooltip()">
	<img src="@@{templatepath}@@/nuvola/48x48/apps/filetypes.png" alt="" border="0" /></span></a>	

	</div>
	<!-- TemplateEndBlock -->
</div>

<div class="maincontent">

	<div class="headerbox">
			
		<table cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td valign="top">
					<h2 class="help">Go Taskkun</h2>
					<ul>
						<li class="help"><a href="@@{[help.index]}@@&topic=introduction" class="help">Einführung</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=quickstart" class="help">Schnellstart</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=beta" class="help">Hinweise zur Beta</a></li>
					</ul>
				</td>
				<td valign="top">
					<h2 class="help">Konfiguration</h2>
					<ul class="sortlink">
						<li class="help"><a href="@@{[help.index]}@@&topic=configexamples" class="help">Beispielhafte Konfigurationen</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=groups" class="help">Gruppen anlegen/verwalten</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=workflows" class="help">Aufgabenabläufe anlegen/verwalten</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=users" class="help">Benutzer anlegen/verwalten</a></li>
					</ul>
				</td>
				<td valign="top">
					<h2 class="help">Bedienung</h2>
					<ul class="sortlink">
						<li class="help"><a href="@@{[help.index]}@@&topic=userroles" class="help">Benutzerrollen</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=adhoc" class="help">Ad-Hoc Aufgaben</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=search" class="help">Aufgaben suchen</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=reports" class="help">Reports verwenden</a></li>
					</ul>
				</td>
				<td valign="top">
					<h2 class="help">Hinweise</h2>
					<ul class="sortlink">
						<li class="help"><a href="@@{[help.index]}@@&topic=versions" class="help">Versionen & Updates</a></li>
						<li class="help"><a href="@@{[help.index]}@@&topic=impress" class="help">Über Menschenwerk</a></li>
					</ul>
				</td>
			</tr>
		</table>
	
	</div>

<!-- InstanceBeginEditable name="pagetitle" -->
<!-- InstanceEndEditable -->

	<!-- TemplateBeginBlock name="usermessage" -->
		<h3 class="usermessage"><img src="@@{templatepath}@@/nuvola/16x16/actions/ok.png" alt="" align="left" style="margin-right:5px;" /> @@{usermessage}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="userwarnings" -->
		<h3 class="userwarning"><img src="@@{templatepath}@@/nuvola/16x16/actions/messagebox_info.png" alt="" align="left" style="margin-right:5px;" /> @@{userwarning}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="usererrors" -->
		<h3 class="usererror"><img src="@@{templatepath}@@/nuvola/16x16/actions/no.png" alt="" align="left" style="margin-right:5px;" /> @@{usererror}@@</h3>
	<!-- TemplateEndBlock -->
	
<!-- InstanceBeginEditable name="body" -->

<div class="textbox">

	<table collspacing="0" cellpaddin="0" border="0">
		<tr>
			<td valign="top">
				<h2>Hinweise zur Beta</h2>
				<p>Willkommen zur Taskkun <em>Closed Beta</em>. Wir freuen uns, dass du uns unterstützt Taskkun noch besser zu machen!</p>
				<p>Es gibt einige Hinweise über die Natur und den Ablauf der Closed Beta. Bitte lese diese aufmerksam durch, bevor du Taskkun nutzt:</p>
			</td>
			<td valign="top">
				<p><img src="@@{templatepath}@@/nuvola/128x128/apps/important.png" alt="" border="0" /></p>
			</td>
		</tr>
	</table>

	<ul>
		<li>Die Bezeichnung "Beta" ist im ursprünglichen Sinne zu verstehen. Dies ist keine „Web 2.0“-Bezeichnung, sondern als <em>Auszeichnung einer Testphase</em> zu sehen.</li>

		<li>Die Taskkun Beta sollte nicht im Produktiveinsatz genutzt werden. <em>Für Daten wird während der Beta weder gehaftet noch werden ernsthafte Versuche von Datenrettung unternommen, falls Daten verloren gehen.</em> Dies wird sich erst mit dem offiziellen Livegang von Taskkun ändern.</li>

		<li>Falls administrative Arbeiten während der Betaphase notwendig werden sollten, werden wir dich vorab über etwaige Ausfallzeiten, Datenverlust oder andere Auswirkungen auf den Test so früh wie möglich informieren.</li>

		<li>Bei kleinen Updates erhälst du nicht zwingend eine Benachrichtigung. Lediglich "Feature-Updates" werden vorab angekündigt.</li>

		<li>Falls du einen Fehler gemeldet hast, wirst du informiert, sobald dieser behoben ist.</li>

		<li>Wir würden uns freuen, wenn du über Taskkun berichten würdest. Du unterliegst keinen Einschränkungen bezüglich der Berichterstattung auf Blogs, in Foren oder sonstigen Informationskanälen. Wir bitten dich allerdings zu beachten, dass sich Taskkun im Stadium der Entwicklung befindet und noch maßgeblichen Veränderungen unterliegen kann.</li>

		<li>Wir würden uns freuen, wenn du Fehler direkt an uns melden würdest. Bitte sende eine Mail mit einer möglichst genauen Fehlerbeschreibung an <a href="mailto:development@taskkun.de">development@taskkun.de</a>. Unter dieser Mail erreichst du direkt die Entwickler.</li>
		
		<li>Generell sind wir an allem interessiert, was ihr zu sagen habt. Falls ihr also generelle Anregungen, Hinweise oder beispielsweise auch nur eine Unterhaltung zum Thema Projektmanagement anstoßen wollt: schreibt uns unter <a href="mailto:beta@taskkun.de">beta@taskkun.de</a>.</li>
	</ul>
</div>

<!-- InstanceEndEditable -->

</div>
<div class="copyright">@@{versioninfo}@@</div>

</body>
<!-- InstanceEnd --></html>
