<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/taskkun.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Taskkun - @@{documenttitle}@@</title>
<!-- InstanceEndEditable -->

<link rel="stylesheet" type="text/css" href="@@{templatepath}@@/css/taskkun.css" />
<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/js/common.js"></script>
	
<!-- InstanceBeginEditable name="head" -->

	<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/Spry/SpryData.js"></script>
	<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/Spry/xpath.js"></script>
	<script language="Javascript" type="text/javascript" src="@@{templatepath}@@/Spry/SpryNestedXMLDataSet.js"></script>
	<script language="Javascript" type="text/javascript" src="@@{templatepath}@@/js/SpryExtensions.js"></script>
	<script language="Javascript" type="text/javascript" src="@@{templatepath}@@/Spry/SpryCollapsiblePanel.js"></script>
	<script type="text/javascript" src="@@{templatepath}@@/js/date-picker/js/datepicker.js"></script>
	<link href="@@{templatepath}@@/js/date-picker/css/datepicker.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript">

		var dsTags = new Spry.Data.XMLDataSet("@@{[dataserver.getalltags]}@@", "container/element", { useCache: false });
		dsTags.setColumnType("tag_id", "number");
		dsTags.setColumnType("tag_count", "number");

		function addTag(tagText)
		{
			currentSearch = document.getElementById('taginput').value;

			if (currentSearch != '')
			{
				currentSearch += ', ';
			}

			currentSearch += tagText;
			document.getElementById('taginput').value = currentSearch;

			updateSearch();
		}

	</script>

<!-- InstanceEndEditable -->
</head>

<body>

<div id="Tooltip" class="tooltip" style="display:none; text-align:left;"></div>

<div class="headmenu">
	<!-- TemplateBeginBlock name="logoutbutton" -->
	<div class="menuicon" style="float:right; margin-top:5px;">
	
	<a href="@@{[configuration.index]}@@"><span onmousemove="showTooltip('Persönliche Einstellungen', event)" onmouseout="hideTooltip()">
	<img src="@@{templatepath}@@/nuvola/48x48/apps/kcmsystem.png" alt="" border="0" /></span></a>
	
	<a href="@@{[help.index]}@@@@{helptopic}@@" target="_blank"><span onmousemove="showTooltip('Hilfe', event)" onmouseout="hideTooltip()">
	<img src="@@{templatepath}@@/nuvola/48x48/apps/filetypes.png" alt="" border="0" /></span></a>	

	<a href="@@{[main.logout]}@@"><span onmousemove="showTooltip('Logout', event)" onmouseout="hideTooltip()">
	<img src="@@{templatepath}@@/nuvola/48x48/actions/exit.png" alt="" border="0" /></span></a>
	
	</div>
	<!-- TemplateEndBlock -->
</div>

<div class="maincontent">

<!-- TemplateBeginBlock name="navigation" -->
	<div class="headerbox">
		<div style="float:left; margin:10px;"><a href="@@{[main.index]}@@"><span onmousemove="showTooltip('Hauptseite', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/actions/gohome.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasks.index]}@@"><span onmousemove="showTooltip('Eigene Aufgaben', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/klipper.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[adhoc.index]}@@"><span onmousemove="showTooltip('Ad-Hoc-Tätigkeit eintragen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/karm.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[reports.index]}@@"><span onmousemove="showTooltip('Reports', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kchart.png" alt="" border="0" /></span></a></div>		
		
		<!-- TemplateBeginBlock name="managernavigation" -->
		<div style="float:left; margin:10px; margin-left:40px;"><a href="@@{[tasks.addtask]}@@"><span onmousemove="showTooltip('Neue Aufgabe anlegen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kword.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasks.showactivetasks]}@@"><span onmousemove="showTooltip('Alle aktiven Aufgaben anzeigen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kpager.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[search.index]}@@"><span onmousemove="showTooltip('Aktive Aufgaben suchen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kpdf.png" alt="" border="0" /></span></a></div>
		<!-- TemplateEndBlock -->

		<!-- TemplateBeginBlock name="adminnavigation" -->
		<div style="float:left; margin:10px; margin-left:40px;"><a href="@@{[users.index]}@@"><span onmousemove="showTooltip('Benutzer verwalten', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kdmconfig.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[groups.index]}@@"><span onmousemove="showTooltip('Gruppen verwalten', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/katomic.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasktypes.index]}@@"><span onmousemove="showTooltip('Aufgabenabläufe verwalten', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kalzium.png" alt="" border="0" /></span></a></div>
		<!-- TemplateEndBlock -->
		
		<div style="clear:both"></div>
	</div>
<!-- TemplateEndBlock -->

<!-- InstanceBeginEditable name="pagetitle" -->

<!-- InstanceEndEditable -->

	<!-- TemplateBeginBlock name="usermessage" -->
		<h3 class="usermessage"><img src="@@{templatepath}@@/nuvola/16x16/actions/ok.png" alt="" align="left" style="margin-right:5px;" /> @@{usermessage}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="userwarnings" -->
		<h3 class="userwarning"><img src="@@{templatepath}@@/nuvola/16x16/actions/messagebox_info.png" alt="" align="left" style="margin-right:5px;" /> @@{userwarning}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="usererrors" -->
		<h3 class="usererror"><img src="@@{templatepath}@@/nuvola/16x16/actions/no.png" alt="" align="left" style="margin-right:5px;" /> @@{usererror}@@</h3>
	<!-- TemplateEndBlock -->
	
<!-- InstanceBeginEditable name="body" -->

<form method="post" action="@@{[tasks.addtask]}@@" name="addtask" enctype="multipart/form-data; charset=utf-8">

<div class="textbox">
	<h2>Neue Aufgabe hinzufügen</h2>

	<table width="100%" cellspacing="5" cellpadding="5" border="0">
	<tbody>
		<tr>
			<td nowrap="nowrap" valign="top" width="160"><p class="formlabel">Titel*</p></td>
			<td valign="middle"@@{task_name:formerror}@@>
				<input maxlength="128" name="addtask[task_name]" value="@@{task_name:value}@@" class="formtext" style="width:700px;" type="text" />
				<!-- TemplateBeginBlock name="task_name:errormsg" -->
					<br /><span class="formerrormsg">@@{task_name:errormsg}@@</span>
				<!-- TemplateEndBlock -->
			</td>
		</tr>
		<tr>
			<td align="right" nowrap="nowrap" valign="top"><p class="formlabel">Beschreibung*</p></td>
			<td align="left" valign="middle"@@{task_description:formerror}@@>
				<textarea rows="5" name="addtask[task_description]" class="formtext" style="height:175px;width:700px;">@@{task_description:value}@@</textarea>
				<!-- TemplateBeginBlock name="task_description:errormsg" -->
					<br /><span class="formerrormsg">@@{task_description:errormsg}@@</span>
				<!-- TemplateEndBlock -->
			</td>
		</tr>
	</tbody>
	</table>

	<table width="100%" cellspacing="5" cellpadding="5" border="0">
	<tbody>
		<tr>
			<td width="50%" valign="top">
				<table border="0" cellpadding="0" cellspacing="2">
					<tbody>
					<tr>
						<td align="right" nowrap="nowrap" valign="top" width="170"><p class="formlabel">Aufgabenablauf*</p></td>
						<td align="left" valign="middle">
							<select name="addtask[task_type]" class="formtext">
								<!-- TemplateBeginBlock name="tasktype_loop" -->
									<option value="@@{tasktype_id}@@"@@{tasktype_selected}@@>@@{tasktype_name}@@</option>
								<!-- TemplateEndBlock -->
							</select>
						</td>
					</tr>
					<tr>
						<td align="right" nowrap="nowrap" valign="top"><p class="formlabel">Priorität</p></td>
						<td align="left" valign="middle">
							<select name="addtask[task_priority]" class="formtext">
								<option value="3">Hoch</option>
								<option value="2" selected="selected">Normal</option>
								<option value="1">Niedrig</option>
							</select>
						</td>
					</tr>
					</tbody>
				</table>
			</td>
			<td width="50%" valign="top">
				<table border="0" cellpadding="5" cellspacing="2">
				<tbody>
					<tr>
						<td align="right" nowrap="nowrap" valign="top" width="100"><p class="formlabel">Beginn</p></td>
						<td align="left" valign="middle"@@{task_begin:formerror}@@>
						<input maxlength="30" name="addtask[task_begin]" class="w8em format-d-m-y divider-dot" id="task_begin" style="width:210px; border:solid 1px #777788; padding:3px; font-family: Osaka,verdana,Sans-Serif; font-size:12pt;" value="@@{task_begin:value}@@" type="text" />
						<!-- TemplateBeginBlock name="task_begin:errormsg" -->
							<br /><span class="formerrormsg">@@{task_begin:errormsg}@@</span>
						<!-- TemplateEndBlock -->
						</td>
					</tr>
					<tr>
						<td align="right" nowrap="nowrap" valign="top"><p class="formlabel">Fällig am</p></td>
						<td align="left" valign="middle"@@{task_end:formerror}@@>
						<input maxlength="30" name="addtask[task_end]" class="w8em format-d-m-y divider-dot" id="task_end" style="width:210px; border:solid 1px #777788; padding:3px; font-family: Osaka,verdana,Sans-Serif; font-size:12pt;" value="@@{task_end:value}@@" type="text" />
						<!-- TemplateBeginBlock name="task_end:errormsg" -->
							<br /><span class="formerrormsg">@@{task_end:errormsg}@@</span>
						<!-- TemplateEndBlock -->
						</td>
					</tr>
				</tbody>
				</table>
			</td>
		</tr>
	</tbody>
	</table>

	<table width="100%" cellspacing="5" cellpadding="5" border="0">
	<tbody>
		<tr>
			<td align="right" nowrap="nowrap" width="160" valign="top"><p class="formlabel">Stundenbudget*</p></td>
			<td align="left" valign="middle"@@{task_hoursplanned:formerror}@@><input maxlength="6" style="width:60px;" name="addtask[task_hoursplanned]" value="@@{task_hoursplanned:value}@@" class="formtext" type="text" /> (Angabe in Stunden. Dezimalstellen durch Punkt oder Komma)
			<!-- TemplateBeginBlock name="task_hoursplanned:errormsg" -->
				<br /><span class="formerrormsg">@@{task_hoursplanned:errormsg}@@</span>
			<!-- TemplateEndBlock -->
			</td>
		</tr>
		<tr>
			<td align="right" nowrap="nowrap" valign="top"><p class="formlabel">Tags*</p></td>
			<td align="left" valign="middle"@@{task_tags:formerror}@@>
				<input maxlength="512" style="width:650px; margin-top:10px;" id="taginput" name="addtask[task_tags]" value="@@{task_tags:value}@@" class="formtext" type="text" />
				<span onmousemove="showTooltip('Alle Tags anzeigen', event);" onmouseout="hideTooltip()"><img src="@@{templatepath}@@/nuvola/22x22/actions/1downarrow.png" alt="" onclick="AdditionalInformation.open();" name="groupIcon" border="0" /></span>
				<p style="margin-left:0px;">(Mehrere Tags durch Komma trennen. Bitte <u>mindestens</u> Kunde und evtl. Projekt angeben)
				<!-- TemplateBeginBlock name="task_tags:errormsg" -->
					<br /><span class="formerrormsg">@@{task_tags:errormsg}@@</span>
				<!-- TemplateEndBlock -->
				</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<div id="AdditionalInformation" class="CollapsiblePanel">
					<div class="CollapsiblePanelTab">
					</div>

					<div class="CollapsiblePanelContent">
						<div spry:region="dsTags">
							<div spry:state="loading"><p style="text-align:center;"><img src="@@{templatepath}@@/images/loading.gif" alt="" /></p></div>

							<div spry:state="ready">
							<p style="text-align:center;">
								<a spry:repeat="dsTags" href="javascript:addTag('{dsTags::tag_text}')" style="margin-left:5px; margin-right:5px;" class='tag{dsTags::tag_score}'> {dsTags::tag_text}</a>
							</p>
							<div style="clear:both;"></div>
							</div>
							<br />
						</div>
					</div>

				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			   <p style="text-align:center;"><img src="@@{templatepath}@@/nuvola/32x32/actions/filenew.png" alt="" border="0" align="top" />
			   <input name="submit" value="Aufgabe hinzufügen" class="formbutton" type="submit" /></p>
			</td>
		</tr>
	</tbody>
	</table>

</div>

</form>

<script type="text/javascript">
	var AdditionalInformation = new Spry.Widget.CollapsiblePanel("AdditionalInformation", {contentIsOpen:false});
</script>

<!-- InstanceEndEditable -->

</div>
<div class="copyright">@@{versioninfo}@@</div>

</body>
<!-- InstanceEnd --></html>
