<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/taskkun.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Taskkun - @@{documenttitle}@@</title>
<!-- InstanceEndEditable -->

<link rel="stylesheet" type="text/css" href="@@{templatepath}@@/css/taskkun.css" />
<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/js/common.js"></script>
	
<!-- InstanceBeginEditable name="head" -->

	<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/Spry/SpryData.js"></script>
	<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/Spry/xpath.js"></script>
	<script language="Javascript" type="text/javascript" src="@@{templatepath}@@/Spry/SpryNestedXMLDataSet.js"></script>
	<script language="Javascript" type="text/javascript" src="@@{templatepath}@@/Spry/SpryCollapsiblePanel.js"></script>
	<script language="Javascript" type="text/javascript" src="@@{templatepath}@@/js/SpryExtensions.js"></script>

	<script type="text/javascript">

		var dsTasklogs = new Spry.Data.XMLDataSet("@@{[dataserver.gettasklogs]}@@&id=@@{taskid}@@", "container/element");
	
	</script>

<!-- InstanceEndEditable -->
</head>

<body>

<div id="Tooltip" class="tooltip" style="display:none; text-align:left;"></div>

<div class="headmenu">
	<!-- TemplateBeginBlock name="logoutbutton" -->
	<div class="menuicon" style="float:right; margin-top:5px;">
	
	<a href="@@{[configuration.index]}@@"><span onmousemove="showTooltip('Persönliche Einstellungen', event);" onmouseout="hideTooltip();">
	<img src="@@{templatepath}@@/nuvola/48x48/apps/kcmsystem.png" alt="" border="0" /></span></a>
	
	<a href="@@{[help.index]}@@@@{helptopic}@@" target="_blank"><span onmousemove="showTooltip('Hilfe', event);" onmouseout="hideTooltip();">
	<img src="@@{templatepath}@@/nuvola/48x48/apps/filetypes.png" alt="" border="0" /></span></a>	

	<a href="@@{[main.logout]}@@"><span onmousemove="showTooltip('Logout', event);" onmouseout="hideTooltip();">
	<img src="@@{templatepath}@@/nuvola/48x48/actions/exit.png" alt="" border="0" /></span></a>
	
	</div>
	<!-- TemplateEndBlock -->
</div>

<div class="maincontent">

<!-- TemplateBeginBlock name="navigation" -->
	<div class="headerbox">
		<div style="float:left; margin:10px;"><a href="@@{[main.index]}@@"><span onmousemove="showTooltip('Hauptseite', event);" onmouseout="hideTooltip();">
		<img src="@@{templatepath}@@/nuvola/48x48/actions/gohome.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasks.index]}@@"><span onmousemove="showTooltip('Eigene Aufgaben', event);" onmouseout="hideTooltip();">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/klipper.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[adhoc.index]}@@"><span onmousemove="showTooltip('Ad-Hoc-Tätigkeit eintragen', event);" onmouseout="hideTooltip();">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/karm.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[reports.index]}@@"><span onmousemove="showTooltip('Reports', event);" onmouseout="hideTooltip();">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kchart.png" alt="" border="0" /></span></a></div>		
		
		<!-- TemplateBeginBlock name="managernavigation" -->
		<div style="float:left; margin:10px; margin-left:40px;"><a href="@@{[tasks.addtask]}@@"><span onmousemove="showTooltip('Neue Aufgabe anlegen', event);" onmouseout="hideTooltip();">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kword.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasks.showactivetasks]}@@"><span onmousemove="showTooltip('Alle aktiven Aufgaben anzeigen', event);" onmouseout="hideTooltip();">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kpager.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[search.index]}@@"><span onmousemove="showTooltip('Aktive Aufgaben suchen', event);" onmouseout="hideTooltip();">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kpdf.png" alt="" border="0" /></span></a></div>
		<!-- TemplateEndBlock -->

		<!-- TemplateBeginBlock name="adminnavigation" -->
		<div style="float:left; margin:10px; margin-left:40px;"><a href="@@{[users.index]}@@"><span onmousemove="showTooltip('Benutzer verwalten', event);" onmouseout="hideTooltip();">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kdmconfig.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[groups.index]}@@"><span onmousemove="showTooltip('Gruppen verwalten', event);" onmouseout="hideTooltip();">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/katomic.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasktypes.index]}@@"><span onmousemove="showTooltip('Aufgabenabläufe verwalten', event);" onmouseout="hideTooltip();">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kalzium.png" alt="" border="0" /></span></a></div>
		<!-- TemplateEndBlock -->
		
		<div style="clear:both"></div>
	</div>
<!-- TemplateEndBlock -->

<!-- InstanceBeginEditable name="pagetitle" -->

<!-- InstanceEndEditable -->

	<!-- TemplateBeginBlock name="usermessage" -->
		<h3 class="usermessage"><img src="@@{templatepath}@@/nuvola/16x16/actions/ok.png" alt="" align="left" style="margin-right:5px;" /> @@{usermessage}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="userwarnings" -->
		<h3 class="userwarning"><img src="@@{templatepath}@@/nuvola/16x16/actions/messagebox_info.png" alt="" align="left" style="margin-right:5px;" /> @@{userwarning}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="usererrors" -->
		<h3 class="usererror"><img src="@@{templatepath}@@/nuvola/16x16/actions/no.png" alt="" align="left" style="margin-right:5px;" /> @@{usererror}@@</h3>
	<!-- TemplateEndBlock -->
	
<!-- InstanceBeginEditable name="body" -->

<div id="TaskDetails" class="CollapsiblePanel, textbox">
	<div class="CollapsiblePanelTab">
		<h2>Aufgabendetails
		<span style="float:right; margin-top:-20px;"><img src="@@{templatepath}@@/nuvola/22x22/actions/1uparrow.png" alt="" name="groupIcon" align="left" border="0" /><img src="@@{templatepath}@@/nuvola/22x22/actions/1downarrow.png" alt="" name="groupIcon" align="left" border="0" /></span>
		</h2>
	</div>

	<div class="CollapsiblePanelContent">
	
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td width="50%" valign="top">
			<table style="margin-bottom: 10px;" border="0" cellpadding="5" cellspacing="5">
				<tbody>
				<tr>
					<td nowrap="nowrap" valign="top" width="140"><p class="formlabel">Titel</p></td>
					<td valign="middle"><input maxlength="128" name="edittask[task_name]" value="@@{task_name:value}@@" class="disabledformtext" type="text" disabled="disabled" />
					</td>
				</tr>
				<tr>
					<td align="right" nowrap="nowrap" valign="top"><p class="formlabel">Beschreibung</p></td>
					<td align="left" valign="middle"><textarea rows="5" name="edittask[task_description]" class="disabledformtext" style="height:175px;" disabled="disabled">@@{task_description:value}@@</textarea>
					</td>
				</tr>
			</tbody>
			</table>
		</td>
		<td width="50%" valign="top">
			<table style="margin-bottom: 10px;" border="0" cellpadding="5" cellspacing="5">
			<tbody>
				<tr>
					<td align="right" nowrap="nowrap" valign="top" width="140"><p class="formlabel">Stundenbudget</p></td>
					<td align="left" valign="middle"><input maxlength="6" style="width:60px;" name="edittask[task_hoursplanned]" value="@@{task_hoursplanned:value}@@" class="disabledformtext" type="text" disabled="disabled" /> (Angabe in Stunden)
					</td>
				</tr>
				<tr>
					<td align="right" nowrap="nowrap" valign="top" width="140"><p class="formlabel">Aufgabentyp</p></td>
					<td align="left" valign="middle">
					<input maxlength="30" name="tasktype_name" class="disabledformtext" value="@@{tasktype_name}@@" type="text" disabled="disabled" />
					</td>
				</tr>
				<tr>
					<td align="right" nowrap="nowrap" valign="top"><p class="formlabel">Priorität</p></td>
					<td align="left" valign="middle">
						<select name="edittask[task_priority]" class="disabledformtext" disabled="disabled">
							<option value="3"@@{priority_3}@@>Hoch</option>
							<option value="2"@@{priority_2}@@>Normal</option>
							<option value="1"@@{priority_1}@@>Niedrig</option>
						</select>
					</td>
				</tr>
				<tr>
					<td align="right" nowrap="nowrap" valign="top" width="140"><p class="formlabel">Beginn</p></td>
					<td align="left" valign="middle">
					<input maxlength="30" name="edittask[task_begin]" class="disabledformtext" value="@@{task_begin:value}@@" type="text" disabled="disabled" />
					</td>
				</tr>
				<tr>
					<td align="right" nowrap="nowrap" valign="top"><p class="formlabel">Fällig am</p></td>
					<td align="left" valign="middle">
					<input maxlength="30" name="edittask[task_end]" class="disabledformtext" value="@@{task_end:value}@@" type="text" disabled="disabled" />
					</td>
				</tr>
	
			</tbody>
			</table>
		</td>
		</tr>
		<tr>
		<td colspan="2">
			<table style="margin-bottom: 10px;" border="0" cellpadding="5" cellspacing="5">
			<tr>
				<td align="right" nowrap="nowrap" valign="top" width="140"><p class="formlabel">Tags*</p></td>
				<td align="left" valign="middle">
					<p>
						<input maxlength="512" style="width:750px; margin-top:10px;" name="edittask[task_tags]" value="@@{task_tags:value}@@" class="disabledformtext" type="text" disabled="disabled" />
					</p>
				</td>
			</tr>
			</table>
		</td>
		</tr>
		</table>

	</div>
</div>

<div id="Tasklogs" class="CollapsiblePanel, textbox">
	<div class="CollapsiblePanelTab">
		<h2>Durchgeführte Tätigkeiten
		<span style="float:right; margin-top:-20px;"><img src="@@{templatepath}@@/nuvola/22x22/actions/1uparrow.png" alt="" name="groupIcon" align="left" border="0" /><img src="@@{templatepath}@@/nuvola/22x22/actions/1downarrow.png" alt="" name="groupIcon" align="left" border="0" /></span>
		</h2>
	</div>
	
	<div class="CollapsiblePanelContent">
		
		<div spry:region="dsTasklogs">
		<div spry:state="loading"><p style="text-align:center;"><img src="@@{templatepath}@@/images/loading.gif" alt="" /></p></div>
	
		<div spry:state="ready">
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tr class="tablehead">
					<th width="40"><p style="text-align:center;"><a onclick="dsTasklogs.sort('tasklog_id');">ID</a></p></th>
					<th width="150"><p style="text-align:center;"><a onclick="dsTasklogs.sort('tasklog_username');">Bearbeitet von</a></p></th>
					<th width="100"><p style="text-align:center;"><a onclick="dsTasklogs.sort('task_hoursworked');">Dauer</a></p></th>
					<th><p>Tätigkeitbeschreibung</p></th>
					<th width="200"><p style="text-align:center;"><a onclick="dsTasklogs.sort('tasklog_timestamp');">Datum</a></p></th>
					<th><p>Aktionen</p></th>
				</tr>
				<tr class="{ds_EvenOddRow}" spry:repeat="dsTasklogs">
					<td valign="top"><p style="text-align:center;">{dsTasklogs::tasklog_id}</p></td>
					<td valign="top"><p style="text-align:center;">{dsTasklogs::tasklog_username}</p></td>
					<td valign="top"><p style="text-align:center;">{dsTasklogs::tasklog_hoursworked}</p></td>
					<td valign="top"><p>{dsTasklogs::tasklog_description}</p></td>
					<td valign="top"><p style="text-align:center;">{dsTasklogs::tasklog_timestamp}</p></td>
					<td width="90"><p></p></td>
				</tr>
			</table>
		</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var TaskDetails = new Spry.Widget.CollapsiblePanel("TaskDetails");
	var Tasklogs = new Spry.Widget.CollapsiblePanel("Tasklogs");
</script> 


<!-- InstanceEndEditable -->

</div>
<div class="copyright">@@{versioninfo}@@</div>

</body>
<!-- InstanceEnd --></html>
