<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/admin.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Taskkun - @@{documenttitle}@@</title>
<!-- InstanceEndEditable -->

<link rel="stylesheet" type="text/css" href="@@{templatepath}@@/css/taskkun.css" />

<script language="javascript" type="text/javascript">

	function showTooltip(text, event)
	{
		document.getElementById('Tooltip').innerHTML = text;

		var topPixel = event.clientY + 10;
		var leftPixel = event.clientX + 10;

		x = (document.all) ? window.event.x + document.body.scrollLeft + 180: event.pageX;
		y = (document.all) ? window.event.y : event.pageY;
		document.getElementById('Tooltip').style.left = (x + 20) + "px";
		document.getElementById('Tooltip').style.top = (y + 20) + "px";
		document.getElementById('Tooltip').style.display = "block";
	}

	function hideTooltip()
	{
		document.getElementById('Tooltip').innerHTML = "";

		document.getElementById('Tooltip').style.top = "0px";
		document.getElementById('Tooltip').style.left = "0px";
		document.getElementById('Tooltip').style.display = "none";
	}

</script>
	
<!-- InstanceBeginEditable name="head" -->

	<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/Spry/SpryData.js"></script>
	<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/Spry/xpath.js"></script>
	<script language="Javascript" type="text/javascript" src="@@{templatepath}@@/Spry/SpryNestedXMLDataSet.js"></script>
	<script language="Javascript" type="text/javascript" src="@@{templatepath}@@/Spry/SpryCollapsiblePanel.js"></script>
	<script language="Javascript" type="text/javascript" src="@@{templatepath}@@/js/SpryExtensions.js"></script>

	<script type="text/javascript">

		var dsUserTasks = new Spry.Data.XMLDataSet("@@{[dataserver.getusertasks]}@@", "container/element");
		dsUserTasks.setColumnType("task_id", "number");
		dsUserTasks.setColumnType("task_hoursplanned", "number");
		dsUserTasks.setColumnType("task_hoursworked", "number");

		var dsGroupTasks = new Spry.Data.XMLDataSet("@@{[dataserver.getgrouptasks]}@@", "container/element");
		dsGroupTasks.setColumnType("task_id", "number");
		dsGroupTasks.setColumnType("task_hoursplanned", "number");
		dsGroupTasks.setColumnType("task_hoursworked", "number");

		function insertData(dataElement, dataContent)
		{
			document.getElementById(dataElement).innerHTML = dataContent;
		}

		function declineTask(id, name)
		{
			var answer = window.confirm("Wollen Sie die Aufgabe '" + name + "' wirklich ablehnen?\nHinweis: Die Aufgabe wird der Gruppe hinzugefügt.");

			if (answer == true)
			{
			   window.location.href = "@@{[tasks.declinetask]}@@"+"&id="+id;
			}
		}

	</script>

<!-- InstanceEndEditable -->
</head>

<body>

<div id="Tooltip" class="tooltip" style="display:none; text-align:left;"></div>

<div class="headmenu">
	<!-- TemplateBeginBlock name="logoutbutton" -->
	<div class="menuicon" style="float:right; margin-top:5px;"><a href="@@{[main.logout]}@@" alt=""><span onmousemove="showTooltip('Logout', event)" onmouseout="hideTooltip()">
	<img src="@@{templatepath}@@/nuvola/48x48/actions/exit.png" alt="" align="left" border="0" /></span></a></div>
	<!-- TemplateEndBlock -->
</div>

<div class="maincontent">

<!-- TemplateBeginBlock name="navigation" -->
	<div class="headerbox">
		<div style="float:left; margin:10px;"><a href="@@{[main.index]}@@"><span onmousemove="showTooltip('Hauptseite', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/actions/gohome.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasks.index]}@@"><span onmousemove="showTooltip('Eigene Aufgaben', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/klipper.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[adhoc.index]}@@"><span onmousemove="showTooltip('Ad-Hoc-Tätigkeit eintragen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/karm.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[reports.index]}@@"><span onmousemove="showTooltip('Reports', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kchart.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[configuration.index]}@@"><span onmousemove="showTooltip('Persönliche Einstellungen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kcmsystem.png" alt="" border="0" /></span></a></div>
		<div style="float:right; margin:10px;"><a href="@@{[help.index]}@@"><span onmousemove="showTooltip('Hilfe!', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/filetypes.png" alt="" border="0" /></span></a></div>
		
		
		<!-- TemplateBeginBlock name="managernavigation" -->
		<div style="float:left; margin:10px; margin-left:40px;"><a href="@@{[tasks.addtask]}@@" alt=""><span onmousemove="showTooltip('Neue Aufgabe anlegen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kword.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasks.showactivetasks]}@@" alt=""><span onmousemove="showTooltip('Alle aktiven Aufgaben anzeigen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kpager.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[search.index]}@@" alt=""><span onmousemove="showTooltip('Aktive Aufgaben suchen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kpdf.png" alt="" border="0" /></span></a></div>
		<!-- TemplateEndBlock -->

		<!-- TemplateBeginBlock name="adminnavigation" -->
		<div style="float:left; margin:10px; margin-left:40px;"><a href="@@{[users.index]}@@" alt=""><span onmousemove="showTooltip('Benutzer verwalten', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/mimetypes/vcard.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[usergroups.index]}@@" alt=""><span onmousemove="showTooltip('Benutzergruppen verwalten', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kdmconfig.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasktypes.index]}@@" alt=""><span onmousemove="showTooltip('Aufgabenabläufe verwalten', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/fsview.png" alt="" border="0" /></span></a></div>
		<!-- TemplateEndBlock -->
		
		<div style="clear:both"></div>
	</div>
<!-- TemplateEndBlock -->

<!-- InstanceBeginEditable name="pagetitle" -->

<!-- InstanceEndEditable -->

	<!-- TemplateBeginBlock name="usermessage" -->
		<h3 class="usermessage"><img src="@@{templatepath}@@/nuvola/16x16/actions/ok.png" alt="" align="left" style="margin-right:5px;" /> @@{usermessage}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="userwarnings" -->
		<h3 class="userwarning"><img src="@@{templatepath}@@/nuvola/16x16/actions/messagebox_info.png" alt="" align="left" style="margin-right:5px;" /> @@{userwarning}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="usererrors" -->
		<h3 class="usererror"><img src="@@{templatepath}@@/nuvola/16x16/actions/no.png" alt="" align="left" style="margin-right:5px;" /> @@{usererror}@@</h3>
	<!-- TemplateEndBlock -->
	
<!-- InstanceBeginEditable name="body" -->

<div id="MyTasks" class="CollapsiblePanel, textbox" style="background-image:url(@@{templatepath}@@/images/side_mytasks.jpg); background-position:right bottom; background-repeat:no-repeat;" >
	<div class="CollapsiblePanelTab">
		<h2>Eigene Aufgaben (<span id="userRows"></span>)
		<span style="float:right; margin-top:-20px;"><img src="@@{templatepath}@@/nuvola/22x22/actions/1uparrow.png" alt="" name="groupIcon" align="left" border="0" /><img src="@@{templatepath}@@/nuvola/22x22/actions/1downarrow.png" alt="" name="groupIcon" align="left" border="0" /></span>
		</h2>
	</div>

	<div class="CollapsiblePanelContent">
		<div spry:region="dsUserTasks">
			<div spry:state="loading"><p style="text-align:center;"><img src="@@{templatepath}@@/images/loading.gif" alt="" /></p></div>
			<div spry:state="ready">
				<script type="text/javascript">
					var numRows = dsUserTasks.getRowCount();
					insertData('userRows', numRows);
				</script>

				<div class="textboxhalf {ds_EvenOddRow}" spry:repeat="dsUserTasks">
					<p class="textboxheader">{dsUserTasks::task_name}</p>
					<p><strong>Beschreibung:</strong> {dsUserTasks::task_description}</p>
					<p><strong>Priorität:</strong>
						<span spry:if="{dsUserTasks::task_priority} == '1'">Niedrig</span>
						<span spry:if="{dsUserTasks::task_priority} == '2'">Normal</span>
						<span spry:if="{dsUserTasks::task_priority} == '3'">Hoch</span>
					</p>
					<p><strong>Betrifft Gruppe:</strong> {dsUserTasks::group_name}</p>
					<p><strong>Stundenbudget:</strong> {dsUserTasks::task_hoursplanned}</p>
					<p><strong>Bereits investierte Stunden:</strong> {dsUserTasks::task_hoursworked}</p>
					<div spry:choose="spry:choose">
						<div spry:when="'{dsUserTasks::task_end}' == '00.00.0000'"><p><strong>Fällig am:</strong> -</p></div>
						<div spry:default="spry:default">
							<p><strong>Fällig am:</strong> {dsUserTasks::task_end}</p>
						</div>
					</div>
					<p style="text-align:center;">
							<span onmousemove="showTooltip('Tätigkeit eintragen', event)" onmouseout="hideTooltip()"><a href="@@{[tasks.addtasklog]}@@&id={dsUserTasks::task_id}" alt="Tätigkeit eintragen"><img src="@@{templatepath}@@/nuvola/22x22/actions/pencil.png" alt="Tätigkeit eintragen" border="0" /></a></span> &nbsp;
							<span onmousemove="showTooltip('Aufgabe an Gruppe abgeben', event)" onmouseout="hideTooltip()"><a href="javascript:declineTask({dsUserTasks::task_id}, '{dsUserTasks::task_name}')" alt="Aufgabe an Gruppe abgeben"><img src="@@{templatepath}@@/nuvola/22x22/actions/cancel.png" alt="Aufgabe an Gruppe abgeben" border="0" /></a></span>
					</p>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
	</div>
</div>


<div id="GroupTasks" class="CollapsiblePanel, textbox">
	<div class="CollapsiblePanelTab">
		<h2>Aufgaben meiner Gruppen (<span id="groupRows"></span>)
		<span style="float:right; margin-top:-20px;"><img src="@@{templatepath}@@/nuvola/22x22/actions/1uparrow.png" alt="" name="groupIcon" align="left" border="0" /><img src="@@{templatepath}@@/nuvola/22x22/actions/1downarrow.png" alt="" name="groupIcon" align="left" border="0" /></span>
		</h2>
	</div>

	<div class="CollapsiblePanelContent">
		<div spry:region="dsGroupTasks">
			<div spry:state="loading"><p style="text-align:center;"><img src="@@{templatepath}@@/images/loading.gif" alt="" /></p></div>
		
			<div spry:state="ready">
			
				<script type="text/javascript">
					var numRows = dsGroupTasks.getRowCount();
					insertData('groupRows', numRows);
				</script>
			
				<table border="0" cellspacing="0" cellpadding="0" width=100%">
					<tr class="tablehead">
						<th><p><a onclick="dsGroupTasks.sort('task_id');" class="sortlink">ID</a></p></th>
						<th><p><a onclick="dsGroupTasks.sort('task_name');" class="sortlink">Name</a></p></th>
						<th><p><a onclick="dsGroupTasks.sort('group_name');" class="sortlink">Gruppe</a></p></th>
						<th><p style="text-align:center;"><a onclick="dsGroupTasks.sort('task_priority');" class="sortlink">Priorität</a></p></th>
						<th><p style="text-align:center;"><a onclick="dsGroupTasks.sort('task_end');" class="sortlink">Fällig am</a></p></th>
						<th><p class="thtext">Aktionen</p></th>
					</tr>
					<tr class="{ds_EvenOddRow}" spry:repeat="dsGroupTasks">
						<td><p>{dsGroupTasks::task_id}</p></td>
						<td><p><span onmousemove="showTooltip('{dsGroupTasks::task_description}', event)" onmouseout="hideTooltip()">{dsGroupTasks::task_name}</span></p></td>
						<td><p>{dsGroupTasks::group_name}</p></td>
						<td><p style="text-align:center;">
							<span spry:if="{dsGroupTasks::task_priority} == '1'">Niedrig</span>
							<span spry:if="{dsGroupTasks::task_priority} == '2'">Normal</span>
							<span spry:if="{dsGroupTasks::task_priority} == '3'">Hoch</span>
						</p></td>
						<td>
							<div spry:choose="spry:choose">
								<div spry:when="'{dsGroupTasks::task_end}' == '00.00.0000'"><p style="text-align:center;">-</p></div>
								<div spry:default="spry:default">
									<p style="text-align:center;">{dsGroupTasks::task_end}</p>
								</div>
							</div>
						</td>
						<td width="90"><p style="text-align:center;">
						<span onmousemove="showTooltip('Aufgabe annehmen', event)" onmouseout="hideTooltip()"><a href="@@{[tasks.accepttask]}@@&id={dsGroupTasks::task_id}" alt="Aufgabe annehmen"><img src="@@{templatepath}@@/nuvola/22x22/actions/button_accept.png" alt="Aufgabe annehmen" border="0" /></a></span>
						</p></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var MyTasks = new Spry.Widget.CollapsiblePanel("MyTasks");
	var GroupTasks = new Spry.Widget.CollapsiblePanel("GroupTasks");
</script> 

<!-- InstanceEndEditable -->

</div>
<div class="copyright">@@{versioninfo}@@</div>

</body>
<!-- InstanceEnd --></html>
