<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/admin.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Taskkun</title>
<!-- InstanceEndEditable -->

<link rel="stylesheet" type="text/css" href="@@{templatepath}@@/css/taskkun.css" />

<script language="javascript" type="text/javascript">

	function showTooltip(text, event)
	{
		document.getElementById('Tooltip').innerHTML = text;

		var topPixel = event.clientY + 10;
		var leftPixel = event.clientX + 10;

		document.getElementById('Tooltip').style.top = topPixel + "px";
		document.getElementById('Tooltip').style.left = leftPixel + "px";
		document.getElementById('Tooltip').style.display = "block";
	}

	function hideTooltip()
	{
		document.getElementById('Tooltip').innerHTML = "";

		document.getElementById('Tooltip').style.top = "0px";
		document.getElementById('Tooltip').style.left = "0px";
		document.getElementById('Tooltip').style.display = "none";
	}

</script>
	
<!-- InstanceBeginEditable name="head" -->

	<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/Spry/SpryData.js"></script>
	<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/Spry/xpath.js"></script>
	<script language="Javascript" type="text/javascript" src="@@{templatepath}@@/Spry/SpryNestedXMLDataSet.js"></script>
	<script language="Javascript" type="text/javascript" src="@@{templatepath}@@/js/SpryExtensions.js"></script>

	<script type="text/javascript">

		var dsUserTasks = new Spry.Data.XMLDataSet("@@{[dataserver.getusertasks]}@@", "container/element");
		dsUserTasks.setColumnType("task_id", "number");
		dsUserTasks.setColumnType("task_hoursplanned", "number");
		dsUserTasks.setColumnType("task_hoursworked", "number");

		var dsGroupTasks = new Spry.Data.XMLDataSet("@@{[dataserver.getgrouptasks]}@@", "container/element");
		dsGroupTasks.setColumnType("task_id", "number");
		dsGroupTasks.setColumnType("task_hoursplanned", "number");
		dsGroupTasks.setColumnType("task_hoursworked", "number");
		
		function insertData(dataElement, dataContent)
		{
			document.getElementById(dataElement).innerHTML = dataContent;
		}
	
		function declineTask(id, name)
		{
			var answer = window.confirm("Wollen Sie die Aufgabe '" + name + "' wirklich ablehnen?\nHinweis: Die Aufgabe wird der Gruppe hinzugefügt.");

			if (answer == true)
			{
			   window.location.href = "@@{[tasks.declinetask]}@@"+"&id="+id;
			}
		}

		var bShowGroups = true;
		var bShowUsers = true;
		iconUp = new Image();
		iconUp.src = "@@{templatepath}@@/nuvola/22x22/actions/1uparrow.png";
		iconDown = new Image();
		iconDown.src = "@@{templatepath}@@/nuvola/22x22/actions/tool_dock.png";
	
		function showUsers()
		{
			if (bShowUsers == false)
			{
				bShowUsers = true;
				document.getElementById('userTasks').style.display = "block";
				document.images["usersIcon"].src = iconUp.src;
			}
			else
			{
				bShowUsers = false;
				document.getElementById('userTasks').style.display = "none";
				document.images["usersIcon"].src = iconDown.src;
			}
		}		
			
		function showGroups()
		{
			if (bShowGroups == false)
			{
				bShowGroups = true;
				document.getElementById('groupTasks').style.display = "block";
				document.images["groupIcon"].src = iconUp.src;
			}
			else
			{
				bShowGroups = false;
				document.getElementById('groupTasks').style.display = "none";
				document.images["groupIcon"].src = iconDown.src;
			}
		}

	</script>

<!-- InstanceEndEditable -->
</head>

<body>

<div id="Tooltip" class="tooltip" style="display:none; text-align:left;"></div>
<div class="maincontent">
<div class="headmenu">
	<h1>Taskkun :)</h1>
</div>

<!-- TemplateBeginBlock name="navigation" -->
	<div class="textbox">
		<div style="float:left; margin:10px;"><a href="@@{[main.index]}@@" alt=""><span onmousemove="showTooltip('Hauptseite', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/actions/gohome.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasks.index]}@@" alt=""><span onmousemove="showTooltip('Meine Aufgaben', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/klipper.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasks.addadhoc]}@@" alt=""><span onmousemove="showTooltip('Ad-Hoc-Tätigkeit eintragen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/karm.png" alt="" border="0" /></span></a></div>
		<div style="float:right; margin:10px;"><a href="@@{[help.index]}@@" alt=""><span onmousemove="showTooltip('Hilfe!', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/filetypes.png" alt="" border="0" /></span></a></div>
		
		<div style="clear:both"></div>
	</div>
<!-- TemplateEndBlock -->

<!-- TemplateBeginBlock name="managernavigation" -->
	<div class="textbox">
		<div style="float:left; margin:10px;"><a href="@@{[tasks.addtask]}@@" alt=""><span onmousemove="showTooltip('Neue Aufgabe anlegen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kword.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasks.showalltasks]}@@" alt=""><span onmousemove="showTooltip('Alle aktiven Aufgaben anzeigen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kpager.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasks.searchtask]}@@" alt=""><span onmousemove="showTooltip('Aufgaben suchen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kpdf.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[analyze.index]}@@" alt=""><span onmousemove="showTooltip('Statistiken anzeigen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kchart.png" alt="" border="0" /></span></a></div>
		
		<div style="clear:both"></div>
	</div>
<!-- TemplateEndBlock -->

<!-- InstanceBeginEditable name="pagetitle" -->

<!-- InstanceEndEditable -->

	<!-- TemplateBeginBlock name="usermessage" -->
		<h3 class="usermessage"><img src="@@{templatepath}@@/nuvola/16x16/actions/ok.png" alt="" align="left" style="margin-right:5px;" /> @@{usermessage}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="userwarnings" -->
		<h3 class="userwarning"><img src="@@{templatepath}@@/nuvola/16x16/actions/messagebox_info.png" alt="" align="left" style="margin-right:5px;" /> @@{userwarning}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="usererrors" -->
		<h3 class="usererror"><img src="@@{templatepath}@@/nuvola/16x16/actions/no.png" alt="" align="left" style="margin-right:5px;" /> @@{usererror}@@</h3>
	<!-- TemplateEndBlock -->
	
<!-- InstanceBeginEditable name="body" -->

<div class="textbox">
	<h2>Eigene Aufgaben (<span id="userRows"></span>) <span style="float:right; margin-top:-20px;"><a href="javascript:showUsers();" alt=""><span onmousemove="showTooltip('Eigene Aufgaben', event)" onmouseout="hideTooltip()"><img src="@@{templatepath}@@/nuvola/22x22/actions/1uparrow.png" alt="" name="usersIcon" align="left" border="0" /></span></a></span></h2>
	<div style="clear:both"></div>

	<div id="userTasks" style="display:block;">
	<div spry:region="dsUserTasks">
    <div spry:state="loading"><p style="text-align:center;"><img src="@@{templatepath}@@/images/loading.gif" alt="" /></p></div>

	<div spry:state="ready">
	
	<script type="text/javascript">
		var numRows = dsUserTasks.getRowCount();
		insertData('userRows', numRows);
	</script>
		
	    <table border="0" cellspacing="0" cellpadding="0" width=100%">
	        <tr class="tablehead">
				<th><p><a onclick="dsUserTasks.sort('task_id');">ID</a></p></th>
				<th><p><a onclick="dsUserTasks.sort('task_name');">Name</a></p></th>
				<th><p><a onclick="dsUserTasks.sort('group_name');">Gruppe</a></p></th>
				<th><p style="text-align:center;"><a onclick="dsUserTasks.sort('task_hoursplanned');">Stunden-<br />budget</a></p></th>
				<th><p style="text-align:center;"><a onclick="dsUserTasks.sort('task_hoursworked');">Stunden<br />verbraucht</a></p></th>
				<th><p><a onclick="dsUserTasks.sort('task_end');">Fällig am</a></p></th>
				<th><p>Aktionen</p></th>
	        </tr>
	        <tr class="{ds_EvenOddRow}" spry:repeat="dsUserTasks">
				<td><p>{dsUserTasks::task_id}</p></td>
				<td><p><span onmousemove="showTooltip('{dsUserTasks::task_description}', event)" onmouseout="hideTooltip()">{dsUserTasks::task_name}</span></p></td>
				<td><p>{dsUserTasks::group_name}</p></td>
				<td><p style="text-align:center;">{dsUserTasks::task_hoursplanned}</p></td>
				<td><p style="text-align:center;">{dsUserTasks::task_hoursworked}</p></td>
				<td>
					<div spry:choose="spry:choose">
						<div spry:when="'{dsUserTasks::task_end}' == '0000-00-00'"><p style="text-align:center;">-</p></div>
						<div spry:default="spry:default">
							<p style="text-align:center;">{dsUserTasks::task_end}</p>
						</div>
					</div>
				</td>
				<td width="90"><p style="text-align:center;">
				<span onmousemove="showTooltip('Aufgabe bearbeiten', event)" onmouseout="hideTooltip()"><a href="@@{[tasks.processtask]}@@&id={dsUserTasks::task_id}" alt="Aufgabe bearbeiten"><img src="@@{templatepath}@@/nuvola/22x22/actions/pencil.png" alt="Aufgabe bearbeiten" border="0" /></a></span> &nbsp; 
				<span onmousemove="showTooltip('Aufgabe ablehnen', event)" onmouseout="hideTooltip()"><a href="javascript:declineTask({dsUserTasks::task_id}, '{dsUserTasks::task_name}')" alt="Aufgabe ablehnen"><img src="@@{templatepath}@@/nuvola/22x22/actions/cancel.png" alt="Aufgabe ablehnen" border="0" /></a>
                </p></td>
	        </tr>
	    </table>
    </div>
	</div>
	</div>

</div>

<div class="textbox">
	<h2>Aufgaben der Gruppe (<span id="groupRows">2</span>) <span style="float:right; margin-top:-20px;"><a href="javascript:showGroups();" alt=""><span onmousemove="showTooltip('Aufgaben der Gruppe', event)" onmouseout="hideTooltip()"><img src="@@{templatepath}@@/nuvola/22x22/actions/1uparrow.png" alt="" name="groupIcon" align="left" border="0" /></span></a></span></h2>
	<div style="clear:both"></div>

	<div id="groupTasks" style="display:block;">
	<div spry:region="dsGroupTasks">
    <div spry:state="loading"><p style="text-align:center;"><img src="@@{templatepath}@@/images/loading.gif" alt="" /></p></div>

	<div spry:state="ready">

	<script type="text/javascript">
		var numRows = dsGroupTasks.getRowCount();
		insertData('groupRows', numRows);
	</script>

	    <table border="0" cellspacing="0" cellpadding="0" width=100%">
	        <tr class="tablehead">
				<th><p><a onclick="dsGroupTasks.sort('task_id');">ID</a></p></th>
				<th><p><a onclick="dsGroupTasks.sort('task_name');">Name</a></p></th>
				<th><p><a onclick="dsTasks.sort('group_name');">Gruppe</a></p></th>
				<th><p style="text-align:center;"><a onclick="dsGroupTasks.sort('task_hoursplanned');">Stunden-<br />budget</a></p></th>
				<th><p style="text-align:center;"><a onclick="dsUserTasks.sort('task_hoursworked');">Stunden<br />verbraucht</a></p></th>
				<th><p><a onclick="dsGroupTasks.sort('task_end');">Fällig am</a></p></th>
				<th><p>Aktionen</p></th>
	        </tr>
	        <tr class="{ds_EvenOddRow}" spry:repeat="dsGroupTasks">
				<td><p>{dsGroupTasks::task_id}</p></td>
				<td><p><span onmousemove="showTooltip('{dsGroupTasks::task_description}', event)" onmouseout="hideTooltip()">{dsGroupTasks::task_name}</span></p></td>
				<td><p>{dsGroupTasks::group_name}</p></td>
				<td><p style="text-align:center;">{dsGroupTasks::task_hoursplanned}</p></td>
				<td><p style="text-align:center;">{dsGroupTasks::task_hoursworked}</p></td>
				<td>
					<div spry:choose="spry:choose">
						<div spry:when="'{dsGroupTasks::task_end}' == '0000-00-00'"><p style="text-align:center;">-</p></div>
						<div spry:default="spry:default">
							<p style="text-align:center;">{dsGroupTasks::task_end}</p>
						</div>
					</div>
				</td>
				<td width="90"><p style="text-align:center;">
				<span onmousemove="showTooltip('Aufgabe annehmen', event)" onmouseout="hideTooltip()"><a href="@@{[tasks.accepttask]}@@&id={dsGroupTasks::task_id}" alt="Aufgabe annehmen"><img src="@@{templatepath}@@/nuvola/22x22/actions/button_accept.png" alt="Aufgabe annehmen" border="0" /></a></span>
                </p></td>
	        </tr>
	    </table>
    </div>
	</div>
	</div>
	
</div>


<!-- InstanceEndEditable -->

</div>

</body>
<!-- InstanceEnd --></html>
