<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/admin.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Taskkun</title>
<!-- InstanceEndEditable -->

<link rel="stylesheet" type="text/css" href="@@{templatepath}@@/css/taskkun.css" />

<script language="javascript" type="text/javascript">

	function showTooltip(text, event)
	{
		document.getElementById('Tooltip').innerHTML = text;

		var topPixel = event.clientY + 10;
		var leftPixel = event.clientX + 10;

		document.getElementById('Tooltip').style.top = topPixel + "px";
		document.getElementById('Tooltip').style.left = leftPixel + "px";
		document.getElementById('Tooltip').style.display = "block";
	}

	function hideTooltip()
	{
		document.getElementById('Tooltip').innerHTML = "";

		document.getElementById('Tooltip').style.top = "0px";
		document.getElementById('Tooltip').style.left = "0px";
		document.getElementById('Tooltip').style.display = "none";
	}

</script>
	
<!-- InstanceBeginEditable name="head" -->

	<script language="javascript" type="text/javascript">

		var bShowAdditional = false;
		iconUp = new Image();
		iconUp.src = "@@{templatepath}@@/nuvola/22x22/actions/1uparrow.png";
		iconDown = new Image();
		iconDown.src = "@@{templatepath}@@/nuvola/22x22/actions/tool_dock.png";
				
		function showAdditional()
		{
			if (bShowAdditional == false)
			{
				bShowAdditional = true;
				document.getElementById('Additional').style.display = "block";
				document.images["additionalIcon"].src = iconUp.src;
			}
			else
			{
				bShowAdditional = false;
				document.getElementById('Additional').style.display = "none";
				document.images["additionalIcon"].src = iconDown.src;
			}
		}		
		
		function submitForm(buttonid)
		{
			document.editTasklog.submitButton.value = buttonid;
			document.editTasklog.submit();
		}
		
	</script>

<!-- InstanceEndEditable -->
</head>

<body>

<div id="Tooltip" class="tooltip" style="display:none; text-align:left;"></div>

<div class="headmenu">
	<!-- TemplateBeginBlock name="logoutbutton" -->
	<div class="menuicon" style="float:right; margin-top:5px;"><a href="@@{[main.logout]}@@" alt=""><span onmousemove="showTooltip('Logout', event)" onmouseout="hideTooltip()">
	<img src="@@{templatepath}@@/nuvola/48x48/actions/exit.png" alt="" align="left" border="0" /></span></a></div>
	<!-- TemplateEndBlock -->
</div>

<div class="maincontent">

<!-- TemplateBeginBlock name="navigation" -->
	<div class="headerbox">
		<div style="float:left; margin:10px;"><a href="@@{[main.index]}@@" alt=""><span onmousemove="showTooltip('Hauptseite', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/actions/gohome.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasks.index]}@@" alt=""><span onmousemove="showTooltip('Eigene Aufgaben', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/klipper.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasks.addadhoc]}@@" alt=""><span onmousemove="showTooltip('Ad-Hoc-Tätigkeit eintragen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/karm.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[reports.index]}@@" alt=""><span onmousemove="showTooltip('Reports', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kchart.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[configuration.index]}@@" alt=""><span onmousemove="showTooltip('Persönliche Einstellungen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kcmsystem.png" alt="" border="0" /></span></a></div>
		<div style="float:right; margin:10px;"><a href="@@{[help.index]}@@" alt=""><span onmousemove="showTooltip('Hilfe!', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/filetypes.png" alt="" border="0" /></span></a></div>
		
		
		<!-- TemplateBeginBlock name="managernavigation" -->
		<div style="float:left; margin:10px; margin-left:40px;"><a href="@@{[tasks.addtask]}@@" alt=""><span onmousemove="showTooltip('Neue Aufgabe anlegen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kword.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasks.showalltasks]}@@" alt=""><span onmousemove="showTooltip('Alle aktiven Aufgaben anzeigen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kpager.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[search.index]}@@" alt=""><span onmousemove="showTooltip('Aufgaben suchen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kpdf.png" alt="" border="0" /></span></a></div>
		<!-- TemplateEndBlock -->

		<!-- TemplateBeginBlock name="adminnavigation" -->
		<div style="float:left; margin:10px; margin-left:40px;"><a href="@@{[users.index]}@@" alt=""><span onmousemove="showTooltip('Benutzer verwalten', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/mimetypes/vcard.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[config.overviewusergroups]}@@" alt=""><span onmousemove="showTooltip('Benutzergruppen verwalten', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kdmconfig.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[config.overviewtasktypes]}@@" alt=""><span onmousemove="showTooltip('Aufgabentypen verwalten', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/fsview.png" alt="" border="0" /></span></a></div>
		<!-- TemplateEndBlock -->
		
		<div style="clear:both"></div>
	</div>
<!-- TemplateEndBlock -->

<!-- InstanceBeginEditable name="pagetitle" -->

<!-- InstanceEndEditable -->

	<!-- TemplateBeginBlock name="usermessage" -->
		<h3 class="usermessage"><img src="@@{templatepath}@@/nuvola/16x16/actions/ok.png" alt="" align="left" style="margin-right:5px;" /> @@{usermessage}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="userwarnings" -->
		<h3 class="userwarning"><img src="@@{templatepath}@@/nuvola/16x16/actions/messagebox_info.png" alt="" align="left" style="margin-right:5px;" /> @@{userwarning}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="usererrors" -->
		<h3 class="usererror"><img src="@@{templatepath}@@/nuvola/16x16/actions/no.png" alt="" align="left" style="margin-right:5px;" /> @@{usererror}@@</h3>
	<!-- TemplateEndBlock -->
	
<!-- InstanceBeginEditable name="body" -->

<form method="post" action="@@{tasks.edittasklog}@@" name="editTasklog" enctype="multipart/form-data; charset=utf-8">
	<div class="textbox" style="background-image:url(@@{templatepath}@@/images/side_newtasklog.jpg); background-position:right bottom; background-repeat:no-repeat;">
		<input type="hidden" name="tasklogid" value="@@{tasklogid}@@" />
		<input type="hidden" name="submitButton" value="0" />
		<h2>Eingetragene Tätigkeit editieren</h2>
	
		<table width="100%" cellspacing="5" cellpadding="5" border="0">
		<tbody>
			<tr>
				<td align="right" nowrap="nowrap" valign="top"><p class="formlabel">Tätigkeits-<br />beschreibung*</p></td>
				<td align="left" nowrap="nowrap" valign="middle"><textarea rows="5" name="tasklog_description" class="formtext" style="height:175px; width:750px;">@@{tasklog_description}@@</textarea></td>
			</tr>
			<tr>
				<td align="right" nowrap="nowrap" valign="top" width="140"><p class="formlabel">Dauer</p></td>
				<td align="left" nowrap="nowrap" valign="middle" colspan="2"><input maxlength="6" style="width:60px;" name="tasklog_hoursworked" value="@@{tasklog_hoursworked}@@" class="formtext" type="text"> (Angabe in Stunden. Dezimalstellen durch Punkt oder Komma)</td>
			</tr>
			<tr>
			<td colspan="2">
				<p style="text-align:center;"><img src="@@{templatepath}@@/nuvola/32x32/apps/kate.png" alt="" border="0" align="top" />
				<button name="addTasklog" value="Tätigkeit hinzufügen" class="formbutton" type="button" onclick="submitForm('1');" />Tätigkeitsbeschreibung speichern</button></p>
			</td>
			</tr>
		</tbody>
		</table>	
	</div>
	
	<div class="textbox">
		<h2 style="text-align:left; background:#B5BD82; padding:5px;">Weitere Angaben <span style="float:right; margin-top:-20px;"><a href="javascript:showAdditional();" alt=""><span onmousemove="showTooltip('Bisherige Tätigkeiten', event)" onmouseout="hideTooltip()"><img src="@@{templatepath}@@/nuvola/22x22/actions/tool_dock.png" alt="" name="additionalIcon" align="left" border="0" /></span></a></span></h2>
		<div style="clear:both"></div>
		
	<div id="Additional" style="padding:0px; display:none;">
	
	
	</div>		
	</div>
</form>


</div>

<!-- InstanceEndEditable -->

</div>
<div class="copyright">@@{versioninfo}@@</div>

</body>
<!-- InstanceEnd --></html>
