<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/admin.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Taskkun</title>
<!-- InstanceEndEditable -->

<link rel="stylesheet" type="text/css" href="@@{templatepath}@@/css/taskkun.css" />

<script language="javascript" type="text/javascript">

	function showTooltip(text, event)
	{
		document.getElementById('Tooltip').innerHTML = text;

		var topPixel = event.clientY + 10;
		var leftPixel = event.clientX + 10;

		document.getElementById('Tooltip').style.top = topPixel + "px";
		document.getElementById('Tooltip').style.left = leftPixel + "px";
		document.getElementById('Tooltip').style.display = "block";
	}

	function hideTooltip()
	{
		document.getElementById('Tooltip').innerHTML = "";

		document.getElementById('Tooltip').style.top = "0px";
		document.getElementById('Tooltip').style.left = "0px";
		document.getElementById('Tooltip').style.display = "none";
	}

</script>
	
<!-- InstanceBeginEditable name="head" -->

	<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/Spry/SpryData.js"></script>
	<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/Spry/xpath.js"></script>
	<script language="Javascript" type="text/javascript" src="@@{templatepath}@@/Spry/SpryNestedXMLDataSet.js"></script>
	<script language="Javascript" type="text/javascript" src="@@{templatepath}@@/js/SpryExtensions.js"></script>

	<script type="text/javascript">

		var dsTasktypeInformation = new Spry.Data.XMLDataSet("@@{[dataserver.gettasktypeinformation]}@@&id=@@{tasktype_id}@@", "container/element");

		var dsGroupInformation = new Spry.Data.XMLDataSet("@@{[dataserver.getusergroups]}@@", "container/element");

	</script>

<!-- InstanceEndEditable -->
</head>

<body>

<div id="Tooltip" class="tooltip" style="display:none; text-align:left;"></div>

<div class="headmenu">
	<!-- TemplateBeginBlock name="logoutbutton" -->
	<div class="menuicon" style="float:right; margin-top:5px;"><a href="@@{[main.logout]}@@" alt=""><span onmousemove="showTooltip('Logout', event)" onmouseout="hideTooltip()">
	<img src="@@{templatepath}@@/nuvola/48x48/actions/exit.png" alt="" align="left" border="0" /></span></a></div>
	<!-- TemplateEndBlock -->
</div>

<div class="maincontent">

<!-- TemplateBeginBlock name="navigation" -->
	<div class="headerbox">
		<div style="float:left; margin:10px;"><a href="@@{[main.index]}@@" alt=""><span onmousemove="showTooltip('Hauptseite', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/actions/gohome.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasks.index]}@@" alt=""><span onmousemove="showTooltip('Eigene Aufgaben', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/klipper.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasks.addadhoc]}@@" alt=""><span onmousemove="showTooltip('Ad-Hoc-Tätigkeit eintragen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/karm.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[reports.index]}@@" alt=""><span onmousemove="showTooltip('Reports', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kchart.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[configuration.index]}@@" alt=""><span onmousemove="showTooltip('Persönliche Einstellungen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kcmsystem.png" alt="" border="0" /></span></a></div>
		<div style="float:right; margin:10px;"><a href="@@{[help.index]}@@" alt=""><span onmousemove="showTooltip('Hilfe!', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/filetypes.png" alt="" border="0" /></span></a></div>
		
		
		<!-- TemplateBeginBlock name="managernavigation" -->
		<div style="float:left; margin:10px; margin-left:40px;"><a href="@@{[tasks.addtask]}@@" alt=""><span onmousemove="showTooltip('Neue Aufgabe anlegen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kword.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasks.showactivetasks]}@@" alt=""><span onmousemove="showTooltip('Alle aktiven Aufgaben anzeigen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kpager.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasks.showarchivedtasks]}@@" alt=""><span onmousemove="showTooltip('Alle archivierten Aufgaben anzeigen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/filesystems/folder_tar.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[search.index]}@@" alt=""><span onmousemove="showTooltip('Aufgaben suchen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kpdf.png" alt="" border="0" /></span></a></div>
		<!-- TemplateEndBlock -->

		<!-- TemplateBeginBlock name="adminnavigation" -->
		<div style="float:left; margin:10px; margin-left:40px;"><a href="@@{[users.index]}@@" alt=""><span onmousemove="showTooltip('Benutzer verwalten', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/mimetypes/vcard.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[config.overviewusergroups]}@@" alt=""><span onmousemove="showTooltip('Benutzergruppen verwalten', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kdmconfig.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasktypes.index]}@@" alt=""><span onmousemove="showTooltip('Aufgabentypen verwalten', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/fsview.png" alt="" border="0" /></span></a></div>
		<!-- TemplateEndBlock -->
		
		<div style="clear:both"></div>
	</div>
<!-- TemplateEndBlock -->

<!-- InstanceBeginEditable name="pagetitle" -->
<!-- InstanceEndEditable -->

	<!-- TemplateBeginBlock name="usermessage" -->
		<h3 class="usermessage"><img src="@@{templatepath}@@/nuvola/16x16/actions/ok.png" alt="" align="left" style="margin-right:5px;" /> @@{usermessage}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="userwarnings" -->
		<h3 class="userwarning"><img src="@@{templatepath}@@/nuvola/16x16/actions/messagebox_info.png" alt="" align="left" style="margin-right:5px;" /> @@{userwarning}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="usererrors" -->
		<h3 class="usererror"><img src="@@{templatepath}@@/nuvola/16x16/actions/no.png" alt="" align="left" style="margin-right:5px;" /> @@{usererror}@@</h3>
	<!-- TemplateEndBlock -->
	
<!-- InstanceBeginEditable name="body" -->

<!--
<div class="textbox">
	<h3><img src="@@{templatepath}@@/nuvola/22x22/actions/view_bottom.png" alt="" align="left" style="margin-right:10px;" /> <a href="@@{[users.adduser]}@@" alt="add new user">Add new user</a></h3>
</div>
-->

<div class="textbox">
<form method="post" action="@@{[tasktypes.edittasktype]}@@" name="edittasktype" enctype="multipart/form-data; charset=utf-8">
<input name="tasktypeid" value="@@{tasktype_id}@@" type="hidden">

<h2>Aufgabentyp bearbeiten</h2>

	<table width="100%" cellspacing="5" cellpadding="5" border="0">
	<tr>
	<td width="50%" valign="top">
        <table style="margin-bottom: 10px;" border="0" cellpadding="0" cellspacing="0">
            <tbody>
			<tr>
                <td nowrap="nowrap" valign="top" width="140"><p class="formlabel">Name*</p></td>
                <td nowrap="nowrap" valign="middle"><input maxlength="128" name="tasktype_name" value="@@{tasktype_name}@@" class="formtext" type="text"></td>
            </tr>
            <tr>
                <td align="right" nowrap="nowrap" valign="top"><p class="formlabel">Beschreibung*</p></td>
                <td align="left" nowrap="nowrap" valign="middle"><textarea rows="5" name="tasktype_description" class="formtext" style="height:175px;">@@{tasktype_description}@@</textarea></td>
            </tr>
		</tbody>
		</table>
           <p style="text-align:center; margin-top:25px;"><img src="@@{templatepath}@@/nuvola/32x32/actions/pencil.png" alt="" border="0" align="top" />
		   <input name="submit" value="Aufgabentyp speichern" class="formbutton" type="submit"></p>
	</td>
	<td width="50%" valign="top">
		<div spry:region="dsTasktypeInformation dsGroupInformation">
		<div spry:state="loading"><p style="text-align:center;"><img src="@@{templatepath}@@/images/loading.gif" alt="" /></p></div>
	
		<div spry:state="ready">
			<br />
			<div spry:repeat="dsTasktypeInformation">
				<div class="textboxhalf">
					<p style="text-align:center; margin-top:15px; margin-left:10px;"><strong>Beschreibung:</strong> <input maxlength="256" name="taskworkflow_title[{dsTasktypeInformation::taskworkflow_id}]" value="{dsTasktypeInformation::taskworkflow_title}" class="formtext" type="text"></p>

					<p style="text-align:center; margin-top:20px; margin-left:10px;"><strong>Zuständige Gruppe:</strong> 
						<select name="taskworkflow_title[{dsTasktypeInformation::taskworkflow_id}]" class="formtext" spry:repeatChildren="dsGroupInformation">
							<option spry:if="{dsGroupInformation::group_id} == {dsTasktypeInformation::taskworkflow_group}" value="{dsGroupInformation::group_id}" selected="selected">{dsGroupInformation::group_name}</option>
							<option spry:if="{dsGroupInformation::group_id} != {dsTasktypeInformation::taskworkflow_group}" value="{dsGroupInformation::group_id}">{dsGroupInformation::group_name}</option>
							
						</select>
					</p>

					<p style="margin-top:10px; text-align:center;">
						<span onmousemove="showTooltip('Im Aufgabenablauf nach oben', event)" onmouseout="hideTooltip()"><a href="@@{[tasktypes.workflowup]}@@&id={dsTasktypeInformation::taskworkflow_id}" alt="Im Aufgabenablauf nach oben"><img src="@@{templatepath}@@/nuvola/22x22/actions/up.png" alt="Im Aufgabenablauf nach oben" border="0" /></a></span>
						<span style="margin-left:10px;" onmousemove="showTooltip('Im Aufgabenablauf nach unten', event)" onmouseout="hideTooltip()"><a href="@@{[tasktypes.workflowdown]}@@&id={dsTasktypeInformation::taskworkflow_id}" alt="Im Aufgabenablauf nach unten"><img src="@@{templatepath}@@/nuvola/22x22/actions/down.png" alt="Im Aufgabenablauf nach unten" border="0" /></a></span>
						<span style="margin-left:10px;" onmousemove="showTooltip('Diesen Schritt löschen', event)" onmouseout="hideTooltip()"><a href="javascript:deleteWorkflow({dsTasktypeInformation::taskworkflow_id}, '{dsTasktypeInformation::taskworkflow_title}')" alt="Diesen Schritt löschen"><img src="@@{templatepath}@@/nuvola/22x22/actions/cancel.png" alt="Diesen Schritt löschen" border="0" /></a></span>
					</p>
				</div>
				<p style="margin-top:10px; margin-right:50px; text-align:center;">
					<img src="@@{templatepath}@@/nuvola/48x48/apps/download_manager.png" alt="" border="0" align="top" />
					<span style="margin-left:20px;" onmousemove="showTooltip('Weiteren Schritt hinzufügen', event)" onmouseout="hideTooltip()"><a href="@@{[tasktypes.addworkflow]}@@&id={dsTasktypeInformation::taskworkflow_id}" alt="Weiteren Schritt hinzufügen"><img src="@@{templatepath}@@/nuvola/22x22/actions/edit_add.png" alt="" border="0" align="top" /></a></span>
					
				</p>
			</div>
			<div class="textboxhalf">
			<h2 style="text-align:center;">Archiv</h2>
			</div>
		</div>
		</div>

	</td>
	</tr>
	</table>

</form>
</div>

<!-- InstanceEndEditable -->

</div>
<div class="copyright">@@{versioninfo}@@</div>

</body>
<!-- InstanceEnd --></html>
