<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/admin.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Taskkun - @@{documenttitle}@@</title>
<!-- InstanceEndEditable -->

<link rel="stylesheet" type="text/css" href="@@{templatepath}@@/css/taskkun.css" />

<script language="javascript" type="text/javascript">

	function showTooltip(text, event)
	{
		document.getElementById('Tooltip').innerHTML = text;

		var topPixel = event.clientY + 10;
		var leftPixel = event.clientX + 10;

		x = (document.all) ? window.event.x + document.body.scrollLeft + 180: event.pageX;
		y = (document.all) ? window.event.y : event.pageY;
		document.getElementById('Tooltip').style.left = (x + 20) + "px";
		document.getElementById('Tooltip').style.top = (y + 20) + "px";
		document.getElementById('Tooltip').style.display = "block";
	}

	function hideTooltip()
	{
		document.getElementById('Tooltip').innerHTML = "";

		document.getElementById('Tooltip').style.top = "0px";
		document.getElementById('Tooltip').style.left = "0px";
		document.getElementById('Tooltip').style.display = "none";
	}

</script>
	
<!-- InstanceBeginEditable name="head" -->

	<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/Spry/SpryData.js"></script>
	<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/Spry/xpath.js"></script>
	<script language="Javascript" type="text/javascript" src="@@{templatepath}@@/Spry/SpryNestedXMLDataSet.js"></script>
	<script language="Javascript" type="text/javascript" src="@@{templatepath}@@/Spry/SpryCollapsiblePanel.js"></script>
	<script language="Javascript" type="text/javascript" src="@@{templatepath}@@/js/SpryExtensions.js"></script>

	<script type="text/javascript">

		var dsUserdata = new Spry.Data.XMLDataSet("@@{[dataserver.getuserinformation]}@@", "container/element");
		dsUserdata.setColumnType("user_id", "number");

		var dsUserroles = new Spry.Data.XMLDataSet("@@{[dataserver.getuserroles]}@@", "container/element");
		var dsUsergroups = new Spry.Data.XMLDataSet("@@{[dataserver.getusergroups]}@@", "container/element");

		function deleteUser(id, name)
		{
			var answer = window.confirm("Wollen Sie den Benutzer '" + name + "' wirklich löschen?");

			/* Question icon, Yes/No button. */
			/* 0 = error, 1 = OK, 2 = Cancel, 3 = No, 4 = Yes */
			if (answer == true)
			{
			   window.location.href = "@@{[users.deleteuser]}@@"+"&id="+id;
			}
		}

		function updateSearch()
		{
			document.searchform.submit();
		}


		function filterUsergroup()
		{
			filterParameter = document.getElementById('filter_usergroup').value;
			filterSpryDataset('group_name', filterParameter, dsUserdata, false);
		}


		function filterUserrole()
		{
			filterParameter = document.getElementById('filter_userrole').value;
			filterSpryDataset('userrole_id', filterParameter, dsUserdata, true);
		}

	</script>

<!-- InstanceEndEditable -->
</head>

<body>

<div id="Tooltip" class="tooltip" style="display:none; text-align:left;"></div>

<div class="headmenu">
	<!-- TemplateBeginBlock name="logoutbutton" -->
	<div class="menuicon" style="float:right; margin-top:5px;"><a href="@@{[main.logout]}@@" alt=""><span onmousemove="showTooltip('Logout', event)" onmouseout="hideTooltip()">
	<img src="@@{templatepath}@@/nuvola/48x48/actions/exit.png" alt="" align="left" border="0" /></span></a></div>
	<!-- TemplateEndBlock -->
</div>

<div class="maincontent">

<!-- TemplateBeginBlock name="navigation" -->
	<div class="headerbox">
		<div style="float:left; margin:10px;"><a href="@@{[main.index]}@@"><span onmousemove="showTooltip('Hauptseite', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/actions/gohome.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasks.index]}@@"><span onmousemove="showTooltip('Eigene Aufgaben', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/klipper.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[adhoc.index]}@@"><span onmousemove="showTooltip('Ad-Hoc-Tätigkeit eintragen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/karm.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[reports.index]}@@"><span onmousemove="showTooltip('Reports', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kchart.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[configuration.index]}@@"><span onmousemove="showTooltip('Persönliche Einstellungen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kcmsystem.png" alt="" border="0" /></span></a></div>
		<div style="float:right; margin:10px;"><a href="@@{[help.index]}@@"><span onmousemove="showTooltip('Hilfe!', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/filetypes.png" alt="" border="0" /></span></a></div>
		
		
		<!-- TemplateBeginBlock name="managernavigation" -->
		<div style="float:left; margin:10px; margin-left:40px;"><a href="@@{[tasks.addtask]}@@" alt=""><span onmousemove="showTooltip('Neue Aufgabe anlegen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kword.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasks.showactivetasks]}@@" alt=""><span onmousemove="showTooltip('Alle aktiven Aufgaben anzeigen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kpager.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[search.index]}@@" alt=""><span onmousemove="showTooltip('Aktive Aufgaben suchen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kpdf.png" alt="" border="0" /></span></a></div>
		<!-- TemplateEndBlock -->

		<!-- TemplateBeginBlock name="adminnavigation" -->
		<div style="float:left; margin:10px; margin-left:40px;"><a href="@@{[users.index]}@@" alt=""><span onmousemove="showTooltip('Benutzer verwalten', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/mimetypes/vcard.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[usergroups.index]}@@" alt=""><span onmousemove="showTooltip('Benutzergruppen verwalten', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kdmconfig.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasktypes.index]}@@" alt=""><span onmousemove="showTooltip('Aufgabenabläufe verwalten', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/fsview.png" alt="" border="0" /></span></a></div>
		<!-- TemplateEndBlock -->
		
		<div style="clear:both"></div>
	</div>
<!-- TemplateEndBlock -->

<!-- InstanceBeginEditable name="pagetitle" -->
<!-- InstanceEndEditable -->

	<!-- TemplateBeginBlock name="usermessage" -->
		<h3 class="usermessage"><img src="@@{templatepath}@@/nuvola/16x16/actions/ok.png" alt="" align="left" style="margin-right:5px;" /> @@{usermessage}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="userwarnings" -->
		<h3 class="userwarning"><img src="@@{templatepath}@@/nuvola/16x16/actions/messagebox_info.png" alt="" align="left" style="margin-right:5px;" /> @@{userwarning}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="usererrors" -->
		<h3 class="usererror"><img src="@@{templatepath}@@/nuvola/16x16/actions/no.png" alt="" align="left" style="margin-right:5px;" /> @@{usererror}@@</h3>
	<!-- TemplateEndBlock -->
	
<!-- InstanceBeginEditable name="body" -->

<!--
<div class="textbox">
	<h3><img src="@@{templatepath}@@/nuvola/22x22/actions/view_bottom.png" alt="" align="left" style="margin-right:10px;" /> <a href="@@{[users.adduser]}@@" alt="add new user">Add new user</a></h3>
</div>
-->

<div id="FilterOverview" class="CollapsiblePanel, textbox">
	<div class="CollapsiblePanelTab">
		<h2 style="text-align:left; background:#B5BD82; padding:5px;">Filter anwenden
		<span style="float:right; margin-top:-20px;"><img src="@@{templatepath}@@/nuvola/22x22/actions/1uparrow.png" alt="" name="groupIcon" align="left" border="0" /><img src="@@{templatepath}@@/nuvola/22x22/actions/1downarrow.png" alt="" name="groupIcon" align="left" border="0" /></span>
		</h2>
	</div>

	<div class="CollapsiblePanelContent">
		
		<form name="searchform" method="post" action="@@{[users.index]}@@">
		<table border="0" cellpadding="0" cellspacing="0" cellpadding="0" cellspacing="0" style="margin-top:10px;">
			<tr>
				<td width="130" valign="top" rowspan="3">
					<p><img src="@@{templatepath}@@/nuvola/128x128/apps/kghostview.png" alt="Filter users" border="0" /></p>
				</td>
				<td align="left" valign="middle">
					<p class="formlabel">Benutzergruppen anzeigen</p>
				</td>
				<td align="left" valign="middle">
					<div spry:region="dsUsergroups">
					<select id="filter_usergroup" class="formtext" style="width:255px;" onchange="filterUsergroup()">
						<option value="-1">Alle Gruppen</option>
						<option spry:repeat="dsUsergroups" value="{group_name}">{group_name}</option>
					</select>
					</div>
				</td>
			</tr>
			<tr>
				<td align="left" valign="middle">
					<p class="formlabel">Benutzerrollen anzeigen</p>
				</td>
				<td align="left" valign="middle">
					<div spry:region="dsUserroles">
					<select id="filter_userrole" class="formtext" style="width:255px;" onchange="filterUserrole()">
						<option value="-1">Alle Rollen</option>
						<option spry:repeat="dsUserroles" value="{userrole_id}">{userrole_name}</option>
					</select>
					</div>
				</td>
			</tr>
			<tr>
				<td align="left" valign="middle">&nbsp;</td>
				<td align="left" valign="middle">&nbsp;</td>
			</tr>
		</table>
		</form>
	
		</div>
	</div>

	<div class="textbox">
		<h3><img src="@@{templatepath}@@/nuvola/22x22/actions/view_bottom.png" alt="" align="left" style="margin-right:10px;" /> <a href="@@{[users.adduser]}@@" alt="Neuen Benutzer hinzufügen">Neuen Benutzer hinzufügen</a></h3>
	</div>
	
	<div class="textbox">
	<h2>Benutzerverwaltung</h2>
	
		<div spry:region="dsUserdata">
		<div spry:state="loading"><p style="text-align:center;"><img src="@@{templatepath}@@/images/loading.gif" alt="" /></p></div>
	
		<div spry:state="ready">
			<table border="0" cellspacing="0" cellpadding="0" width=100%">
				<tr class="tablehead">
					<th><p><a onclick="dsUserdata.sort('user_username');" class="sortlink">Anmeldung/E-Mail</a></p></th>
					<th><p><a onclick="dsUserdata.sort('userdata_firstname');" class="sortlink">Name</a></p></th>
					<th><p><a onclick="dsUserdata.sort('userrole_name');" class="sortlink">Benutzerrolle</a></p></th>
					<th><p><a onclick="dsUserdata.sort('group_name');" class="sortlink">Benutzergruppen</a></p></th>
					<th><p class="thtext">Aktion</p></th>
				</tr>
				<tr class="{ds_EvenOddRow}" spry:repeat="dsUserdata">
					<td><p>{dsUserdata::user_username}</p></td>
					<td><p style="white-space:nowrap;">{dsUserdata::userdata_firstname} {dsUserdata::userdata_lastname}</p></td>
					<td><p>{dsUserdata::userrole_name}</p></td>
					<td><p>{dsUserdata::group_name}</p></td>
					<td width="90"><p>
					<span onmousemove="showTooltip('Benutzer bearbeiten', event)" onmouseout="hideTooltip()"><a href="@@{[users.edituser]}@@&id={dsUserdata::user_id}" alt="Benutzer bearbeiten"><img src="@@{templatepath}@@/nuvola/22x22/actions/pencil.png" alt="Benutzer bearbeiten" border="0" /></a></span> &nbsp; 
					<span onmousemove="showTooltip('Benutzer löschen', event)" onmouseout="hideTooltip()"><a href="javascript:deleteUser({dsUserdata::user_id}, '{dsUserdata::user_username}')" alt="Benutzer löschen"><img src="@@{templatepath}@@/nuvola/22x22/filesystems/trashcan_full.png" alt="Benutzer löschen" border="0" /></a></span>
					</p></td>
				</tr>
			</table>
		</div>
		</div>
	</div>

<script type="text/javascript">
	var FilterOverview = new Spry.Widget.CollapsiblePanel("FilterOverview", {contentIsOpen:false});
</script> 

<!-- InstanceEndEditable -->

</div>
<div class="copyright">@@{versioninfo}@@</div>

</body>
<!-- InstanceEnd --></html>
