<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/taskkun.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Taskkun - @@{documenttitle}@@</title>
<!-- InstanceEndEditable -->

<link rel="stylesheet" type="text/css" href="@@{templatepath}@@/css/taskkun.css" />
<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/js/common.js"></script>
	
<!-- InstanceBeginEditable name="head" -->

	<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/Spry/SpryData.js"></script>
	<script language="JavaScript" type="text/javascript" src="@@{templatepath}@@/Spry/xpath.js"></script>
	<script language="Javascript" type="text/javascript" src="@@{templatepath}@@/Spry/SpryNestedXMLDataSet.js"></script>
	<script language="Javascript" type="text/javascript" src="@@{templatepath}@@/Spry/SpryCollapsiblePanel.js"></script>
	<script language="Javascript" type="text/javascript" src="@@{templatepath}@@/js/SpryExtensions.js"></script>

	<script type="text/javascript">

		var dsUserdata = new Spry.Data.XMLDataSet("@@{[dataserver.getuserinformation]}@@", "container/element");
		dsUserdata.setColumnType("user_id", "number");

		var dsUserroles = new Spry.Data.XMLDataSet("@@{[dataserver.getuserroles]}@@", "container/element");
		var dsGroups = new Spry.Data.XMLDataSet("@@{[dataserver.getgroups]}@@", "container/element");

		function deleteUser(id, count, name)
		{		
			if (count > 0)
			{
				alert("Sie können keinen Benutzer löschen, der noch aktiv Aufgaben bearbeitet.\nBitte sorgen Sie dafür, dass der Benutzer seine Aufgaben beendet, bevor Sie ihn löschen.");
				return;
			}
		
			var answer = window.confirm("Wollen Sie den Benutzer '" + name + "' wirklich löschen?\n\nWARNUNG: Alle Aufgaben- und Tätigkeitsbeschreibungen\ndes Benutzers werden ebenfalls aus dem System entfernt!\n\nFalls Sie dem Benutzer nur den Zugang zum System verwehren,\naber seine Aufgaben- und Tätigkeitsbeschreibungen behalten wollen,\ndeaktivieren Sie bitte seinen Konto.");

			if (answer == true)
			{
			   window.location.href = "@@{[users.deleteuser]}@@"+"&id="+id;
			}
		}

		function activateUser(id, status, count, name)
		{		
			if (count > 0)
			{
				alert("Sie können kein Benutzerkonto deaktivieren, das noch aktiv Aufgaben bearbeitet.\nBitte sorgen Sie dafür, dass der Benutzer seine Aufgaben beendet, bevor Sie sein Konto deaktivieren.");
				return;
			}

			if (status > 0)
			{
				var answer = window.confirm("Wollen Sie das Benutzerkonto '" + name + "' wirklich deaktivieren?");
				if (answer == true)
				{
				   window.location.href = "@@{[users.deactivateuser]}@@"+"&id="+id;
				}
			}
			else
			{
				var answer = window.confirm("Wollen Sie den Benutzerkonto '" + name + "' wirklich aktivieren?");
				if (answer == true)
				{
				   window.location.href = "@@{[users.activateuser]}@@"+"&id="+id;
				}
			}
		}

		function updateSearch()
		{
			document.searchform.submit();
		}


		function filterGroup()
		{
			filterParameter = document.getElementById('filter_group').value;
			filterSpryDataset('group_name', filterParameter, dsUserdata, false);
		}


		function filterUserrole()
		{
			filterParameter = document.getElementById('filter_userrole').value;
			filterSpryDataset('userrole_id', filterParameter, dsUserdata, true);
		}

	</script>

<!-- InstanceEndEditable -->
</head>

<body>

<div id="Tooltip" class="tooltip" style="display:none; text-align:left;"></div>

<div class="headmenu">
	<!-- TemplateBeginBlock name="logoutbutton" -->
	<div class="menuicon" style="float:right; margin-top:5px;">
	
	<a href="@@{[configuration.index]}@@"><span onmousemove="showTooltip('Persönliche Einstellungen', event)" onmouseout="hideTooltip()">
	<img src="@@{templatepath}@@/nuvola/48x48/apps/kcmsystem.png" alt="" border="0" /></span></a>
	
	<a href="@@{[help.index]}@@@@{helptopic}@@" target="_blank"><span onmousemove="showTooltip('Hilfe', event)" onmouseout="hideTooltip()">
	<img src="@@{templatepath}@@/nuvola/48x48/apps/filetypes.png" alt="" border="0" /></span></a>	

	<a href="@@{[main.logout]}@@"><span onmousemove="showTooltip('Logout', event)" onmouseout="hideTooltip()">
	<img src="@@{templatepath}@@/nuvola/48x48/actions/exit.png" alt="" border="0" /></span></a>
	
	</div>
	<!-- TemplateEndBlock -->
</div>

<div class="maincontent">

<!-- TemplateBeginBlock name="navigation" -->
	<div class="headerbox">
		<div style="float:left; margin:10px;"><a href="@@{[main.index]}@@"><span onmousemove="showTooltip('Hauptseite', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/actions/gohome.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasks.index]}@@"><span onmousemove="showTooltip('Eigene Aufgaben', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/klipper.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[adhoc.index]}@@"><span onmousemove="showTooltip('Ad-Hoc-Tätigkeit eintragen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/karm.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[reports.index]}@@"><span onmousemove="showTooltip('Reports', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kchart.png" alt="" border="0" /></span></a></div>		
		
		<!-- TemplateBeginBlock name="managernavigation" -->
		<div style="float:left; margin:10px; margin-left:40px;"><a href="@@{[tasks.addtask]}@@"><span onmousemove="showTooltip('Neue Aufgabe anlegen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kword.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasks.showactivetasks]}@@"><span onmousemove="showTooltip('Alle aktiven Aufgaben anzeigen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kpager.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[search.index]}@@"><span onmousemove="showTooltip('Aktive Aufgaben suchen', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kpdf.png" alt="" border="0" /></span></a></div>
		<!-- TemplateEndBlock -->

		<!-- TemplateBeginBlock name="adminnavigation" -->
		<div style="float:left; margin:10px; margin-left:40px;"><a href="@@{[users.index]}@@"><span onmousemove="showTooltip('Benutzer verwalten', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/mimetypes/vcard.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[groups.index]}@@"><span onmousemove="showTooltip('Gruppen verwalten', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/kdmconfig.png" alt="" border="0" /></span></a></div>
		<div style="float:left; margin:10px;"><a href="@@{[tasktypes.index]}@@"><span onmousemove="showTooltip('Aufgabenabläufe verwalten', event)" onmouseout="hideTooltip()">
		<img src="@@{templatepath}@@/nuvola/48x48/apps/fsview.png" alt="" border="0" /></span></a></div>
		<!-- TemplateEndBlock -->
		
		<div style="clear:both"></div>
	</div>
<!-- TemplateEndBlock -->

<!-- InstanceBeginEditable name="pagetitle" -->
<!-- InstanceEndEditable -->

	<!-- TemplateBeginBlock name="usermessage" -->
		<h3 class="usermessage"><img src="@@{templatepath}@@/nuvola/16x16/actions/ok.png" alt="" align="left" style="margin-right:5px;" /> @@{usermessage}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="userwarnings" -->
		<h3 class="userwarning"><img src="@@{templatepath}@@/nuvola/16x16/actions/messagebox_info.png" alt="" align="left" style="margin-right:5px;" /> @@{userwarning}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="usererrors" -->
		<h3 class="usererror"><img src="@@{templatepath}@@/nuvola/16x16/actions/no.png" alt="" align="left" style="margin-right:5px;" /> @@{usererror}@@</h3>
	<!-- TemplateEndBlock -->
	
<!-- InstanceBeginEditable name="body" -->

<!--
<div class="textbox">
	<h3><img src="@@{templatepath}@@/nuvola/22x22/actions/view_bottom.png" alt="" align="left" style="margin-right:10px;" /> <a href="@@{[users.adduser]}@@" alt="add new user">Add new user</a></h3>
</div>
-->

	<div id="FilterOverview" class="CollapsiblePanel, textbox">
		<div class="CollapsiblePanelTab">
			<h2 style="text-align:left; background:#B5BD82; padding:5px;">Filter anwenden
			<span style="float:right; margin-top:-20px;"><img src="@@{templatepath}@@/nuvola/22x22/actions/1uparrow.png" alt="" name="groupIcon" align="left" border="0" /><img src="@@{templatepath}@@/nuvola/22x22/actions/1downarrow.png" alt="" name="groupIcon" align="left" border="0" /></span>
			</h2>
		</div>
	
		<div class="CollapsiblePanelContent">
			
			<form name="searchform" method="post" action="@@{[users.index]}@@">
			<table border="0" cellpadding="0" cellspacing="0" cellpadding="0" cellspacing="0" style="margin-top:10px;">
				<tr>
					<td width="130" valign="top" rowspan="3">
						<p><img src="@@{templatepath}@@/nuvola/128x128/apps/kghostview.png" alt="Filter users" border="0" /></p>
					</td>
					<td align="left" valign="middle">
						<p class="formlabel">Gruppe anzeigen</p>
					</td>
					<td align="left" valign="middle">
						<div spry:region="dsGroups">
						<select id="filter_group" name="filter_group" class="formtext" style="width:255px;" onchange="filterGroup()">
							<option value="-1">Alle Gruppen</option>
							<option spry:repeat="dsGroups" value="{group_name}">{group_name}</option>
						</select>
						</div>
					</td>
				</tr>
				<tr>
					<td align="left" valign="middle">
						<p class="formlabel">Benutzerrollen anzeigen</p>
					</td>
					<td align="left" valign="middle">
						<div spry:region="dsUserroles">
						<select id="filter_userrole" name="filter_userrole" class="formtext" style="width:255px;" onchange="filterUserrole()">
							<option value="-1">Alle Rollen</option>
							<option spry:repeat="dsUserroles" value="{userrole_id}">{userrole_name}</option>
						</select>
						</div>
					</td>
				</tr>
				<tr>
					<td align="left" valign="middle">&nbsp;</td>
					<td align="left" valign="middle">&nbsp;</td>
				</tr>
			</table>
			</form>
		
		</div>
	</div>
	
	<div class="textbox">
		<h3><img src="@@{templatepath}@@/nuvola/22x22/actions/view_bottom.png" alt="" align="left" style="margin-right:10px;" /> <a href="@@{[users.adduser]}@@">Neuen Benutzer hinzufügen</a></h3>
	</div>
		
	<div class="textbox">
	<h2>Benutzerverwaltung</h2>
	
		<div spry:region="dsUserdata">
			<div spry:state="loading"><p style="text-align:center;"><img src="@@{templatepath}@@/images/loading.gif" alt="" /></p></div>
		
			<div spry:state="ready">
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr class="tablehead">
						<th><p style="text-align:center;"><a onclick="dsUserdata.sort('user_active');" class="sortlink">A</a></p></th>
						<th><p><a onclick="dsUserdata.sort('user_username');" class="sortlink">Name/Anmeldung</a></p></th>
						<th><p><a onclick="dsUserdata.sort('user_username');" class="sortlink">Benutzerrolle</a></p></th>
						<th><p style="text-align:center;"><a onclick="dsGroups.sort('user_taskcount');" class="sortlink">Aktive Aufgaben<br />des Benutzers</a></p></th>
						<th style="width:90px;"><p class="thtext">Aktion</p></th>
					</tr>
	
					<tr class="{ds_EvenOddRow}" spry:repeat="dsUserdata">
						<td><p style="text-align:center;">
						<span spry:if="{dsUserdata::user_active} == '0'"><span onmousemove="showTooltip('Benutzerkonto ist deaktiviert', event)" onmouseout="hideTooltip()">
							<a href="javascript:activateUser({dsUserdata::user_id}, {dsUserdata::user_active}, {dsUserdata::user_taskcount}, '{dsUserdata::user_username}')"><img src="@@{templatepath}@@/nuvola/16x16/actions/ledred.png" alt="Benutzerkonto ist deaktiviert" border="0" /></a>
						</span></span>
						<span spry:if="{dsUserdata::user_active} == '1'"><span onmousemove="showTooltip('Benutzerkonto ist aktiv', event)" onmouseout="hideTooltip()">
							<a href="javascript:activateUser({dsUserdata::user_id}, {dsUserdata::user_active}, {dsUserdata::user_taskcount}, '{dsUserdata::user_username}')"><img src="@@{templatepath}@@/nuvola/16x16/actions/ledgreen.png" alt="Benutzerkonto ist aktiv" border="0" /></a>
						</span></span>
						</p></td>
						<td><p>{dsUserdata::userdata_firstname} {dsUserdata::userdata_lastname} (<a href="mailto:{dsUserdata::user_username}">{dsUserdata::user_username}</a>)</p></td>
						<td><p>{dsUserdata::userrole_name}</p></td>
						<td><p style="text-align:center;">{dsUserdata::user_taskcount}</p></td>
						<td><p style="text-align:right;">
						<span onmousemove="showTooltip('Benutzer bearbeiten', event)" onmouseout="hideTooltip()"><a href="@@{[users.edituser]}@@&id={dsUserdata::user_id}"><img src="@@{templatepath}@@/nuvola/22x22/apps/kate.png" alt="Benutzer bearbeiten" border="0" /></a></span> &nbsp; 
						<span onmousemove="showTooltip('Benutzer löschen', event)" onmouseout="hideTooltip()"><a href="javascript:deleteUser({dsUserdata::user_id}, {dsUserdata::user_taskcount}, '{dsUserdata::user_username}')"><img src="@@{templatepath}@@/nuvola/22x22/filesystems/trashcan_full.png" alt="Benutzer löschen" border="0" /></a></span>
						</p></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

<script type="text/javascript">
	var FilterOverview = new Spry.Widget.CollapsiblePanel("FilterOverview", {contentIsOpen:false});
</script> 

<!-- InstanceEndEditable -->

</div>
<div class="copyright">@@{versioninfo}@@</div>

</body>
<!-- InstanceEnd --></html>
