<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml"><!-- InstanceBegin template="/Templates/pokendesign.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Pokendesign - Wie man Pokendesigns nutzt</title>
<!-- InstanceEndEditable -->

<script src="http://missionpoken.de/mint/?js" type="text/javascript"></script>
<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
<link rel="icon" type="image/png" href="favicon.png" />
      
<link rel="stylesheet" type="text/css" href="@@{templatepath}@@/css/pokendesign.css" />

<script language="javascript" type="text/javascript">

</script>
	
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>

<script type="text/javascript">
    FB.init("d97bffa46e6502450d458215b5afd05e", "xd_receiver.htm");
</script>

	<div id="header">
    <div id="menu">
    	<table border="0">
        <tr><td>
			<a href="@@{[main.index]}@@"><img alt="Poken" id="logo" src="@@{templatepath}@@/images/missionpoken-weiss.png" border="0" /></a>
        </td><td>
	
		<!-- TemplateBeginBlock name="userunknown" -->
				<div id="welcomemessage">Willkommen auf Pokendesign!</div>
                <div id="mainmenu">
				<a href="@@{[cards.index]}@@">Karten entdecken</a>
   				<a href="@@{[cards.topten]}@@">Top 10</a>
				<a href="@@{[main.howto]}@@">Pokendesigns nutzen</a>
				<a href="@@{[main.login]}@@">Karte hinzufügen</a>
                <fb:login-button></fb:login-button>
                </div>
		<!-- TemplateEndBlock -->
	
		<!-- TemplateBeginBlock name="userloggedin" -->
				<div id="welcomemessage">Hallo @@{username}@@, schön dich wieder zu sehen!</div>
                <div id="mainmenu">
				<a href="@@{[cards.index]}@@">Karten entdecken</a>
   				<a href="@@{[cards.topten]}@@">Top 10</a>
				<a href="@@{[main.howto]}@@">Pokendesigns nutzen</a>
				<a href="@@{[member.index]}@@">Deine Karten</a>
				<a href="@@{[member.addcard]}@@">Karte hinzufügen</a>
				<a href="@@{[member.editprofile]}@@">Dein Profil</a>
				<a href="@@{[main.logout]}@@">Ausloggen</a>
                </div>
		<!-- TemplateEndBlock -->
        
        </td>
        </tr></table>
    </div>
	</div>

	<!-- TemplateBeginBlock name="usermessage" -->
		<h3 class="usermessage">@@{usermessage}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="userwarnings" -->
		<h3 class="userwarning">@@{userwarning}@@</h3>
	<!-- TemplateEndBlock -->

	<!-- TemplateBeginBlock name="usererrors" -->
		<h3 class="userwarning">@@{usererror}@@</h3>
	<!-- TemplateEndBlock -->

	<div id="content">
	<!-- InstanceBeginEditable name="body" -->
    
    <h1>Wie man Pokendesigns nutzt</h1>
    
    <p>Hier eine Anleitung, wie ihr die hier gezeigten Hintergründe in euren Poken-Visitenkarten nutzen könnt:</p>
	
    <div style="width:610px;">
    <table cellspacing="10" border="0">
        <tr>
            <td valign="top" width="45"><h1 style="margin-top:0px;">1.</h1></td>
            <td valign="top">
                <p><img alt="" src="@@{templatepath}@@/images/howto_2.jpg" /><br />Suche zunächst ein Pokendesign aus, welches dir gefällt. Klicke dann auf die Karte, um auf deren Detailseite zu gelangen. Mit "Download" kannst du nun die Karte auf deinem Computer speichern.</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="45"><h1 style="margin-top:0px;">2.</h1></td>
            <td valign="top"><p><img alt="" src="@@{templatepath}@@/images/howto_3.jpg" /><br />Melde dich bei <a href="http://www.doyoupoken.com" target="_blank">www.doyoupoken.com</a> mit deinem Account an.</p></td>
        </tr>
        <tr>
            <td valign="top" width="45"><h1 style="margin-top:0px;">3.</h1></td>
            <td valign="top"><p><img alt="" src="@@{templatepath}@@/images/howto_4.jpg" border="1" /><br />Klicke oben auf "Identities" bzw. "Identitäten" im Hauptmenü. Wähle dort dein Profil, welches du mit dem Hintergrund ausstatten willst.</p></td>
        </tr>
        <tr>
            <td valign="top" width="45"><h1 style="margin-top:0px;">4.</h1></td>
            <td valign="top"><p><img alt="" src="@@{templatepath}@@/images/howto_5.jpg" border="1" /><br />Klicke unten rechts auf den Menüpunkt "Personalize Card Design".</p></td>
        </tr>
        <tr>
            <td valign="top" width="45"><h1 style="margin-top:0px;">5.</h1></td>
            <td valign="top"><p><img alt="" src="@@{templatepath}@@/images/howto_6.jpg" /><br />Wähle im Popup-Menü das in Schritt 1 heruntergeladene Pokendesign, klicke auf "Upload" und fertig! Du hast nun dein Pokendesign als Hintergrund für deine Poken-Visitenkarte.</p></td>
        </tr>
    </table>
    
    </div>

<!-- InstanceEndEditable -->

	</div>
	
	<div id="footer">
		Ein Service von <a id="service" href="http://missionpoken.de/">missionpoken.de</a> und <a id="service" href="http://pokenpokes.de/">pokenpokes.de</a> - 
		<a id="impressum" href="http://missionpoken.de/impressum/">Impressum</a> - 
		<a id="datenschutz" href="http://missionpoken.de/datenschutzerklaerung/">Datenschutzerklärung</a> - 
		<a id="agb" href="http://missionpoken.de/agb-und-wiederrufsbelehrung-von-missionpokende/">AGB und Widerrufsbelehrung</a>
		<a id="english" href="http://www.pokendesign.com"><img alt="English" id="localeflag1" src="@@{templatepath}@@/images/uk.gif" border="0" /></a>
		<a id="german" href="http://www.pokendesign.de"><img alt="German" id="localeflag2" src="@@{templatepath}@@/images/de.gif" border="0" /></a>
	</div>

</body>
<!-- InstanceEnd --></html>
